<p>ticket-devolucion works!</p>
<!-- MODAL PARA LA GESTION DEL PAGO -->
<div
  class="modal fade"
  bsModal
  #staticModalPagar="bs-modal"
  [config]="{ backdrop: 'static' }"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-static-name"
>
  <div class="modal-dialog" style="min-width: 80% !important; display: none;">
    <div class="modal-content">
      <div class="modal-header" style="background: #2c539e; padding: 15px">
        <h4
          id="dialog-static-name"
          class="modal-title pull-left"
          style="color: aliceblue"
        >
          Información de pago
        </h4>
        <div class="d-flex">
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="closeModalPagar()"
          >
            <span aria-hidden="true" style="color: aliceblue">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <button class="btn btn-secondary" (click)="imprimir()">Imprimir</button>
        <div
          #print_ticket
          id="print_ticket"
          [ngStyle]="{
            'max-width': anchoTicket +'px',
            'font-size': sizeLetraTicket+'px'
          }"
          style="
            font-style: normal;
            line-height: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
          "
        >
          <!-- Sucursal -->

          <table
            style="
              width: 100%;
              font-family: 'Arial';
            "
          >
            <tr>
              <td style="text-align: center">
                <h5 style="text-align: center; margin-bottom: 5px;">Devolución</h5>
              </td>
            </tr>

            <tr>
              <td style="text-align: center">
                <h3
                 style="text-align: center; margin-bottom: 5px;">{{ sucursal?.nombre }}</h3>
              </td>
            </tr>
            <tr *ngIf="sucursal?.logo">
              <td 
              style="text-align: center;"><img src="{{sucursal?.logo}}" alt="Puvesoft" /></td>
            </tr>
            <tr *ngIf="sucursal?.nit">
              <td 
              [ngStyle]="{
                'font-size': sizeLetraTicket+'px'
              }
              "
              style="text-align: center">
                <span>{{ sucursal?.nit }}</span>
              </td>
            </tr>
            <tr>
              <td [ngStyle]="{
                'font-size': sizeLetraTicket+'px'
              }
              "
              style="text-align: center">
                <span>{{ sucursal?.direccion }} - {{sucursal?.telefono}}</span>
              </td>
            </tr>
            <tr>
              <td [ngStyle]="{
                'font-size': sizeLetraTicket+'px'
              }
              "
              style="text-align: center;">
                <span
                  >{{ sucursal?.departamento }} -
                  {{ sucursal?.municipio }}</span
                >
              </td>
            </tr>
            <tr *ngIf="sucursal?.regimen">
              <td [ngStyle]="{
                'font-size': sizeLetraTicket+'px'
              }
              "
               style="text-transform: capitalize; text-align: center;">
               {{ sucursal?.regimen }}
              </td>
            </tr>
          </table>

          <table [ngStyle]="{
            'font-size': sizeLetraTicket+'px'
          }
          "
            style="
              width: calc(100% - 35px);
              margin-top: 15px;
              font-family: 'Arial';
            "
          >
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center"
                  >Devolución No.</span
                >
                <span>{{ ticket?.devolucion?.cod_devolucion }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center"
                  >Fecha:</span
                >
                <span>{{ ticket?.devolucion?.created_at }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center"
                  >NIT/Doc cliente:</span
                >
                <span>{{ ticket?.cliente?.documento }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center"
                  >Cliente:</span
                >
                <span>{{ ticket?.cliente?.nombre }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center"
                  >Atendió:</span
                >
                <span>{{ ticket?.atendio?.nombre }}</span>
              </td>
            </tr>
            <tr *ngIf="ticket?.mesa">
              <td>
                <span style="font-weight: bolder; text-align: center"
                  >Mesa:</span
                >
                <span>{{ ticket?.mesa?.nombre }}</span>
              </td>
            </tr>
          </table>

          <table [ngStyle]="{
            'font-size': sizeLetraTicket+'px'
          }
          "
            style="
              width: 100%;
              margin-top: 15px;
              font-family: 'Arial';
            "
          >
            <thead>
              <tr>
                <th>CAN</th>
                <th style="text-align: left;">DESCRIPCIÓN</th>
                <th *ngIf="canShowTotals" style="text-align: right;">VALOR</th>
                <th *ngIf="canShowTotals" style="text-align: right;">TOTAL</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of ticket?.facturaVentaDetalle">
                <td>{{ item.cantidad }}</td>
                <td style="text-align: left;">{{ item.nombre }}</td>
                <td *ngIf="canShowTotals" style="text-align: right;">
                  {{ formatearNumber(item.valor_venta) }}
                </td>
                <td *ngIf="canShowTotals" style="text-align: right;">{{ formatearNumber(item.total) }}</td>
              </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" style="text-align: center;">
                        <b>TOTAL DEVOLUCIÓN {{ formatearNumber(total) }}</b>
                    </td>
                </tr>
            </tfoot>
          </table>

          <div style="text-align: center; margin-top: 8px; font-family: Arial;">
            <p
              style="
                font-size: 9px;
                padding: 0 !important;
                margin: 0 !important;
              "
            >
            Generado por {{nameSite}}
            </p>
            <p  *ngIf="ticket?.facturaVenta?.estado_id != 2"
              style="
                font-size: 9px;
                padding: 0 !important;
                margin: 0 !important;
              "
            >
            Visítanos {{ ticket?.infoRevendedor?.web }} | Cel: {{ ticket?.infoRevendedor?.telefono }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
