<!-- MODAL PARA LA GESTION DEL PAGO -->
<div
  class="modal fade"
  bsModal
  #staticModalPagar="bs-modal"
  [config]="{ backdrop: 'static' }"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-static-name"
>
  <div class="modal-dialog" style="min-width: 80% !important; display: none;">
    <div class="modal-content">
      <div class="modal-header" style="background: #2c539e; padding: 15px">
        <h4
          id="dialog-static-name"
          class="modal-title pull-left"
          style="color: aliceblue"
        >
          Información de pago
        </h4>
        <div class="d-flex">
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="closeModalPagar()"
          >
            <span aria-hidden="true" style="color: aliceblue">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <button class="btn btn-secondary" (click)="imprimir()">Imprimir</button>
        <div
          #print_ticket
          id="print_ticket"
          [ngStyle]="{
            'max-width': anchoTicket +'px',
            'font-size': sizeLetraTicket+'px'
          }"
          style="
            font-style: normal;
            line-height: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
          "
        >
          <!-- Sucursal -->

          <table
            style="
              width: 100%;
              font-family: 'Arial';
            "
          >
            <tr>
              <td style="text-align: center">
                <h4 style="text-align: center">Abono De Compra</h4>
              </td>
            </tr>

            <tr>
              <td style="text-align: center">
                <h3
                 style="text-align: center; margin-bottom: 5px;">{{ sucursal?.nombre }}</h3>
              </td>
            </tr>
            <tr *ngIf="sucursal?.logo">
              <td 
              style="text-align: center;"><img src="{{sucursal?.logo}}" alt="Puvesoft" /></td>
            </tr>
            <tr *ngIf="sucursal?.nit">
              <td 
              [ngStyle]="{
                'font-size': sizeLetraTicket+'px'
              }
              "
              style="text-align: center">
                <span>{{ sucursal?.nit }}</span>
              </td>
            </tr>
            <tr>
              <td [ngStyle]="{
                'font-size': sizeLetraTicket+'px'
              }
              "
              style="text-align: center">
                <span>{{ sucursal?.direccion }} - {{sucursal?.telefono}}</span>
              </td>
            </tr>
            <tr>
              <td [ngStyle]="{
                'font-size': sizeLetraTicket+'px'
              }
              "
              style="text-align: center;">
                <span
                  >{{ sucursal?.departamento }} -
                  {{ sucursal?.municipio }}</span
                >
              </td>
            </tr>
            <tr *ngIf="sucursal?.regimen">
              <td [ngStyle]="{
                'font-size': sizeLetraTicket+'px'
              }
              "
               style="text-transform: capitalize; text-align: center;">
               {{ sucursal?.regimen }}
              </td>
            </tr>
          </table>

          <table
          [ngStyle]="{
            'font-size': sizeLetraTicket +'px'
          }
          "
            style="
              width: calc(100% - 35px);
              margin-top: 15px;
              font-family: 'Arial';
            "
          >
            <tr>
              <td>
                <span style="font-weight: bold; text-align: center"
                  >Factura No.</span
                >
                <span>{{ ticket?.facturaVenta?.cod_factura }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bold; text-align: center"
                  >Fecha:</span
                >
                <span>{{ ticket?.facturaVenta?.fecha_credito }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bold; text-align: center"
                  >Fecha venc:</span
                >
                <span>{{ ticket?.facturaVenta?.fecha_vencimiento }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bold; text-align: center"
                  >NIT/Doc Proveedor:</span
                >
                <span>{{ ticket?.facturaVenta?.proveedor_documento }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bold; text-align: center"
                  >Proveedor:</span
                >
                <span>{{ ticket?.facturaVenta?.proveedor_nombre }}</span>
              </td>
            </tr>
          </table>

          <table
          [ngStyle]="{
            'font-size': sizeLetraTicket+'px'
          }
          "
            style="
              width: 100%;
              margin-top: 15px;
              font-family: 'Arial';
            "
          >
            <thead>
              <tr>
                <th colspan="2" style="text-align: left;">VALOR CREDITO</th>
                <th style="text-align: right;">{{ formatearNumber(ticket?.valorCredito)}}</th>
              </tr>
              <tr>
                <th colspan="3" style="text-align: left;">TODOS LOS ABONOS</th>
              </tr>
              <tr>
                <th style="text-align: left;">FECHA</th>
                <th style="text-align: right;">TIPO</th>
                <th style="text-align: right;">ABONO</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of ticket?.abonos">
                <td>{{ item.created_at | date:'y-MM-d h:mm:ss a' }}</td>
                <td style="text-align: right;">{{ item.nombre }}</td>
                <td *ngIf="canShowTotals" style="text-align: right;">
                  {{ formatearNumber(item.valor) }}
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2" style="font-weight: bold;">TOTAL ABONO</td>
                <td style="text-align: right;">{{formatearNumber(ticket?.totalAbonos)}}</td>
              </tr>
              <tr>
                <td colspan="2" style="font-weight: bold;">TOTAL PENDIENTE</td>
                <td style="text-align: right;">{{formatearNumber(ticket?.valorPendiente)}}</td>
              </tr>
            </tfoot>
          </table>

          <div style="text-align: center; margin-top: 8px; font-family: Arial;">
            <p style="
              font-size: 9px;
              padding: 0 !important;
              margin: 0 !important;
              font-family: 'Arial';
            "
            >
            Generado por {{nameSite}}
            </p>
            <p style="
              font-size: 9px;
              padding: 0 !important;
              margin: 0 !important;
            "
            >
            Visítanos {{ticket?.infoRevendedor?.web}} | Cel: {{ticket?.infoRevendedor?.telefono}}
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
