<table>
  <tbody>
    <tr class="well">
      <td style="font-size: 10px; cursor: pointer; text-align: center">
        <ul (click)="navigator('./informe-compras/devoluciones')" style="
            margin-bottom: 0px;
            line-height: 10px;
            width: 80px;
            padding-left: 10px;
          ">
          <span class="text-muted text-small">
            <span style="display: block">Historial</span>
            <span style="display: block; margin-bottom: 4px">Devoluciones</span>
          </span>
          <i class="bi bi-journal-text" style="font-size: 28px; margin: 5px; color: #0d549e"></i>
        </ul>
      </td>
      <td style="font-size: 10px; cursor: pointer; text-align: center" title="Notas de ajustes a documentos soportes">
        <ul (click)="navigator('./informe-compras/devoluciones/historialAjusteDocumentosSoporte/4/3')" style="
            margin-bottom: 0px;
            line-height: 12px;
            width: 65px;
            padding-left: 10px;
          ">
          <span class="text-muted text-small">
            <span style="display: block">Notas Doc.</span>
            <span style="display: block; margin-bottom: 4px"> Soporte</span>
          </span>
          <i class="bi bi-journal-medical" style="font-size: 28px; color: #13a344; margin: 5px"></i>
        </ul>
      </td>
    </tr>
  </tbody>
</table>