<div class="row" *ngIf="loaded; else loading">
  <div class="modal fade" bsModal #staticModal2="bs-modal" [config]="{ backdrop: 'static' }" tabindex="-1" role="dialog"
    aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-lg2">
      <div class="modal-content">
        <div class="modal-header">
          <h6 id="dialog-static-name" class="modal-title pull-left">
            Vista previa del documento.
          </h6>
          <button class="rounded" style="
              border: 0px;
              margin-left: 28%;
              padding-left: 10px;
              padding-right: 15px;
            " ngxPrint printSectionId="printThis">
            <img src="../../../../../assets/logos/pdf.png" tooltip="Exportar a PDF" placement="auto"
              style="width: 35px; padding-bottom: 5px" />
            Imprimir o Descargar
          </button>
          <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal2()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 80vh; overflow-y: auto">
          <!-- 'printThis' is template reference -->
          <div #printThis id="printThis">
            <div *ngIf="loaded2">
              <table style="
              width: 80%;
              border: 0px solid #000;
              text-align: center;
              font-family: Tahoma, Helvetica, sans-serif;
              margin-left: auto;
              margin-right: auto;
            ">
                <tr>
                  <td><img style="width: 190px" src="{{ logo }}" /></td>
                  <td style="text-align: center; font-size: 14px; color: #353535">
                    <b>INFORME {{ titleModule }}</b>
                  <td style="text-align: center; font-size: 14px; color: #353535">
                    <p style="margin-bottom: 0px;">
                      <b style="font-weight: bold;">{{ sucursal }}</b><br>
                      NIT: {{ nit }} <br>DIRECCIÓN: {{ direccion }}
                    </p>
                  </td>
                </tr>
              </table>
              <hr width="98%" />

              <table style="width: 100%;
              border: 1px solid rgb(70, 69, 69);
              border-collapse: collapse;
              font-family: sans-serif;">
                <ng-container *ngFor="let categoria of data; let i = index">
                  <!-- Valido para que muestre solo los servicios que tienen gasto -->
                  <ng-container *ngIf="categoria.inventario.length > 0">
                    <thead style="background: #48659d2b">
                      <tr style="
                      border: 1px solid #000;
                      font-size: 14px;
                      background: rgb(231, 231, 231);
                      text-align: center;
                    ">
                        <th colspan="10">{{ categoria.nombre }}</th>
                      </tr>
                      <tr style="background: rgb(231, 231, 231)">
                        <th scope="col" style="border: 1px solid rgb(70, 69, 69);padding-left: 10px;padding-right: 10px;text-align: center;">Item</th>
                        <th scope="col" style="border: 1px solid rgb(70, 69, 69);padding-left: 10px;padding-right: 10px;text-align: center;">Cod Barra</th>
                        <th scope="col" style="border: 1px solid rgb(70, 69, 69);padding-left: 10px;padding-right: 10px;text-align: center;">Producto</th>
                        <th scope="col" style="border: 1px solid rgb(70, 69, 69);padding-left: 10px;padding-right: 10px;text-align: center;">Cantidad</th>
                        <th scope="col" style="border: 1px solid rgb(70, 69, 69);padding-left: 10px;padding-right: 10px;text-align: center;">Valor de compra</th>
                        <th scope="col" style="border: 1px solid rgb(70, 69, 69);padding-left: 10px;padding-right: 10px;text-align: center;">Total</th>
                        <!-- 
                        <th scope="col" style="width: 90px; text-align: center">
                          Acción
                        </th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="
                          let inventario of categoria.inventario;
                          let i = index
                        " style="
          height: 28px;
          font-family: Tahoma, Helvetica, sans-serif;
          font-size: 12px;
        ">
                        <td scope="row" style="border: 1px solid rgb(70, 69, 69);padding-left: 10px;padding-right: 10px;text-align: center;">
                          {{ i + 1 }}
                        </td>
                        <td style="border: 1px solid rgb(70, 69, 69);padding-left: 10px;padding-right: 10px;text-align: center;">
                          {{ inventario.cod_barra }}
                        </td>
                        <td scope="row" style="border: 1px solid rgb(70, 69, 69);padding-left: 10px;padding-right: 10px;text-align: left;">
                          {{ inventario.nombre }}
                        </td>
                        <td scope="row" style="border: 1px solid rgb(70, 69, 69);padding-left: 10px;padding-right: 10px;text-align: right;">
                          {{
                          formatearNumber(inventario.stock) +
                          " " +
                          inventario.medida
                          }}
                        </td>
                        <td scope="row" style="border: 1px solid rgb(70, 69, 69);padding-left: 10px;padding-right: 10px;text-align: right;">
                          {{ formatearNumber(inventario.valor_compra) }}
                        </td>

                        <td scope="row" style="border: 1px solid rgb(70, 69, 69);padding-left: 10px;padding-right: 10px;text-align: right;">
                          {{
                          formatearNumber(
                          inventario.stock * inventario.valor_compra
                          )
                          }}
                        </td>
                      </tr>
                    </tbody>
                    <tr style="
                        font-weight: 400;
                        color: #000000;
                        font-weight: bold;
                      ">
                      <td scope="row" style="width: 80px; text-align: right; font-size: 14px" colspan="5">
                        VALOR INVENTARIO DE {{ categoria.nombre }} 
                      </td>
                      <td scope="row" style="border: 1px solid rgb(70, 69, 69);padding-left: 10px;padding-right: 10px;text-align: right;">
                        {{
                        formatearNumber(categoria.total_inventario_categoria)
                        }}
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </table>

            </div>
          </div>
          <ng-template [ngIf]="!loaded2">
            <div class="spinner-border" style="
                width: 3rem;
                height: 3rem;
                margin-left: 50%;
                margin-top: 10%;
              " role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN MODAL PARA GENERAR INFORME -->

  <div class="col-lg-12 col-md-12 mb-4" style="padding: 0px">
    <div class="col col-sm" style="text-align: center">
      <H1 class="titulo text-center mb-0 ">Inventario por Categorías</H1>
    </div>
    <div class="row" style="padding-left: 30px">
      <div class="col">
        <div class="row float-left" style="padding-right: 30px; text-align: center">

        </div>
      </div>
      <div class="col">
        <div class="row float-right" style="padding-right: 30px; text-align: center">

          <div class="col">
            <span class="text-muted text-small">Exportar</span>
            <div class="row">
              <button style="background-color: transparent; border: 10px; padding-left: 0px;padding-right: 0px;"
                (click)="generateExcel()">
                <img src="../../../../../assets/logos/excel_1.png" tooltip="Exportar a Excel" placement="auto"
                  style="width: 30px; padding-bottom: 5px" />
              </button>&nbsp;&nbsp;&nbsp;
              <button style="background-color: transparent; border: 10px; padding-left: 0px;padding-right: 0px;"
                (click)="openModal2()">
                <img src="../../../../../assets/logos/pdf.png" tooltip="Exportar a PDF" placement="auto"
                  style="width: 30px; padding-bottom: 5px" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body" style="padding: 15px">
        <form [formGroup]="search">
          <div class="row">

            <div class="col-md-2">
              <label style="font-weight: bold; font-size: 12px">Categoria</label><br />
              <select required class="form-control mb-1 rounded" formControlName="categoria"
                (change)="buscarPorCategoria($event.target.value)">
                <option value="">TODAS</option>
                <ng-container *ngFor="let item of dataCategoria">
                  <option *ngIf="item.estado_id == 'ACTIVO'" [value]="item.codigo">
                    {{ item.nombre }}
                  </option>
                </ng-container>
              </select>
            </div>

            <div class="col-md-2 col-12 mb-2">
              <label style="font-weight: bold; font-size: 12px;">Bodega</label>
              <select required class="form-control rounded" formControlName="bodega" (change)="searchStoreProduct($event.target.value)">
                <option value="">TODAS</option>
                <ng-container *ngFor="let item of dataBodega">
                  <option [value]="item.codigo">{{ item.nombre | uppercase }}</option>
                </ng-container>
              </select>
            </div>
          </div>
          <br />
        </form>
        <ng-container *ngFor="let categoria of data; let i = index">
          <ng-container *ngIf="categoria && categoria.inventario && categoria.inventario.length == 0 && i==0">
            <div class="alert alert-info" role="alert">
              No hay Productos para esta categoria...
            </div>
          </ng-container>
          <!-- Valido para que muestre solo los servicios que tienen gasto -->
          <ng-container *ngIf="categoria && categoria.inventario && categoria.inventario.length > 0">
            <div class="row">
              <div class="col-md-6">
                <div style="display: block; overflow-y: auto">
                  <table class="table table-hover table-striped content-table table-bordered" style="border: 0px">
                    <thead style="background: #e9e9e9">
                      <tr>
                        <th colspan="10">{{ categoria.nombre }}</th>
                      </tr>
                      <tr style="color: rgb(44, 44, 44); text-align: center;">
                        <th>Item</th>
                        <th>Cod Barra</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Valor de compra</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="
                          let inventario of categoria.inventario;
                          let i = index
                        " style="font-weight: 400">
                        <td scope="row" style="width: 80px; text-align: center">
                          {{ i + 1 }}
                        </td>
                        <td scope="row" style="font-weight: 400; vertical-align: middle; text-align: center">
                          {{ inventario.cod_barra }}
                        </td>
                        <td scope="row" style="font-weight: 400; vertical-align: middle">
                          {{ inventario.nombre }}
                        </td>
                        <td scope="row" style="font-weight: 400; vertical-align: middle; text-align: right;">
                          {{
                          formatearNumber(inventario.stock) +
                          " " +
                          inventario.medida
                          }}
                        </td>
                        <td scope="row" style="
                            font-weight: 400;
                            vertical-align: middle;
                            text-align: right;
                          ">
                          {{ formatearNumber(inventario.valor_compra) }}
                        </td>

                        <td scope="row" style="
                            font-weight: 400;
                            vertical-align: middle;
                            text-align: right;
                          ">
                          {{
                          formatearNumber(
                          inventario.stock * inventario.valor_compra
                          )
                          }}
                        </td>
                      </tr>
                    </tbody>
                    <tr style="
                        font-weight: 400;
                        color: #000000;
                        font-weight: bold;
                      ">
                      <td scope="row" style="width: 80px; text-align: right; font-size: 14px" colspan="5">
                        VALOR INVENTARIO DE {{ categoria.nombre }}
                      </td>
                      <td scope="row" style="width: 80px; text-align: right; font-size: 14px">
                        {{
                        formatearNumber(categoria.total_inventario_categoria)
                        }}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="col-md-6">
                <div [chart]="chartArr[i]" #chart></div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
 <div class="text-center">  <img src="./assets/logos/Loading-Puvesoft.gif"
    style="width: 6rem; height: 6rem;  margin-top: 10%" /> </div>
</ng-template>