<!-- MODAL PARA LA GESTION DE LA COTIZACIÓN -->
<div
  class="modal fade"
  bsModal
  #staticModalPagar="bs-modal"
  [config]="{ backdrop: 'static' }"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-static-name"
>
<div class="modal-dialog" style="min-width: 50% !important">
    <div class="modal-content">
      <div class="modal-header" style="background: #2c539e; padding: 15px">
        <h4
          id="dialog-static-name"
          class="modal-title pull-left"
          style="color: aliceblue"
        >
          Información de cotización
        </h4>
        <div class="d-flex">
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="closeModalPagar()"
          >
            <span aria-hidden="true" style="color: aliceblue">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <form [formGroup]="formPago" autocomplete="off">
          <div class="row">
            <div class="form-group col-md-6 mb-1" style="text-align: center">
              <label for="" style="font-weight: bold; margin-bottom: 0px"
                >Cliente</label
              >
              <ng-select
                placeholder="Seleccione cliente"
                formControlName="cliente_id"
                (search)="getBuscarCliente($event.term)"
                (change)="onItemSelected($event)"
                (keydown)="onKeyDown($event)"
                 
              >
                <ng-option *ngFor="let car of _dataCliente" [value]="car.id">{{
                  car.documento + " - " + car.nombre
                }}</ng-option>
              </ng-select>
            </div>
            <div class="col-md-6 mb-1 d-flex flex-column justify-content-end" style="text-align: center">
              <button class="btn btn-primary" (click)="openCreateClient()">
                Crear Cliente
              </button>
            </div>
          </div>

          <div class="row mt-2">
            <div class="form-group col-md-6" style="text-align: center">
              <label for="" style="font-weight: bold; margin-bottom: 0px"
                >FECHA VENCIMIENTO</label
              >
              <input
                type="date"
                formControlName="fecha_vencimiento"
                class="form-control mb-1 rounded"
                style="height: 30px; padding-bottom: 0px; padding-top: 0px"
              />
            </div>
            <div class="form-group col-md-6" style="text-align: center">
              <label for="" style="font-weight: bold; margin-bottom: 0px">
                TOTAL A PAGAR
              </label>

              <label
                for=""
                style="
                  font-size: 17px;
                  font-weight: bold;
                  color: #000000;
                  text-align: center;
                "
                class="form-control mb-1 rounded"
              >
                $ {{ formatearNumber(formPago.get("valor_factura").value) }}
              </label>
            </div>
          </div>

          <div class="d-flex justify-content-end align-items-center">
            <button
              (click)="onSubmit()"
              class="btn btn-primary btn-shadow"
            >
              Procesar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
