/* Ocultar el contenido por defecto */
#print-section {
  display: none;
}

/* Mostrar la tabla solo en el contexto de impresión */
@media print {
  #print-section {
    display: block;
  }

  /* Oculta otros elementos en la página que no se imprimen */
  body *:not(#print-section) {
    visibility: hidden;
  }
}