<div *ngIf="loaded || count != 0; else loading">
  <div class="separator mb-2"></div>
  <div class="row">
    <!-- MODAL PARA GENERAR INFORME -->
    <div class="modal fade" bsModal #staticModalPdf="bs-modal" [config]="{ backdrop: 'static' }" tabindex="-1"
      role="dialog" aria-labelledby="dialog-static-name">
      <div class="modal-dialog modal-lg2">
        <div class="modal-content">
          <div class="modal-header oculto-impresion">
            <h6 id="dialog-static-name" class="modal-title pull-left">
              Vista previa del documento.
            </h6>
            <button class="rounded" style="
                border: 0px;
                margin-left: 28%;
                padding-left: 10px;
                padding-right: 15px;
              " ngxPrint printSectionId="printThis">
              <img src="../../../../../assets/logos/pdf.png" tooltip="Exportar a PDF" placement="auto"
                style="width: 35px; padding-bottom: 5px" />
              Imprimir o Descargar
            </button>
            <button type="button" class="close pull-right" aria-label="Close" (click)="closeModalPdf()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="height: 80vh; overflow-y: auto">
            <!-- 'printThis' is template reference -->
            <div #printThis id="printThis">
              <div *ngIf="loaded2; else loadingPdf">
                <report-master-tables [data]="dataReport" [headers]="headers" [title]="titleModule"
                  [listadoNominaElectronica]="true" [total]="totales" [fecha_inicial]="fechaInicial"
                  [fecha_final]="fechaFinal" [hora_inicial]="horaInicial" [hora_final]="horaFinal"
                  [page]="page"></report-master-tables>
              </div>
            </div>
            <ng-template #loadingPdf>
              <img src="./assets/logos/Loading-Puvesoft.gif" style="
                  width: 6rem;
                  height: 6rem;
                  margin-left: 50%;
                  margin-top: 10%;
                " />
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <!-- FIN MODAL PARA GENERAR INFORME -->

    <!--INICIO MODAL OBSERVACIÓN-->
    <div class="col-12">
      <div class="modal fade" bsModal #staticModal3="bs-modal" [config]="{ backdrop: 'static' }" tabindex="-1"
        role="dialog" aria-labelledby="dialog-static-name">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header" style="background: #2c539e">
              <h4 id="dialog-static-name" class="modal-title pull-left" style="color: aliceblue">
                Agregar Empleado Nómina
              </h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal3()">
                <span aria-hidden="true" style="color: aliceblue">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="formNominaElectronica" autocomplete="off">
                <div class="form-group">

                  <div class="form-group col-md-12">
                    <label for="inputDep" style="font-weight: 700">Empleado</label>

                    <select class="form-control mb-1" id="inputDep" formControlName="empleado" style="height: 27.2px">
                      <option disabled selected [value]="null">SELECCIONAR.</option>
                      <option *ngFor="let item of empleadosNoAgregados" [value]="item.id">
                        {{ item.primer_nombre }} {{ item.segundo_nombre }} {{ item.primer_apellido }} {{
                        item.segundo_apellido }}
                      </option>
                    </select>
                  </div>

                </div>

                <div class="d-flex justify-content-end align-items-center">
                  <button [disabled]="disabled" class="btn btn-primary btn-lg btn-shadow" (click)="observacion()">
                    Guardar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--FIN MODAL OBSERVACIÓN-->

    <div class="col-lg-12 col-md-12 mb-4 oculto-impresion" style="padding: 0px">
      <div class="row">
        <div class="col col-sm" style="text-align: center">
          <H1 class="titulo text-center mb-1">{{ titleModule }} <button class="btn btn-primary float-right"
                  (click)="goBack()" style="min-width: max-content;font-size: 14px; border-radius: 10px;"><i
                    class="iconsminds-arrow-left-2"></i>Regresar</button></H1>
        </div>
      </div>
      <div class="row" style="padding-left: 30px">
        <div class="col">
          <div class="row float-left" style="padding-right: 30px; text-align: center">
            <form [formGroup]="size" style="width: 80px">
              <span class="text-muted text-small">Por página</span>
              <select required class="form-control mb-1 rounded"
                style="height: 27px; padding-bottom: 0px; padding-top: 0px" formControlName="data" (change)="llamar()">
                <option *ngFor="let item of selects" [value]="item">
                  {{ item }}
                </option>
              </select>
            </form>
          </div>
        </div>

        <div class="col">
          <div class="row float-right" style="padding-right: 30px; text-align: center">
            <div class="col mt-2">
              <span class="text-muted text-small">Exportar</span>
              <div class="row">
                <button style="
                    background-color: transparent;
                    border: 10px;
                    padding-left: 0px;
                    padding-right: 0px;
                  " (click)="generateExcel()">
                  <img src="../../../../../assets/logos/excel_1.png" tooltip="Exportar a Excel" placement="auto"
                    style="width: 30px; padding-bottom: 5px" /></button>&nbsp;&nbsp;&nbsp;
                <button style="
                    background-color: transparent;
                    border: 10px;
                    padding-left: 0px;
                    padding-right: 0px;
                  " (click)="openModalPdf()">
                  <img src="../../../../../assets/logos/pdf.png" tooltip="Exportar a PDF" placement="auto"
                    style="width: 30px; padding-bottom: 5px" />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body" style="padding: 15px">
          <div class="row">
            <div class="col-12" style="margin-bottom: 20px;">
              <button style="height: 35px; border-radius: 10px; font-size: 14px" class="btn btn-primary" type="submit"
                (click)="openModal(null, 3)">
                Nuevo Empleado
              </button>
              <table class="float-right">
                <tr>
                  <td class="border">
                <tr>
                  <td>Mes:</td>
                  <td>{{dataNomina.periodo}}-{{ dataNomina.lectivo }}</td>
                </tr>
                </td>
                <td class="border">
                  <tr>
                    <td>Estado:</td>
                    <td>{{ dataNomina.estado }}</td>
                  </tr>
                </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <table class="text-center w-100 table border">
                <tr style="background-color: #27AE61;">
                  <td style="color: white;">DEVENGADOS</td>
                </tr>
                <tr>
                  <td>${{formatearNumber(total_devengado)}}</td>
                </tr>
              </table>
            </div>
            <div class="col-4">
              <table class="text-center w-100 table border">
                <tr style="background-color: #E77E22;">
                  <td style="color: white;">DEVOLUCIONES</td>
                </tr>
                <tr>
                  <td>${{formatearNumber(total_deducciones)}}</td>
                </tr>
              </table>
            </div>
            <div class="col-4">
              <table class="text-center w-100 table border">
                <tr style="background-color: #297FB8;">
                  <td style="color: white;">TOTAL</td>
                </tr>
                <tr>
                  <td>${{formatearNumber(total_salario)}}</td>
                </tr>
              </table>
            </div>
          </div>

          <form class="col-12" [formGroup]="search" class="mb-1">
            <div class="row">
              <div class="col-md-3 col-6">
                <label style="font-weight: bold; font-size: 12px">Empleado</label><br />
                <input type="text" class="form-control rounded" formControlName="empleado" placeholder="Buscar Empleado"
                  aria-label="Search" aria-describedby="search-addon" (keyup)="buscar()" />
              </div>

              <div class="col-md-3 col-6">
                <label style="font-weight: bold; font-size: 12px">Número Nómina</label><br />
                <input type="text" class="form-control rounded" formControlName="num_nomina" placeholder=""
                  aria-label="Search" aria-describedby="search-addon" (keyup)="buscar()" />
              </div>

              <div class="col-md-2 col-6">
                <label style="font-weight: bold; font-size: 12px">Tipo De Nómina</label><br />
                <select required class="form-control mb-1 rounded" formControlName="tipo_nomina">
                  <option [value]="''" selected>TODOS</option>
                  <ng-container *ngFor="let item of tipoNominaArr">
                    <option [value]="item.id">
                      {{ item.name | uppercase }}
                    </option>
                  </ng-container>
                </select>
              </div>
              <div class="col-md-2 col-6">
                <label style="font-weight: bold; font-size: 12px">Estado</label><br />
                <select required class="form-control mb-1 rounded" formControlName="estado">
                  <option [value]="''" selected>TODOS</option>
                  <ng-container *ngFor="let item of estadoNominaArr">
                    <option [value]="item.id">
                      {{ item.name | uppercase }}
                    </option>
                  </ng-container>
                </select>

              </div>

              <div class="col-md-2 d-flex justify-content-center" style="margin-top: 5px">
                <div class="row float-left" style="padding: 17px">
                  <button style="height: 35px; border-radius: 10px; font-size: 14px" class="btn btn-primary float-end"
                    type="submit" (click)="getHistorial(1, 1)">
                    Consultar
                  </button>
                </div>
              </div>
            </div>

          </form>

          <div style="display: block; overflow-y: auto">
            <table class="table table-hover table-striped content-table table-bordered" style="border: 0px">
              <thead style="background: #e9e9e9">
                <tr>
                  <th scope="col">Empleado</th>
                  <th scope="col">Número de Nómina</th>
                  <th scope="col">Fecha Creación</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Enviado</th>
                  <th scope="col">Devengado</th>
                  <th scope="col">Deducciones</th>
                  <th scope="col">Total</th>
                  <th scope="col">Días Laborados</th>
                  <th scope="col">Acción</th>
                </tr>
              </thead>
              <tbody *ngIf="loaded">
                <ng-container *ngIf="data?.length > 0; else nodata">
                  <tr [ngStyle]="{
                    'font-weight': 400,
                    'background-color': background(item.estado_id)
                  }" *ngFor="let item of data; let i = index">
                    <td scope="row" style="
                      font-weight: 400;
                      vertical-align: middle;
                      text-align: left;
                    ">
                      {{ item.documento }}
                      <br>
                      {{ item.primer_nombre + " " + item.segundo_nombre + " " + item.primer_apellido + " " +
                      item.segundo_apellido }}
                    </td>
                    <td scope="row" style="
                      font-weight: 400;
                      vertical-align: middle;
                      text-align: left;
                    ">
                      Nómina
                      <br>
                      {{ item.prefijo + "" + ((item.cod_nomina) ?? "")}}
                    </td>
                    <td scope="row" style="
                        font-weight: 400;
                        vertical-align: middle;
                        text-align: left;
                      ">
                      {{ item.Fecha_Creacion}}
                    </td>
                    <td scope="row" style="font-weight: 400; vertical-align: middle; text-align: left;">
                      {{ item.descripcion }}
                    </td>
                    <td scope="row" style="font-weight: 400; vertical-align: middle; text-align: left;">
                      <span class="badge badge-success" style="font-size: 80%" [ngStyle]="{
                        'background-color': getColorState(item.estado_id)
                      }">
                        {{ item.estado }}</span>
                    </td>

                    <td scope="row" style="font-weight: 400; vertical-align: middle; text-align: center;">
                      <span class="badge badge-success" style="font-size: 13px" [ngStyle]="{
                        'background-color': getColorStateNominaEnviada(item.nomina_enviada)
                      }">
                        {{ item.nomina_enviada ? 'Sí' : 'No' }}</span>
                    </td>
                    
                    <td scope="row" style="font-weight: 400; vertical-align: middle; text-align: right;">
                      {{ formatearNumber(item.total_devengado) }}
                    </td>
                    <td scope="row" style="font-weight: 400; vertical-align: middle; text-align: right;">
                      {{ formatearNumber(item.total_deducciones) }}
                    </td>
                    <td scope="row" style="font-weight: 400; vertical-align: middle; text-align: right;">
                      {{ formatearNumber(item.total_salario) }}
                    </td>
                    <td scope="row" style="font-weight: 400; vertical-align: middle; text-align: right;">
                      {{ item.dias_laborados }}
                    </td>
                    <td scope="row" style="
                        font-weight: 400;
                        vertical-align: middle;
                        text-align: center;
                      ">
                      
                      <button data-toggle="tooltip" data-placement="top" title="Editar la nómina del empleado"
                        class="btn mr-1" style="padding: 0px; height: 20px"
                        [disabled]="disabledEnviando"
                        [routerLink]="['/informe/nominaElectronica/actualizar-nomina/' + this.nominaId + '/' + item.id + '/' + item.empleado_id ]">
                        <i class="bi bi-pencil-square" style="color: #484848"></i>
                      </button>

                      <ng-container *ngIf="isFacturaElectronica">
                        <button data-toggle="tooltip" data-placement="top" title="Enviar la nómina del empleado a la DIAN"
                          class="btn mr-1" style="padding: 0px; height: 20px"
                          [disabled]="disabledEnviando"
                          (click)="sendNominaElectronica(this.nominaId, item.id, item.empleado_id)">
                          <i class="bi bi-arrow-up-right-circle" style="color: #019d28"></i>
                        </button>
                      </ng-container>

                      <button data-toggle="tooltip" data-placement="top" title="Imprimir la nómina del empleado"
                        class="btn mr-1" style="padding: 0px; height: 20px"
                        (click)="openPdfInNewTab(this.nominaId, item.id, item.empleado_id)">
                        <i class="bi bi-file-earmark-pdf" style="color: #03498a"></i>
                      </button>

                      <button data-toggle="tooltip" data-placement="top" title="Eliminar la nómina del empleado"
                        class="btn mr-1" style="padding: 0px; height: 20px"
                        (click)="deleteNominaElectronica(this.nominaId, item.id, item.empleado_id)">
                      <i class="bi bi-trash3" style="color: #af1515"></i>
                      </button>

                    </td>

                    <!-- <td scope="row" style="
                        font-weight: 400;
                        vertical-align: middle;
                        text-align: center;
                      ">
                      <span *ngIf="item.legalStatus == 'ACCEPTED'" title="Aceptada" class="badge badge-success"
                        style="font-size: 80%">
                        {{ item.legalStatus }}</span>
                      <span *ngIf="
                          item.legalStatus != 'ACCEPTED' &&
                          item.legalStatus != 'DIAN_MANTENIMIENTO'
                        " title="Rechazada" class="badge badge-danger" style="font-size: 80%">
                        {{ item.legalStatus }}</span>

                      <span *ngIf="item.legalStatus == 'DIAN_MANTENIMIENTO'" title="Rechazada"
                        class="badge badge-warning" style="font-size: 80%">
                        {{ item.legalStatus }}</span>
                    </td>
                   -->
                  </tr>
                </ng-container>

                <ng-template #nodata>
                  <tr>
                    <td scope="row" colspan="10" class="text-muted" style="vertical-align: middle">
                      <h4 class="h4-sin">
                        Sin registros de ventas para el filtro aplicado
                      </h4>
                    </td>
                  </tr>
                </ng-template>
              </tbody>
              <tfoot *ngIf="!loaded && count > 0">
                <tr>
                  <td colspan="10">
                    <img src="../../../../../assets/logos/Loading-Puvesoft.gif"
                      style="width: 6rem; margin-left: calc(50% - 3rem)" />
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          Pagina: {{ (pages | async).length - 2 | json }}

          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm" style="display: flex; justify-content: center">
              <li class="pagination-prev page-item ng-star-inserted  {{
                  !(pages | async)[0].url ? 'disabled' : ''
                }}">
                <button class="page-link" aria-label="Previous" (click)="before()" [disabled]="!(pages | async)[0].url">
                  <span aria-hidden="true">&laquo;</span>
                </button>
              </li>

              <li *ngIf="pageClicked > 2" class="page-item">
                <button class="page-link" (click)="getHistorial(1, 'no')">
                  1
                </button>
              </li>

              <li *ngIf="pageClicked > 3" class="page-item">
                <span>...</span>
              </li>

              <ng-container *ngFor="let item of pages | async; let i = index">
                <li *ngIf="
                    i != 0 &&
                    i != (pages | async).length - 1 &&
                    i >= pageClicked - 1 &&
                    i <= pageClicked + 1
                  " [classList]="botones(item.active)">
                  <button [disabled]="page == i" class="page-link" (click)="getHistorial(i, 'no')">
                    {{ i }}
                  </button>
                </li>
              </ng-container>

              <li *ngIf="pageClicked < last_page - 2" class="page-item">
                <span>...</span>
              </li>

              <li *ngIf="pageClicked < last_page - 1" class="page-item d-flex">
                <button class="page-link" (click)="getHistorial(last_page, 'no')">
                  {{ last_page }}
                </button>
              </li>

              <li class="pagination-next page-item ng-star-inserted {{
                  !(pages | async)[(pages | async).length - 1].url
                    ? 'disabled'
                    : ''
                }}">
                <button class="page-link" aria-label="Next" (click)="next()"
                  [disabled]="!(pages | async)[(pages | async).length - 1].url">
                  <span aria-hidden="true">&raquo;</span>
                </button>
              </li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
    <app-ticket *ngIf="showTicket" (editEvent)="closeTicket($event)" [id]="idInvoice" [type]="1">
    </app-ticket>
    <app-ticket_venta_carta *ngIf="showTicketVentaCarta" (editEvent)="closeTicketCarta($event)" [id]="idInvoice"
      [type]="1">
    </app-ticket_venta_carta>
  </div>
</div>

<ng-template #loading>
  <img src="../../../../../assets/logos/Loading-Puvesoft.gif"
    style="width: 6rem; height: 6rem; margin-left: 50%; margin-top: 10%" />
</ng-template>

<ng-template #loading2>
  <div class="text-center">
    <img src="../../../../../assets/logos/Loading-Puvesoft.gif" style="
        width: 6rem;
        height: 6rem;
        margin-left: 45%;
        margin-top: 10%;
        margin-bottom: 100px;
      " />
  </div>
</ng-template>