<div *ngIf="(loaded || count != 0); else loading">
  <div class="separator mb-2"></div>
  <div class="row">
    <!-- MODAL PARA GENERAR INFORME -->
    <div
      class="modal fade"
      bsModal
      #staticModalPdf="bs-modal"
      [config]="{ backdrop: 'static' }"
      tabindex="-1"
      role="dialog"
      aria-labelledby="dialog-static-name"
    >
      <div class="modal-dialog modal-lg2">
        <div class="modal-content">
          <div class="modal-header oculto-impresion">
            <h6 id="dialog-static-name" class="modal-title pull-left">
              Vista previa del documento.
            </h6>
            <button
              class="rounded"
              style="
                border: 0px;
                margin-left: 28%;
                padding-left: 10px;
                padding-right: 15px;
              "
              ngxPrint
              printSectionId="printThis"
            >
              <img
                src="../../../../../assets/logos/pdf.png"
                tooltip="Exportar a PDF"
                placement="auto"
                style="width: 35px; padding-bottom: 5px"
              />
              Imprimir o Descargar
            </button>
            <button
              type="button"
              class="close pull-right"
              aria-label="Close"
              (click)="closeModalPdf()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="height: 80vh; overflow-y: auto">
            <!-- 'printThis' is template reference -->
            <div #printThis id="printThis">
              <div *ngIf="loaded2; else loadingPdf">
                <report-master-tables
                  [data]="dataReport"
                  [headers]="headers"
                  [title]="titleModule"
                  [estadoVenta]="true"
                  [total]="totales"
                  [fecha_inicial]="fechaInicial"
                  [fecha_final]="fechaFinal"
                  [hora_inicial]="horaInicial"
                  [hora_final]="horaFinal"
                  [page]="page"
                ></report-master-tables>

                <div class="row">
                  <div class="col">
                    <div
                      style="display: block; overflow-y: auto"
                      class="mt-3 mr-3 row"
                    >
                      <report-master-tables
                        titleHeader="Total Ventas Por Metodo de Pagos"
                        colspanHeader="5"
                        [data]="dataByMetodosDePago"
                        [headers]="headers2"
                        [estadoVentaMetodoPago]="true"
                        [total]="totalesMetodoPago"
                      ></report-master-tables>
                    </div>
                  </div>
                  <div class="col" *ngIf="isRestaurant">
                    <div
                      style="display: block; overflow-y: auto"
                      class="mt-3 row"
                    >
                      <report-master-tables
                        titleHeader="Ventas por mesas"
                        colspanHeader="6"
                        [data]="dataByMesas"
                        [headers]="headers3"
                        [estadoVentaMesa]="true"
                        [total]="totalesMesa"
                      ></report-master-tables>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #loadingPdf>
              <img
                src="../../../../../assets/logos/Loading-Puvesoft.gif"
                style="
                  width: 6rem;
                  height: 6rem;
                  margin-left: 50%;
                  margin-top: 10%;
                "
              />
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <!-- FIN MODAL PARA GENERAR INFORME -->

    <div class="col-lg-12 col-md-12 mb-4" style="padding: 0px">
      <div class="row">
        <div class="col col-sm" style="text-align: center">
          <H1 class="titulo text-center mb-0">{{ titleModule }}</H1>
        </div>
      </div>
      <div class="row" style="padding-left: 30px">
        <div class="col">
          <div
            class="row float-left"
            style="padding-right: 30px; text-align: center"
          >
            <form [formGroup]="size" style="width: 80px">
              <span class="text-muted text-small">Por página</span>
              <select
                required
                class="form-control mb-1 rounded"
                style="height: 27px; padding-bottom: 0px; padding-top: 0px"
                formControlName="data"
                (change)="llamar()"
              >
                <option *ngFor="let item of selects" [value]="item">
                  {{ item }}
                </option>
              </select>
            </form>
          </div>
        </div>

      <div class="col">
        <div class="row float-right" style="padding-right: 30px; text-align: center">

          <div class="col">
            <span class="text-muted text-small">Exportar</span>
            <div class="row">
              <button style="background-color: transparent; border: 10px; padding-left: 0px;padding-right: 0px;" (click)="generateExcel()">
                <img src="../../../../../assets/logos/excel_1.png" tooltip="Exportar a Excel" placement="auto"
                  style="width: 30px; padding-bottom: 5px" />
              </button>&nbsp;&nbsp;&nbsp;
              <button style="background-color: transparent; border: 10px; padding-left: 0px;padding-right: 0px;" (click)="openModalPdf()">
                <img src="../../../../../assets/logos/pdf.png" tooltip="Exportar a PDF" placement="auto"
                  style="width: 30px; padding-bottom: 5px" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
      <div class="card">
        <div class="card-body" style="padding: 15px">
          <form [formGroup]="search" class="mb-1">
            <div class="row">
              <div class="col-md-2 col-6">
                <label style="font-weight: bold; font-size: 12px"
                  >Fecha Inicial</label
                ><br />
                <input
                  type="date"
                  class="form-control rounded"
                  formControlName="fecha_inicial"
                  style="font-size: 13px"
                  aria-label="Search"
                  aria-describedby="search-addon"
                />
                <input
                  type="time"
                  class="form-control rounded"
                  formControlName="hora_inicial"
                  style="font-size: 13px; margin-top: 5px"
                  aria-describedby="search-addon"
                />
              </div>
              <div class="col-md-2 col-6">
                <label style="font-weight: bold; font-size: 12px"
                  >Fecha Final</label
                ><br />
                <input
                  type="date"
                  class="form-control rounded"
                  formControlName="fecha_final"
                  style="font-size: 13px"
                  aria-label="Search"
                  aria-describedby="search-addon"
                />
                <input
                  type="time"
                  class="form-control rounded"
                  formControlName="hora_final"
                  style="font-size: 13px; margin-top: 5px"
                  aria-describedby="search-addon"
                />
              </div>
              <div class="col-md-2 col-6">
                <label style="font-weight: bold; font-size: 12px"
                  >Método de pago</label
                ><br />
                <select
                  required
                  class="form-control mb-1 rounded"
                  formControlName="metodo_pago"
                >
                  <option [value]="''" selected>TODOS</option>
                  <ng-container *ngFor="let item of dataMetodoPago">
                    <option [value]="item.id">
                      {{ item.nombre | uppercase }}
                    </option>
                  </ng-container>
                </select>
                <label style="font-weight: bold; font-size: 12px"
                  >Propinas</label
                ><br />
                <select
                  required
                  class="form-control mb-1 rounded"
                  formControlName="tipo_factura"
                >
                <option [value]="''" selected>TODOS</option>
                  <ng-container *ngFor="let item of tipo_factura">
                    <option [value]="item.id">
                      {{ item.nombre | uppercase }}
                    </option>
                  </ng-container>
                </select>
              </div>
              <div class="col-md-2 col-6">
                <label style="font-weight: bold; font-size: 12px">Usuario</label
                ><br />
                <select
                  required
                  class="form-control mb-1 rounded"
                  formControlName="usuario"
                >
                  <option [value]="''" selected>TODOS</option>
                  <ng-container *ngFor="let item of dataUsuario">
                    <option [value]="item.codigo">
                      {{ item.nombre | uppercase }}
                    </option>
                  </ng-container>
                </select>

                <label style="font-weight: bold; font-size: 12px">Tipo de factura</label
                  ><br />
                  <select
                    required
                    class="form-control mb-1 rounded"
                    formControlName="tipo_factura_venta"
                  >
                    <option [value]="''" selected>TODOS</option>
                    <ng-container *ngFor="let item of tipo_factura_venta">
                      <option [value]="item.id">
                        {{ item.nombre | uppercase }}
                      </option>
                    </ng-container>
                  </select>
                
              </div>
              <div class="col-md-1 col-6">
                <label style="font-weight: bold; font-size: 12px">Atención</label
                  ><br />
                  <select
                    required
                    class="form-control mb-1 rounded"
                    formControlName="tipo_atencion"
                  >
                    <option [value]="''" selected>TODOS</option>
                    <ng-container *ngFor="let item of tipoAtencion">
                      <option [value]="item.id">
                        {{ item.nombre | uppercase }}
                      </option>
                    </ng-container>
                  </select>

                <label style="font-weight: bold; font-size: 12px"
                  >Venta</label
                ><br />
                <select
                  required
                  class="form-control mb-1 rounded"
                  formControlName="tipo_venta"
                >
                <option [value]="''" selected>TODAS</option>
                  <ng-container *ngFor="let item of tipo_venta">
                    <option [value]="item.id">
                      {{ item.nombre | uppercase }}
                    </option>
                  </ng-container>
                </select>
              </div>
              <div class="col-md-1 col-6">
                <label style="font-weight: bold; font-size: 12px">Estado</label
                  ><br />
                  <select
                    required
                    class="form-control mb-1 rounded"
                    formControlName="estado"
                  >
                    <option [value]="''" selected>TODOS</option>
                    <ng-container *ngFor="let item of estados">
                      <option [value]="item.id" *ngIf="item.id == 1 || item.id == 4 || item.id == 6">
                        {{ item.nombre | uppercase }}
                      </option>
                    </ng-container>
                  </select>
               
              </div>

              <div
                class="col-md-2 d-flex justify-content-center"
                style="margin-top: 5px"
              >
                <div class="row float-left" style="padding: 17px">
                  <button
                    style="height: 35px; border-radius: 10px; font-size: 14px"
                    class="btn btn-primary float-end"
                    type="submit"
                    (click)="buscarHistorial()"
                  >
                    Consultar
                  </button>
                </div>
              </div>
            </div>
            <div class="row mt-2 align-items-center">
              <div class="col-md-12">
                <div class="row float-right mr-1">
                  <form
                    [formGroup]="searchCodCredito"
                    style="width: 250px"
                    class="d-flex"
                  >
                    <input
                      type="text"
                      class="form-control rounded"
                      formControlName="field"
                      placeholder="Buscar Por Código De Factura"
                      aria-label="Search"
                      aria-describedby="search-addon"
                      (keyup)="buscar()"
                    />
                    <span
                      style="width: 40px; background: #ffffff"
                      class="input-group-text border-0"
                      id="search-addon"
                    >
                      <i class="bi bi-search"></i>
                    </span>
                  </form>
                </div>
              </div>
            </div>
          </form>
          <div style="display: block; overflow-y: auto">
            <table
              class="table table-hover table-striped content-table table-bordered"
              style="border: 0px"
            >
              <thead style="background: #e9e9e9">
                <tr style="color: rgb(44, 44, 44); text-align: center">
                  <th scope="col">Item</th>
                  <th scope="col">Factura</th>
                  <th scope="col">Fecha y hora</th>
                  <th scope="col">Nombre del cliente</th>
                  <th scope="col">Caja</th>
                  <th scope="col">Método de pago</th>
                  <th scope="col">Serv. Voluntario</th>
                  <th scope="col">Domicilio</th>
                  <th scope="col">INCBP Bolsa</th>
                  <th scope="col">Devoluciones</th>
                  <th scope="col" title="Notas crédito">Notas Créditos</th>
                  <th scope="col" title="Notas débito">Notas débitos</th>
                  <th scope="col">Retenciones</th>
                  <th scope="col">Valor venta</th>
                  <th scope="col">Valor total</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Acción</th>
                </tr>
              </thead>
              <tbody *ngIf="loaded">
                <ng-container *ngIf="data.length > 0; else nodata">
                  <tr
                    style="font-weight: 400"
                    *ngFor="let item of data | paginate
                    : {
                        itemsPerPage: size.controls.data.value,
                        currentPage: page,
                        totalItems: totalItems
                      }; let i = index"
                  >
                  <td
                      scope="row"
                      style="
                        font-weight: 400;
                        vertical-align: middle;
                        text-align: center;
                      "
                    >
                      {{ i+1 }}
                    </td>
                    <td
                      scope="row"
                      style="
                        font-weight: 400;
                        vertical-align: middle;
                        text-align: center;
                      "
                    >
                      {{ item.codigo_factura }}
                    </td>
                    <td
                      scope="row"
                      style="
                        font-weight: 400;
                        vertical-align: middle;
                        text-align: center;
                      "
                    >
                      {{ item.fecha }}
                    </td>
                    <td
                      scope="row"
                      style="font-weight: 400; vertical-align: middle"
                    >
                      {{ item.nombre_cliente }}
                    </td>
                    <td
                      scope="row"
                      style="font-weight: 400; vertical-align: middle"
                    >
                      {{ item.caja }}
                    </td>
                    <td
                      scope="row"
                      style="font-weight: 400; vertical-align: middle"
                    >
                      {{ item.metodo_pago }}
                    </td>
                    <td
                      scope="row"
                      style="
                        font-weight: 400;
                        vertical-align: middle;
                        text-align: right;
                      "
                    >
                      {{ formatearNumber(item.propina) }}
                    </td>
                    <td
                      scope="row"
                      style="
                        font-weight: 400;
                        vertical-align: middle;
                        text-align: right;
                      "
                    >
                      {{ formatearNumber(item.valor_domicilio) }}
                    </td>
                    <td
                      scope="row"
                      style="
                        font-weight: 400;
                        vertical-align: middle;
                        text-align: right;
                      "
                    >
                      {{ formatearNumber(item.total_bolsa) }}
                    </td>
                    <td
                      scope="row"
                      style="
                        font-weight: 400;
                        vertical-align: middle;
                        text-align: right;
                      "
                    >
                      {{ formatearNumber(item.total_devoluciones) }}
                    </td>
                    <td
                    scope="row"
                    style="
                      font-weight: 400;
                      vertical-align: middle;
                      text-align: right;
                    "
                  >
                    {{ formatearNumber(item.total_ajustes_precio_credito) }}
                  </td>
                  <td
                  scope="row"
                  style="
                    font-weight: 400;
                    vertical-align: middle;
                    text-align: right;
                  "
                >
                  {{ formatearNumber(item.total_ajustes_precio_debito) }}
                </td>
                <td
                scope="row"
                style="
                  font-weight: 400;
                  vertical-align: middle;
                  text-align: right;
                "
              >
                {{ formatearNumber(item.total_retencion) }}
              </td>
                    <td
                      scope="row"
                      style="
                        font-weight: 400;
                        vertical-align: middle;
                        text-align: right;
                      "
                    >
                      {{ formatearNumber(item.total_sin_extra) }}
                    </td>
                    <td
                      scope="row"
                      style="
                        font-weight: 400;
                        vertical-align: middle;
                        text-align: right;
                      "
                    >
                      {{ formatearNumber(item.total) }}
                    </td>
                    <td
                      scope="row"
                      style="
                        font-weight: 400;
                        vertical-align: middle;
                        text-align: center;
                      "
                    >
                      <span
                        class="badge badge-success"
                        style="font-size: 80%"
                        [ngStyle]="{
                          'background-color': getColorState(item.estado_id)
                        }"
                      >
                        {{ item.estado_id | estadoCredito }}</span
                      >
                    </td>
                    <td class="align-middle" style="text-align: center">
                      <button
                        title="Imprimir"
                        class="btn"
                        style="padding: 0px; height: 20px"
                        [disabled]="showTicket"
                        (click)="imprimirTicket(item)"
                      >
                        <i class="bi bi-printer"></i>
                      </button>
                    </td>
                  </tr>
                  <tr style="font-weight: bolder" *ngIf="this.page == 1">
                    <td class="text-center">Total: {{total_registros}}</td>
                    <td colspan="5"></td>
                    <td
                      scope="row"
                      style="vertical-align: middle; text-align: right"
                    >
                      {{ formatearNumber(totales.total_propina) }}
                    </td>
                    <td
                      scope="row"
                      style="vertical-align: middle; text-align: right"
                    >
                      {{ formatearNumber(totales.domicilio_total) }}
                    </td>
                    <td
                      scope="row"
                      style="vertical-align: middle; text-align: right"
                    >
                      {{ formatearNumber(totales.total_bolsa) }}
                    </td>
                    <td
                      scope="row"
                      style="vertical-align: middle; text-align: right"
                    >
                      {{ formatearNumber(totales.total_devoluciones) }}
                    </td>
                    <td
                    scope="row"
                    style="vertical-align: middle; text-align: right"
                  >
                    {{ formatearNumber(totales.valor_total_nota_ajuste_credito) }}
                  </td>
                  <td
                  scope="row"
                  style="vertical-align: middle; text-align: right"
                >
                  {{ formatearNumber(totales.valor_total_nota_ajuste_debito) }}
                </td>
                <td
                scope="row"
                style="vertical-align: middle; text-align: right"
              >
                {{ formatearNumber(totales.total_retencion) }}
              </td>
                    <td
                      scope="row"
                      style="vertical-align: middle; text-align: right"
                    >
                      {{ formatearNumber(totales.total_sin_extra) }}
                    </td>
                    <td
                      scope="row"
                      style="vertical-align: middle; text-align: right"
                    >
                      {{ formatearNumber(totales.total) }}
                    </td>
                    <td colspan="2"></td>
                  </tr>
                 <!--  <tr style="font-weight: bolder" *ngIf="this.page == 1">
                    <td colspan="10"></td>
                    <td style="text-align: right;">Devoluciones</td>
                    <td style="text-align: right;">
                     - {{ formatearNumber(totales.total_devoluciones) }}
                    </td>
                    <td style="text-align: right;">
                     - {{ formatearNumber(totales.total_devoluciones) }}
                    </td>
                    <td colspan="2"></td>
                  </tr> -->
                  <!-- <tr style="font-weight: bolder" *ngIf="this.page == 1">
                    <td colspan="10"></td>
                    <td style="text-align: right;">Notas Créditos</td>
                    <td style="text-align: right;">
                     - {{ formatearNumber(totales.valor_total_nota_ajuste_credito_sin_cargos) }}
                    </td>
                    <td style="text-align: right;">
                     - {{ formatearNumber(totales.valor_total_nota_ajuste_credito) }}
                    </td>
                    <td colspan="2"></td>
                  </tr> -->
                 <!--  <tr style="font-weight: bolder" *ngIf="this.page == 1">
                    <td colspan="10"></td>
                    <td style="text-align: right;">Notas débitos</td>
                    <td style="text-align: right;">
                      {{ formatearNumber(totales.valor_total_nota_ajuste_debito) }}
                    </td>
                    <td style="text-align: right;">
                      {{ formatearNumber(totales.valor_total_nota_ajuste_debito) }}
                    </td>
                    <td colspan="2"></td>
                  </tr> -->
                  <tr style="font-weight: bolder" *ngIf="this.page == 1">
                    <td colspan="12"></td>
                    <td style="text-align: right;">Total</td>
                    <td style="text-align: right;">
                      {{ formatearNumber(totales.valor_sin_extra_con_devolucion) }}
                    </td>
                    <td style="text-align: right;">
                      {{ formatearNumber(totales.valor_total_con_devolucion) }}
                    </td>
                    <td colspan="3"></td>
                  </tr>
                </ng-container>
              </tbody>
              <tfoot *ngIf="(!loaded) && count > 0">
                <tr>
                  <td colspan="15">
                    <img
                      src="../../../../../assets/logos/Loading-Puvesoft.gif"
                      style="width: 6rem; margin-left: calc(50% - 3rem);"
                    />
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          Paginas: {{ pages }}
          <div style="text-align: center;">
          <pagination-controls
            (pageChange)="paginate($event)"
            *ngIf="totalItems > 0"
            previousLabel=""
            nextLabel=""
          />
        </div>
        </div>
      </div>
    </div>
    <app-ticket
      *ngIf="showTicket"
      (editEvent)="closeTicket($event)"
      [id]="idInvoice"
      [type]="1"
    >
    </app-ticket>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div style="display: block; overflow-y: auto" class="mt-3 mr-3 row">
        <table
          class="table table-hover table-striped content-table table-bordered"
          style="border: 0px"
        >
          <thead style="background: #e9e9e9">
            <tr>
              <th colspan="7" style="text-align: center">
                Total Ventas Por Metodo de Pagos
              </th>
            </tr>
            <tr style="color: rgb(44, 44, 44);text-align: center">
              <th scope="col">Método de pago</th>
              <th scope="col">Valor</th>
              <th scope="col">Retenciones</th>
              <th scope="col">Devoluciones</th>
              <th scope="col" title="Notas créditos">Notas Créditos</th>
              <th scope="col" title="Notas débitos">Notas débitos</th>
              <th scope="col">Abonos de créditos</th>
            </tr>
          </thead>
          <tbody *ngIf="loaded">
            <ng-container *ngIf="dataByMetodosDePago.length > 0; else nodata">
              <tr
                style="font-weight: 400"
                *ngFor="let item of dataByMetodosDePago"
              >
                <td
                  scope="row"
                  style="font-weight: 400; vertical-align: middle"
                >
                  {{ item.nombre }}
                </td>
                <td
                  scope="row"
                  style="
                    font-weight: 400;
                    vertical-align: middle;
                    text-align: right;
                  "
                >
                  {{ formatearNumber(item.valor) }}
                </td>
                <td
                scope="row"
                style="
                  font-weight: 400;
                  vertical-align: middle;
                  text-align: right;
                "
              >
                {{ formatearNumber(item.retenciones) }}
              </td>
                <td
                  scope="row"
                  style="
                    font-weight: 400;
                    vertical-align: middle;
                    text-align: right;
                  "
                >
                  {{ formatearNumber(item.devolucion) }}
                </td>
                <td
                  scope="row"
                  style="
                    font-weight: 400;
                    vertical-align: middle;
                    text-align: right;
                  "
                >
                  {{ formatearNumber(item.notas_creditos) }}
                </td>
                <td
                scope="row"
                style="
                  font-weight: 400;
                  vertical-align: middle;
                  text-align: right;
                "
              >
                {{ formatearNumber(item.notas_debito) }}
              </td>
                <td
                  scope="row"
                  style="
                    font-weight: 400;
                    vertical-align: middle;
                    text-align: right;
                  "
                >
                  {{ formatearNumber(item.abono) }}
                </td>
             
              </tr>
            </ng-container>
            <tr style="font-weight: bolder; background: rgb(0 0 0 / 2%)">
              <td style="text-align: right">Total</td>
              <td style="text-align: right">
                {{ formatearNumber(totalesMetodoPago.total) }}
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td style="text-align: right;">{{ formatearNumber(totalesMetodoPago.total_abono) }}</td>
            </tr>
            <tr style="font-weight: bolder; background: rgb(0 0 0 / 2%)">
              <td style="text-align: right">Total Retención</td>
              <td style="text-align: right">
               - {{ formatearNumber(totalesMetodoPago.valor_retencion_total) }}
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr style="font-weight: bolder; background: rgb(0 0 0 / 2%)">
              <td style="text-align: right">Total Serv. Voluntario</td>
              <td style="text-align: right">
               - {{ formatearNumber(totalesMetodoPago.propinaGlobal) }}
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr style="font-weight: bolder; background: rgb(0 0 0 / 2%)">
              <td style="text-align: right">Total Domicilio</td>
              <td style="text-align: right">
               - {{ formatearNumber(totalesMetodoPago.domicilioGlobal) }}
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr style="font-weight: bolder; background: rgb(0 0 0 / 2%)">
              <td style="text-align: right">Devoluciones</td>
              <td style="text-align: right">
               - {{ formatearNumber(totalesMetodoPago.total_devolucion) }}
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr style="font-weight: bolder; background: rgb(0 0 0 / 2%)">
              <td style="text-align: right" title="Notas crédito">Notas Créditos</td>
              <td style="text-align: right">
               - {{ formatearNumber(totales.valor_total_nota_ajuste_credito_sin_cargos) }}
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr style="font-weight: bolder; background: rgb(0 0 0 / 2%)">
              <td style="text-align: right" title="Notas débito">Notas débitos</td>
              <td style="text-align: right">
                {{ formatearNumber(totalesMetodoPago.valor_notas_debito_total) }}
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr style="font-weight: bolder; background: rgb(0 0 0 / 2%)">
              <td style="text-align: right" title="Notas débito">Total abonos de créditos</td>
              <td style="text-align: right">
                {{ formatearNumber(totalesMetodoPago.total_abono) }}
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr style="font-weight: bolder; background: rgb(0 0 0 / 2%)">
              <td style="text-align: right">Valor total</td>
              <td style="text-align: right">
                {{ formatearNumber((totalesMetodoPago.valor_total - this.propinaGlobal - this.domicilioGlobal)) }}
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
          <tfoot *ngIf="(!loaded) && count > 0">
            <tr>
              <td colspan="7">
                <img
                  src="../../../../../assets/logos/Loading-Puvesoft.gif"
                  style="width: 6rem; margin-left: calc(50% - 3rem);"
                />
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="col" *ngIf="isRestaurant && (metodoPagoSelected() == '')">
      <div style="display: block; overflow-y: auto" class="mt-3 row">
        <table
          class="table table-hover table-striped content-table table-bordered"
          style="border: 0px"
        >
          <thead style="background: #e9e9e9">
            <tr>
              <th colspan="5" style="text-align: center">
                Total Ventas Por Mesas
              </th>
            </tr>
            <tr style="color: rgb(44, 44, 44);text-align: center">
              <th scope="col">Mesa</th>
              <th scope="col">Cortesía</th>
              <th scope="col">Serv. Voluntario</th>
              <th scope="col">Valor venta sin Serv. Voluntario</th>
              <th scope="col">Valor venta con Serv. Voluntario</th>
            </tr>
          </thead>
          <tbody *ngIf="loaded">
            <ng-container *ngIf="dataByMesas.length > 0; else nodata">
              <tr style="font-weight: 400" *ngFor="let item of dataByMesas">
                <td
                  scope="row"
                  style="font-weight: 400; vertical-align: middle"
                >
                  {{ item.nombre }}
                </td>
                <td
                  scope="row"
                  style="
                    font-weight: 400;
                    vertical-align: middle;
                    text-align: right;
                  "
                >
                  {{ formatearNumber(item.cortesia) }}
                </td>
                <td
                  scope="row"
                  style="
                    font-weight: 400;
                    vertical-align: middle;
                    text-align: right;
                  "
                >
                  {{ formatearNumber(item.propina) }}
                </td>
                <td
                  scope="row"
                  style="
                    font-weight: 400;
                    vertical-align: middle;
                    text-align: right;
                  "
                >
                  {{ formatearNumber(item.total_venta) }}
                </td>
                <td
                  scope="row"
                  style="
                    font-weight: 400;
                    vertical-align: middle;
                    text-align: right;
                  "
                >
                  {{ formatearNumber(item.total_venta_con_propina) }}
                </td>
              </tr>
            </ng-container>
            <tr style="font-weight: bolder">
              <td style="text-align: right">Total</td>
              <td style="text-align: right">
                {{ formatearNumber(totalesMesa.total_cortesia) }}
              </td>
              <td style="text-align: right">
                {{ formatearNumber(totalesMesa.total_propina) }}
              </td>
              <td style="text-align: right">
                {{ formatearNumber(totalesMesa.total_venta_sin_propina) }}
              </td>
              <td style="text-align: right">
                {{ formatearNumber(totalesMesa.total_venta_con_propina) }}
              </td>
            </tr>
            <tr style="font-weight: bolder">
              <td colspan="2"></td>
              <td style="text-align: right">Devoluciones</td>
              <td style="text-align: right">
                -{{ formatearNumber(totalesMesa.total_devolucion) }}
              </td>
              <td style="text-align: right">
                -{{ formatearNumber(totalesMesa.total_devolucion) }}
              </td>
            </tr>
            <tr style="font-weight: bolder">
              <td colspan="2"></td>
              <td style="text-align: right">Valor total</td>
              <td style="text-align: right">
                {{ formatearNumber(totalesMesa.valor_total) }}
              </td>
              <td style="text-align: right">
                {{formatearNumber(totalesMesa.total_venta_con_propina_devolucion)}}
              </td>
            </tr>
          </tbody>
          <tfoot *ngIf="(!loaded) && count > 0">
            <tr>
              <td colspan="5">
                <img
                  src="../../../../../assets/logos/Loading-Puvesoft.gif"
                  style="width: 6rem; margin-left: calc(50% - 3rem);"
                />
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>


<ng-template #loading>
  <div class="text-center">
  <img
    src="../../../../../assets/logos/Loading-Puvesoft.gif"
    style="width: 6rem; height: 6rem;margin-top: 10%"
  />
</div>
</ng-template>

<ng-template #loading2>
 <div class="text-center"><img
    src="../../../../../assets/logos/Loading-Puvesoft.gif"
    style="
      width: 6rem;
      height: 6rem;
      margin-left: 45%;
      margin-top: 10%;
      margin-bottom: 100px;
    "
  /></div>
</ng-template>
<ng-template #nodata>
  <tr>
    <td
      scope="row"
      colspan="17"
      class="text-muted"
      style="vertical-align: middle"
    >
      <h4 class="h4-sin">
        Sin registros de ventas para el filtro aplicado
      </h4>
    </td>
  </tr>
</ng-template>
