<table>
  <tbody>
    <tr class="well">
      <td style="font-size: 10px; cursor: pointer; text-align: center">
        <ul (click)="navigator('./informe/devoluciones')" style="
            margin-bottom: 0px;
            line-height: 10px;
            width: 80px;
            padding-left: 10px;
          ">
          <span class="text-muted text-small">
            <span style="display: block">Historial</span>
            <span style="display: block; margin-bottom: 4px">Devoluciones</span>
          </span>
          <i class="bi bi-journal-text" style="font-size: 28px; margin: 5px; color: #0d549e"></i>
        </ul>
      </td>

      <td style="font-size: 10px; cursor: pointer; text-align: center">
        <ul (click)="navigator('./informe/devoluciones/historialNotaCredito/2/4')" style="
            margin-bottom: 0px;
            line-height: 12px;
            width: 65px;
            padding-left: 10px;
          ">
          <span class="text-muted text-small">
            <span style="display: block">Notas ajustes Pos</span>
            <span style="display: block; margin-bottom: 4px">Electrónico</span>
          </span>
          <i class="bi bi-journal-medical" style="font-size: 28px; color: #13a344; margin: 5px"></i>
        </ul>
      </td>
      <td style="font-size: 10px; cursor: pointer; text-align: center">
        <ul (click)="navigator('./informe/devoluciones/historialNotaCredito/3/1')" style="
            margin-bottom: 0px;
            line-height: 12px;
            width: 65px;
            padding-left: 10px;
          ">
          <span class="text-muted text-small">
            <span style="display: block">Notas Créditos</span>
            <span style="display: block; margin-bottom: 4px">Electrónicas</span>
          </span>
          <i class="bi bi-journal-medical" style="font-size: 28px; color: #13a344; margin: 5px"></i>
        </ul>
      </td>
      <td style="font-size: 10px; cursor: pointer; text-align: center">
        <ul (click)="navigator('./informe/devoluciones/historialNotaCredito/3/2')" style="
            margin-bottom: 0px;
            line-height: 12px;
            width: 65px;
            padding-left: 10px;
          ">
          <span class="text-muted text-small">
            <span style="display: block">Notas Déditos</span>
            <span style="display: block; margin-bottom: 4px">Electrónicas</span>
          </span>
          <i class="bi bi-journal-medical" style="font-size: 28px; color: #13a344; margin: 5px"></i>
        </ul>
      </td>
    </tr>
  </tbody>
</table>