<div *ngIf="loaded || count != 0; else loading">
  <div class="separator mb-2"></div>
  <div class="row">
    <!-- MODAL PARA GENERAR INFORME -->
    <div
      class="modal fade"
      bsModal
      #staticModalPdf="bs-modal"
      [config]="{ backdrop: 'static' }"
      tabindex="-1"
      role="dialog"
      aria-labelledby="dialog-static-name"
    >
      <div class="modal-dialog modal-lg2">
        <div class="modal-content">
          <div class="modal-header">
            <h6 id="dialog-static-name" class="modal-title pull-left">
              Vista previa del documento.
            </h6>
            <button
              class="rounded"
              style="
                border: 0px;
                margin-left: 28%;
                padding-left: 10px;
                padding-right: 15px;
              "
              ngxPrint
              printSectionId="printThis"
            >
              <img
                src="../../../../../assets/logos/pdf.png"
                tooltip="Exportar a PDF"
                placement="auto"
                style="width: 35px; padding-bottom: 5px"
              />
              Imprimir o Descargar
            </button>
            <button
              type="button"
              class="close pull-right"
              aria-label="Close"
              (click)="closeModalPdf()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="height: 80vh; overflow-y: auto">
            <!-- 'printThis' is template reference -->
            <div #printThis id="printThis">
              <div *ngIf="loaded2; else loadingPdf">
                <table
                  width="100%"
                  style="
                    border: 0px solid #000;
                    text-align: center;
                    font-family: Tahoma, Helvetica, sans-serif;
                  "
                >
                  <tr>
                    <td style="width: 100px"><img src="{{ logo }}" /></td>
                    <td
                      style="
                        width: 500px;
                        text-align: center;
                        font-size: 17px;
                        font-weight: bold;
                        color: #000000;
                      "
                    >
                      VENTAS POR CATEGORIAS<br />{{ sucursal }}<br />
                      NIT: {{ nit }} - DIRECCIÓN: {{ direccion }}<br />
                      FECHA: {{ fecha }}<br />
                    </td>
                  </tr>
                </table>
                <hr width="98%" />

                <div class="row" *ngFor="let item of dataReport; let i = index">
                  <div class="col-12" style="display: block; overflow-y: auto">
                    <table class="tableImprimir">
                      <thead>
                        <tr
                          style="
                            border: 1px solid #000;
                            font-size: 14px;
                            background: rgb(231, 231, 231);
                          "
                        ></tr>
                        <tr style="font-weight: bolder">
                          <td colspan="6">{{ item.nombre }}</td>
                        </tr>
                        <tr style="color: rgb(44, 44, 44)">
                          <th scope="col">ITEM</th>
                          <th scope="col">PRODUCTO</th>
                          <th scope="col">CANTIDAD</th>
                          <th scope="col">{{ search.get('option_report')?.value == 1 ? 'VALOR VENTA PROMEDIO' : 'VALOR VENTA' }}</th>
                          <th scope="col" *ngIf="search.get('option_report')?.value == 0">DESCUENTO</th>
                          <th scope="col">{{ search.get('option_report')?.value == 1 ? 'VALOR VENDIDO PROMEDIO' : 'VALOR VENDIDO' }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container
                          *ngIf="item.products.length > 0; else nodataReport"
                        >
                          <tr
                            *ngFor="let subitem of item.products; let j = index"
                            style="font-weight: 400"
                          >
                            <td
                              scope="row"
                              style="font-weight: 400; vertical-align: middle"
                            >
                              {{ j + 1 }}
                            </td>
                            <td
                              scope="row"
                              style="font-weight: 400; vertical-align: middle"
                            >
                              {{ subitem.producto }}
                            </td>
                            <td
                              scope="row"
                              style="font-weight: 400; vertical-align: middle"
                            >
                              {{ subitem.cantidad_vendida }}
                              {{ subitem.unidad_medida_sigla }}
                            </td>
                            <td
                              scope="row"
                              style="
                                font-weight: 400;
                                vertical-align: middle;
                                text-align: right;
                              "
                            >
                              {{ formatearNumber(subitem.valor_venta) }}
                            </td>
                           <td scope="row" *ngIf="search.get('option_report')?.value == 0" style="
                              font-weight: 400;
                              vertical-align: middle;
                              text-align: right;
                            ">
                            {{ formatearNumber(subitem.descuento) }}
                            </td>
                            <td
                              scope="row"
                              style="
                                font-weight: 400;
                                vertical-align: middle;
                                text-align: right;
                              "
                            >
                              {{ formatearNumber(subitem.total_venta) }}
                            </td>
                          </tr>
                           <tr style="font-weight: bolder" *ngIf="search.get('option_report')?.value == 0">
                            <td colspan="5" style="text-align: right">
                              TOTAL VENTAS
                            </td>
                            <td scope="row" style="vertical-align: middle; text-align: right">
                              {{ formatearNumber(item.suma_total) }}
                            </td>
                          </tr>
                        </ng-container>
                        <ng-template #nodataReport>
                          <tr>
                            <td
                              scope="row"
                              colspan="9"
                              class="text-muted"
                              style="vertical-align: middle"
                            >
                              <h4>Sin registros para el filtro aplicado</h4>
                            </td>
                          </tr>
                        </ng-template>
                      </tbody>
                    </table>
                  </div>
                </div>

                <footer
                  style="width: 98%; margin-left: 0px; text-align: center"
                >
                  <div class="copyright" style="background-color: #ffffff">
                    <div
                      class="container-fluid"
                      style="background-color: #ffff; color: #000000"
                    >
                      {{ website }} - fecha de impresión: {{ fecha }}
                    </div>
                  </div>
                </footer>
              </div>
            </div>
            <ng-template #loadingPdf>
              <img
                src="../../../../../assets/logos/Loading-Puvesoft.gif"
                style="
                  width: 6rem;
                  height: 6rem;
                  margin-left: 50%;
                  margin-top: 10%;
                "
              />
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <!-- FIN MODAL PARA GENERAR INFORME -->

    <div class="col-lg-12 col-md-12 mb-4" style="padding: 0px">
      <div class="row">
        <div class="col col-sm" style="text-align: center">
          <H1 class="titulo text-center mb-0"
            >Estado de Ventas por Categorías</H1
          >
        </div>
      </div>
      <div class="row" style="padding-left: 30px">
        <div class="col">
          <div
            class="row float-left"
            style="padding-right: 30px; text-align: center"
          >
            <form [formGroup]="size" style="width: 80px">
              <span class="text-muted text-small">Por página</span>
              <select
                required
                class="form-control mb-1 rounded"
                style="height: 27px; padding-bottom: 0px; padding-top: 0px"
                formControlName="data"
                (change)="llamar()"
              >
                <option *ngFor="let item of selects" [value]="item">
                  {{ item }}
                </option>
              </select>
            </form>
          </div>
        </div>

        <div class="col">
          <div
            class="row float-right"
            style="padding-right: 30px; text-align: center"
          >
            <div class="col">
              <span class="text-muted text-small">Exportar</span>
              <div class="row">
                <button
                  style="
                    background-color: transparent;
                    border: 10px;
                    padding-left: 0px;
                    padding-right: 0px;
                  "
                  (click)="generateExcel()"
                >
                  <img
                    src="../../../../../assets/logos/excel_1.png"
                    tooltip="Exportar a Excel"
                    placement="auto"
                    style="width: 30px; padding-bottom: 5px"
                  /></button
                >&nbsp;&nbsp;&nbsp;
                <button
                  style="
                    background-color: transparent;
                    border: 10px;
                    padding-left: 0px;
                    padding-right: 0px;
                  "
                  (click)="openModalPdf()"
                >
                  <img
                    src="../../../../../assets/logos/pdf.png"
                    tooltip="Exportar a PDF"
                    placement="auto"
                    style="width: 30px; padding-bottom: 5px"
                  />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body" style="padding: 15px">
          <form [formGroup]="search" class="mb-1">
            <div class="row mb-2">
              <div class="col-md-2 col-6">
                <label style="font-weight: bold; font-size: 12px"
                  >Fecha Inicial</label
                ><br />
                <input
                  type="date"
                  class="form-control rounded"
                  formControlName="fecha_inicial"
                  style="font-size: 13px"
                  aria-label="Search"
                  aria-describedby="search-addon"
                />
                <input
                  type="time"
                  class="form-control rounded"
                  formControlName="hora_inicial"
                  style="font-size: 13px; margin-top: 5px"
                  aria-label="Search"
                  aria-describedby="search-addon"
                />
              </div>
              <div class="col-md-2 col-6">
                <label style="font-weight: bold; font-size: 12px"
                  >Fecha Final</label
                ><br />
                <input
                  type="date"
                  class="form-control rounded"
                  formControlName="fecha_final"
                  style="font-size: 13px"
                  aria-label="Search"
                  aria-describedby="search-addon"
                />
                <input
                  type="time"
                  class="form-control rounded"
                  formControlName="hora_final"
                  style="font-size: 13px; margin-top: 5px"
                  aria-label="Search"
                  aria-describedby="search-addon"
                />
              </div>
              <div class="col-md-2 col-6">
                <label style="font-weight: bold; font-size: 12px"
                  >Categoría</label
                ><br />
                <select
                  type="date"
                  class="form-control rounded"
                  formControlName="categoria"
                  style="font-size: 13px"
                  aria-label="Search"
                  aria-describedby="search-addon"
                >
                  <option value="" selected>TODAS LAS CATEGORÍAS</option>
                  <option [value]="item.id" *ngFor="let item of arrCategorias">
                    {{ item.nombre }}
                  </option>
                </select>

                 <label style="font-weight: bold; font-size: 12px; margin-bottom: 0px;margin-top: 5px;"
                  >Tipo de reporte</label
                ><br />
                <select
                  type="date"
                  class="form-control rounded"
                  formControlName="option_report"
                  style="font-size: 13px;margin-bottom: 5px;"
                  aria-label="Search"
                  aria-describedby="search-addon"
                >
                  <option value="0" selected>PRODUCTOS SIN AGRUPAR</option>
                  <option value="1" selected>PRODUCTOS AGRUPADOS</option>
                </select>
              </div>
              <div
                class="col-md-2 d-flex justify-content-center"
                style="margin-top: 5px"
              >
                <div class="row float-left" style="padding: 17px">
                  <button
                    style="height: 35px; border-radius: 10px; font-size: 14px"
                    class="btn btn-primary float-end"
                    type="submit"
                    (click)="buscarHistorial()"
                  >
                    Consultar
                  </button>
                </div>
              </div>
              <!--<div class="col">
                <div class="row float-right">
                  <div style="width: 200px; margin-top:5px;">
                    <input type="text" class="form-control rounded" formControlName="field"
                      placeholder="Buscar Categoría" aria-label="Search" aria-describedby="search-addon"
                      (keyup)="buscar()" />
                  </div>
                  <span style="margin-top:5px;" class="input-group-text border-0" id="search-addon">
                    <i class="simple-icon-magnifier"></i>
                  </span>
                </div>
              </div>-->
            </div>
          </form>
          <div
            class="row"
            *ngFor="
              let item of data
                | paginate
                  : {
                      itemsPerPage: size.controls.data.value,
                      currentPage: page,
                      totalItems: totalItems
                    };
              let i = index
            "
          >
            <div class="col" style="display: block; overflow-y: auto">
              <table
                class="table table-hover table-striped content-table table-bordered"
                style="border: 0px"
              >
                <thead style="background: #e9e9e9">
                  <tr style="font-weight: bolder">
                    <td colspan="6" style="padding-left: 10px">
                      {{ item.nombre }}
                    </td>
                  </tr>
                  <tr style="color: rgb(44, 44, 44); text-align: center">
                    <th scope="col">Item</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">{{ search.get('option_report')?.value == 1 ? 'Valor Venta Promedio' : 'Valor Venta' }}</th>
                    <th scope="col" *ngIf="search.get('option_report')?.value == 0">Descuento</th>
                    <th scope="col">{{ search.get('option_report')?.value == 1 ? 'Valor Vendido Promedio' : 'Valor Vendido' }}</th>
                  </tr>
                </thead>
                <tbody *ngIf="loaded">
                  <ng-container *ngIf="item.products.length > 0; else nodata">
                    <tr
                      style="font-weight: 400"
                      *ngFor="let subitem of item.products; let j = index"
                    >
                      <td
                        scope="row"
                        style="
                          font-weight: 400;
                          vertical-align: middle;
                          text-align: center;
                        "
                      >
                        {{ j + 1 }}
                      </td>
                      <td
                        scope="row"
                        style="font-weight: 400; vertical-align: middle"
                      >
                        {{ subitem.producto }}
                      </td>
                      <td
                        scope="row"
                        style="
                          font-weight: 400;
                          vertical-align: middle;
                          text-align: right;
                        "
                      >
                        {{ subitem.cantidad_vendida }}
                        {{ subitem.unidad_medida_sigla }}
                      </td>
                      <td
                        scope="row"
                        style="
                          font-weight: 400;
                          vertical-align: middle;
                          text-align: right;
                        "
                      >
                        {{ formatearNumber(subitem.valor_venta) }}
                      </td>
                      <td *ngIf="search.get('option_report')?.value == 0"
                        scope="row"
                        style="
                          font-weight: 400;
                          vertical-align: middle;
                          text-align: right;
                        "
                      >
                        {{ formatearNumber(subitem.descuento) }}
                      </td>
                      <td
                        scope="row"
                        style="
                          font-weight: 400;
                          vertical-align: middle;
                          text-align: right;
                        "
                      >
                        {{ formatearNumber(subitem.total_venta) }}
                      </td>
                    </tr>
                    <tr style="font-weight: bolder" *ngIf="search.get('option_report')?.value == 0">
                      <td colspan="5" style="text-align: right">
                        TOTAL VENTAS
                      </td>
                      <td
                        scope="row"
                        style="vertical-align: middle; text-align: right"
                      >
                        {{ formatearNumber(item.suma_total) }}
                      </td>
                    </tr>
                  </ng-container>

                  <ng-template #nodata>
                    <tr>
                      <td
                        scope="row"
                        colspan="9"
                        class="text-muted"
                        style="vertical-align: middle"
                      >
                        <h4 class="h4-sin">
                          Sin registros para el filtro aplicado
                        </h4>
                      </td>
                    </tr>
                  </ng-template>
                </tbody>
                <tfoot *ngIf="!loaded && count > 0">
                  <tr>
                    <td colspan="6">
                      <img
                        src="../../../../../assets/logos/Loading-Puvesoft.gif"
                        style="width: 6rem; margin-left: calc(50% - 3rem)"
                      />
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="form-group col-md-6">
              <div [chart]="chartArr[i]" #chart></div>
            </div>
          </div>
          Paginas: {{ pages }}
          <div style="text-align: center">
            <pagination-controls
              (pageChange)="paginate($event)"
              *ngIf="totalItems > 0"
              previousLabel=""
              nextLabel=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <img
    src="../../../../../assets/logos/Loading-Puvesoft.gif"
    style="width: 6rem; height: 6rem; margin-left: 50%; margin-top: 10%"
  />
</ng-template>

<ng-template #loading2>
  <img
    src="../../../../../assets/logos/Loading-Puvesoft.gif"
    style="
      width: 6rem;
      height: 6rem;
      margin-left: 45%;
      margin-top: 10%;
      margin-bottom: 100px;
    "
  />
</ng-template>
