.cir {
  background-color: rgb(283, 283, 283);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  color: #292929;
  text-align: center;
  line-height: 28px;
  border: 2px solid #e6e6e6;
  cursor: pointer;
}

.cirSelect {
  background-color: rgb(32, 189, 35);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
}
