<div class="row" *ngIf="loaded; else loading">
  <div class="col-12">
    <div class="row" style="padding-left: 30px">
      <div class="col">
        <label style="font-size: 22px; font-weight: bold">{{
          titleModule
        }}</label>
      </div>

      <div class="col">
        <div
          class="row float-right"
          style="padding-right: 30px; text-align: center"
        >
          <div class="col pr-0" style="align-self: center">
            <button
              class="btn btn-primary"
              (click)="goBack()"
              style="
                min-width: max-content;
                font-size: 14px;
                border-radius: 10px;
              "
            >
              <i class="iconsminds-arrow-left-2"></i>Regresar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 mb-4" style="padding: 0px">
    <div class="card" style="width: 80%; text-align: center">
      <div class="row">
        <div class="form-group col-md-3">
          <div class="form-group col-md-12" style="padding-top: 20px">
            <label
              >Puede adicionar su promoción para ofrecer mejores precios</label
            >
          </div>
          <div
            *ngFor="let paso of [1, 2, 3]"
            class="form-group col-md-12"
            style="font-size: 13px"
          >
            <label
              [ngClass]="{
                cirSelect: paso === pasoActual,
                cir: paso !== pasoActual
              }"
              >{{ paso }}</label
            >
            {{ obtenerTextoPaso(paso) }}
          </div>
        </div>
        <div class="form-group col-md-9">
          <ng-container *ngIf="paso1">
            <detalle-promocion
              [idGestion]="idGestion"
              (paso)="requestPaso1($event)"
            ></detalle-promocion>
          </ng-container>
          <ng-container *ngIf="paso2">
            <producto-promocion
              [data]="dataPaso1"
              (paso)="requestPaso1($event)"
            ></producto-promocion>
          </ng-container>
          <ng-container *ngIf="paso3">
            <resumen-promocion
              [idGestion]="idGestion"
              (paso)="requestPaso1($event)"
            ></resumen-promocion>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="text-center">
    <img
      src="./assets/logos/Loading-Puvesoft.gif"
      style="width: 6rem; height: 6rem; margin-top: 10%"
    />
  </div>
</ng-template>
