<!--INICIO MODAL DETALLE NOTA CRÉDITO-->
<div class="modal fade" bsModal #staticModalDetalle="bs-modal" [config]="{ backdrop: 'static' }" tabindex="-1"
  role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg2">
    <div class="modal-content">
      <div class="modal-header oculto-impresion">
        <h6 id="dialog-static-name" class="modal-title pull-left">
          Vista del detalle {{ 
            (dataDetalle?.notaCredito.tipo_nota == 1) ? 'nota crédito' : 
            (dataDetalle?.notaCredito.tipo_nota == 2) ? 'nota debito' :
            (dataDetalle?.notaCredito.tipo_nota == 4) ? 'nota de ajuste POS' : 'ajuste documento soporte'
            }}.
        </h6>
        <button class="btn btn-primary" (click)="imprimir()">Imprimir</button>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModalDetalle()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height: 80vh; overflow-y: auto">
        <!-- 'printThis' is template reference -->
        <div>
          <div *ngIf="loadedDetalle; else loadingPdf">
            <div #print_ticket id="print_ticket">
              <!-- Encabezado -->
              <table style="width: 100% !important;">
                <tr style="text-align: center">
                  <td style="width: 10% !important;">
                    <ng-container *ngIf="sucursal?.logo">
                      <img style="width: 200px;" height="131px" src="{{ sucursal?.logo }}" alt="Puvesoft" />
                    </ng-container>
                  </td>
                  <td style="width: 25% !important;">
                    <table style="width: 100%; font-family: 'Arial'">
                      <tr>
                        <td style="text-align: center">
                          <h4 style="text-align: center">
                            {{ 
                              (dataDetalle?.notaCredito.tipo_nota == 1) ? 'Nota Crédito' : 
                              (dataDetalle?.notaCredito.tipo_nota == 2) ? 'Nota debito' : 
                              (dataDetalle?.notaCredito.tipo_nota == 4) ? 'Nota de Ajuste Documento Equivalente POS' :'Ajuste documento soporte'
                              }}</h4>
                        </td>
                      </tr>

                      <tr>
                        <td style="text-align: center">
                          <h3 style="
                        text-align: center;
                        margin-bottom: 5px;
                        font-size: 14px;
                      ">
                            {{ sucursal?.nombre }}
                          </h3>
                        </td>
                      </tr>
                      <tr *ngIf="sucursal?.nit">
                        <td [ngStyle]="{
                      'font-size': sizeLetraTicket + 'px'
                    }" style="text-align: center">
                          <span>{{ sucursal?.nit }}</span>
                        </td>
                      </tr>
                      <tr>
                        <td [ngStyle]="{
                      'font-size': sizeLetraTicket + 'px'
                    }" style="text-align: center">
                          <span>{{ sucursal?.direccion }} - {{ sucursal?.telefono }}</span>
                        </td>
                      </tr>
                      <tr>
                        <td [ngStyle]="{
                      'font-size': sizeLetraTicket + 'px'
                    }" style="text-align: center">
                          <span>{{ sucursal?.departamento }} -
                            {{ sucursal?.municipio }}</span>
                        </td>
                      </tr>
                      <tr *ngIf="sucursal?.regimen">
                        <td [ngStyle]="{
                      'font-size': sizeLetraTicket + 'px'
                    }" style="text-transform: capitalize; text-align: center">
                          {{ sucursal?.regimen }}
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td style="width: 25% !important;" valign="top">
                    <qrcode style="width: 45px; text-align: center" [qrdata]="'https://catalogo-vpfe.dian.gov.co/document/searchqr?documentkey='+dataDetalle?.notaCredito.cude"
                      [allowEmptyString]="true" [ariaLabel]="'QR Code image with the following content...'"
                      [cssClass]="'center'" [colorDark]="'#000000ff'" [colorLight]="'#ffffffff'" [elementType]="'svg'"
                      [errorCorrectionLevel]="'M'" [imageHeight]="60" [imageWidth]="60" [margin]="4" [scale]="1"
                      [title]="'A custom title attribute'" [width]="150"></qrcode>
                  </td>
                  <td style="width: 35% !important;">
                    <table style="width: 100%; border: 1px solid #ccc;">
                      <tr style="text-align: center;font-size: 15px;font-family: 'Arial';">
                        <td><br>
                          {{ (dataDetalle?.notaCredito.tipo_nota == 1) ? 'Nota Crédito' :
                          (dataDetalle?.notaCredito.tipo_nota == 2) ? 'Nota debito' : 
                          (dataDetalle?.notaCredito.tipo_nota == 4) ? 'Nota de ajuste POS' : 'Ajuste documento soporte'
                          }}
                          <br><b>No. {{ dataDetalle?.notaCredito.prefijo_credito }}{{
                            dataDetalle?.notaCredito.cod_credito
                            }}</b><br><br>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>

              <!-- Información del cliente y fecha de factura -->
              <table cellpadding="0" cellspacing="0" [ngStyle]="{
            'font-size': sizeLetraTicket + 'px',
            'width': '100%',
            'margin-top': '15px',
            'font-family': 'Arial',
            
          }">
                <tr>
                  <td style="width: 70% !important;">
                    <table style="width: 91%; border-collapse: collapse;
                border: 1px solid #ccc;">
                      <tr style="height: 28px;">
                        <td colspan="4"
                          style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;text-align: center;">
                          Información del cliente</td>
                      </tr>
                      <tr style="height: 28px;">
                        <td style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;">&nbsp;Nombre
                        </td>
                        <td style="border: 1px solid #ccc;" colspan="3">&nbsp;{{ dataDetalle.cliente.nombre }}</td>
                      </tr>
                      <tr style="height: 28px;">
                        <td
                          style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;width: 25% !important;">
                          &nbsp;Nit</td>
                        <td style="border: 1px solid #ccc;width: 25% !important;;">&nbsp;{{
                          dataDetalle.cliente.documento
                          }}
                        </td>
                        <td
                          style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;width: 25% !important;;">
                          &nbsp;Teléfono</td>
                        <td style="border: 1px solid #ccc;width: 25% !important;">&nbsp;{{
                          dataDetalle?.cliente?.telefono
                          }}</td>
                      </tr>
                      <tr style="height: 28px;">
                        <td
                          style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;width: 25% !important;">
                          &nbsp;Dirección</td>
                        <td style="border: 1px solid #ccc;width: 25% !important;;">&nbsp;{{
                          dataDetalle.cliente.direccion
                          }}
                        </td>
                        <td
                          style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;width: 25% !important;;">
                          &nbsp;E-mail</td>
                        <td style="border: 1px solid #ccc;width: 25% !important;">&nbsp;{{ dataDetalle.cliente.email }}
                        </td>
                      </tr>
                      <tr style="height: 28px;">
                        <td 
                          style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;width: 25% !important;">
                          &nbsp;Método Pago</td>
                        <td style="border: 1px solid #ccc;width: 25% !important;;">&nbsp;{{
                          dataDetalle?.notaCredito.metodo_pago }}
                        </td>
                        <td 
                          style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;width: 25% !important;;">
                          &nbsp;Forma Pago</td>
                        <td style="border: 1px solid #ccc;width: 25% !important;">&nbsp;{{
                          (dataDetalle?.notaCredito.metodo_pago != 'CRÉDITO') ? 'CONTADO' : 'CRÉDITO' }}</td>
                      </tr>
                      <tr style="height: 28px;">
                        <td 
                          style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;width: 25% !important;">
                          &nbsp;Respon.</td>
                        <td style="border: 1px solid #ccc;width: 25% !important;;">&nbsp;{{
                          dataDetalle?.notaCredito.responsable_nota_credito }}
                        </td>
                        <td
                          style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;width: 25% !important;;">
                          &nbsp;Concepto</td>
                        <td style="border: 1px solid #ccc;width: 25% !important;">&nbsp;{{
                          tipoConceptoById(dataDetalle?.notaCredito.tipo_concepto) }}</td>
                      </tr>
                      <tr style="height: 28px;">
                        <td
                          style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;width: 25% !important;">
                          &nbsp;Domicilio</td>
                        <td style="border: 1px solid #ccc;width: 25% !important;;">&nbsp;{{
                          (dataDetalle?.notaCredito.domicilio_movimiento) ?
                          formatearNumber(dataDetalle?.notaCredito.domicilio_movimiento) : 'NO' }}
                        </td>
                        <td
                          style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;width: 25% !important;;">
                          &nbsp;Serv. Voluntario</td>
                        <td style="border: 1px solid #ccc;width: 25% !important;">&nbsp;{{
                          (dataDetalle?.notaCredito.propina_movimiento != null &&
                          dataDetalle?.notaCredito.propina_movimiento > 0) ?
                          formatearNumber(dataDetalle?.notaCredito.propina_movimiento) : 'NO' }}</td>
                      </tr>
                    </table>
                  </td>
                  <td style="width: 30% !important;text-align: right;">
                    <table style="width: 100%; border-collapse: collapse;border: 1px solid #ccc;">
                      <tr style="height: 28px;">
                        <td colspan="4"
                          style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;text-align: center;">
                          Fecha y hora Factura</td>
                      </tr>
                      <tr style="height: 28px;">
                        <td style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;">&nbsp;No DE
                          FACTURA
                        </td>
                        <td style="border: 1px solid #ccc;">&nbsp;{{
                          dataDetalle.notaCredito.cod_factura
                          }}</td>
                      </tr>
                      <tr style="height: 28px;">
                        <td style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;">&nbsp;FECHA
                          FACTURA
                        </td>
                        <td style="border: 1px solid #ccc;">&nbsp;{{
                          dataDetalle.notaCredito.fecha_creacion_factura
                          }}</td>
                      </tr>
                      <tr style="height: 28px;">
                        <td style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;">&nbsp;FECHA
                          EMISIÓN
                        </td>
                        <td style="border: 1px solid #ccc;">&nbsp;{{
                          dataDetalle?.notaCredito.fecha_creacion_nota
                          }}</td>
                      </tr>
                      <tr style="height: 28px;">
                        <td style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;">&nbsp;Estado
                          Legal
                        </td>
                        <td style="border: 1px solid #ccc;">&nbsp;{{
                          dataDetalle?.notaCredito.legalStatus
                          }}</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>

              <h5 style="margin-bottom: 0;">
                <br>
                <label style="font-size: 12px; font-weight: bold; color: #2c539e">
                  Productos
                </label>
              </h5>

              <table cellpadding="0" cellspacing="0" [ngStyle]="{
                'font-size': sizeLetraTicket + 'px',
                'width': '100%',
                'margin-top': '15px',
                'font-family': 'Arial',
              }">
                <thead>
                  <tr style="height: 28px;">
                    <th style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;text-align: center;">
                      Cód Barra</th>
                    <th style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;text-align: center;">
                      Producto</th>
                    <th style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;text-align: center;">
                      Cant</th>
                    <th style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;text-align: center;">
                      Und</th>
                    <th style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;text-align: center;">
                      Vlr Impuesto</th>
                    <th style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;text-align: center;">
                      Valor</th>
                    <th style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;text-align: center;">
                      % Desc</th>
                    <th style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;text-align: center;">
                      SubTotal</th>
                    <th style="background-color: #f6f4f4; font-weight: bold;border: 1px solid #ccc;text-align: center;">
                      Total</th>
                  </tr>
                </thead>
                <tbody *ngIf="dataDetalle?.notaCreditoDetalle">
                  <ng-container>
                    <ng-container *ngFor="let item of dataDetalle?.notaCreditoDetalle; let i = index">
                      <tr style="height: 28px;">
                        <td style="border: 1px solid #ccc; vertical-align: middle; padding-left: 5px;">
                          {{ item.cod_barra }}
                        </td>
                        <td style="border: 1px solid #ccc; vertical-align: middle; padding-left: 5px;">
                          {{ item.nombre }}
                        </td>
                        <td style="
                          border: 1px solid #ccc;
                          vertical-align: middle;
                          text-align: right;
                          padding-right: 5px;
                        ">
                          {{
                          item.cantidad_movimiento
                          }}
                        </td>
                        <td style="
                          border: 1px solid #ccc;
                          vertical-align: middle;
                          text-align: right;
                          padding-right: 5px;
                        ">
                          {{
                          item.sigla
                          }}
                        </td>
                        <td style="
                          border: 1px solid #ccc;
                          vertical-align: middle;
                          text-align: right;
                          padding-right: 5px;
                          font-size: 12px;
                        ">
                          {{ formatearNumber(item.valor_impuesto) }}
                        </td>
                        <td style="
                          border: 1px solid #ccc;
                          vertical-align: middle;
                          text-align: right;
                          padding-right: 5px;
                          font-size: 12px;
                        ">
                          {{ formatearNumber(item.valor_venta_movimiento) }}
                        </td>
                        <td style="text-align: right" style="
                          border: 1px solid #ccc;
                          font-size: 12px;
                          text-align: right;
                          padding-right: 5px;
                          padding-bottom: 0px;
                        ">
                          {{ formatearNumber( item.por_des_movimiento ) }}
                        </td>
                        <td style="text-align: right" style="
                          border: 1px solid #ccc;
                          font-size: 12px;
                          text-align: right;
                          padding-right: 5px;
                          padding-bottom: 0px;
                        ">
                          {{ formatearNumber( item.subtotal_movimiento ) }}
                        </td>
                        <td style="text-align: right" style="
                        border: 1px solid #ccc;
                        font-size: 12px;
                        text-align: right;
                        padding-right: 5px;
                        padding-bottom: 0px;
                      ">
                          {{ formatearNumber( item.total_movimiento ) }}
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </tbody>
              </table>

              <div style="display: flex;">
                <table style="width: 50%;">
                  <tr>
                    <th style="text-align: left;">Mótivo de nota</th>
                  </tr>
                  <tr>
                    <td>
                      <textarea style="width: 100%;" type="text">{{dataDetalle?.notaCredito.nota}}</textarea>
                    </td>
                  </tr>


                </table>

                <table style="width: 50%;">
                  <tbody style="background: white;">
                    <tr>
                      <td style="padding: 0.35em; width: 70%">
                        <div style="text-align: right; font-weight: bold;">Subtotal:</div>
                      </td>
                      <td style="padding: 0.35em">
                        <div style="text-align: right">
                          <b style="font-size: 14px;" id="subt">${{ formatearNumber(
                            dataDetalle?.notaCredito.subtotal_movimiento ) }}</b>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0.35em; width: 70%">
                        <div style="text-align: right; font-weight: bold;">Cargos:</div>
                      </td>
                      <td style="padding: 0.35em">
                        <div style="text-align: right">
                          <b style="font-size: 14px;" id="subt">${{ formatearNumber(
                            ((+dataDetalle?.notaCredito.domicilio_movimiento) ?? 0)
                            + ((+dataDetalle?.notaCredito.propina_movimiento) ?? 0)
                            ) }}</b>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0.35em; width: 70%">
                        <div style="text-align: right; font-weight: bold;">Total:</div>
                      </td>
                      <td style="padding: 0.35em">
                        <div style="text-align: right">
                          <b style="font-size: 14px;" id="subt">${{ formatearNumber(
                            (+dataDetalle?.notaCredito.total_movimiento)
                            + ((+dataDetalle?.notaCredito.domicilio_movimiento) ?? 0)
                            + ((+dataDetalle?.notaCredito.propina_movimiento) ?? 0)
                            ) }}</b>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>


              <p style="text-wrap: wrap; text-align: center;">{{dataDetalle?.notaCredito.cude }}</p>

              <div style="text-align: center; margin-top: 8px; font-family: Arial">
                <p style="
                  font-size: 9px;
                  padding: 0 !important;
                  margin: 0 !important;
                ">
                  Generado por {{ nameSite }}
                </p>
                <p style="
                  font-size: 9px;
                  padding: 0 !important;
                  margin: 0 !important;
                ">
                  Visítanos {{ dataDetalle?.infoRevendedor.web }} | Cel: {{ dataDetalle?.infoRevendedor.telefono }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <ng-template #loadingPdf>
          <img src="../../../../../assets/logos/Loading-Puvesoft.gif" style="
            width: 6rem;
            height: 6rem;
            margin-left: 50%;
            margin-top: 10%;
          " />
        </ng-template>
      </div>
    </div>
  </div>
</div>
<!--FIN MODAL DETALLE NOTA CRÉDITO-->