<table>
  <tbody>
    <tr class="well">
      <td style="font-size: 10px; cursor: pointer; text-align: center">
        <ul
          (click)="navigator('./informe/historialventa')"
          style="
            margin-bottom: 0px;
            line-height: 10px;
            width: 80px;
            padding-left: 10px;
          "
        >
          <span class="text-muted text-small">
            <span style="display: block">Recibo</span>
            <span style="display: block; margin-bottom: 4px">Venta</span>
          </span>
          <i
            class="bi bi-file-earmark-text"
            style="font-size: 30px; margin: 5px; color: #0d549e"
          ></i>
        </ul>
      </td>

      <td style="font-size: 10px; cursor: pointer; text-align: center">
        <ul
          (click)="navigator('./informe/historialventaposelectronico')"
          style="
            margin-bottom: 0px;
            line-height: 12px;
            width: 65px;
            padding-left: 10px;
          "
        >
          <span class="text-muted text-small">
            <span style="display: block">Pos</span>
            <span style="display: block; margin-bottom: 4px">Electrónico</span>
          </span>
          <i
            class="bi bi-file-earmark-text"
            style="font-size: 30px; color: #13a344; margin: 5px"
          ></i>
        </ul>
      </td>
      <td style="font-size: 10px; cursor: pointer; text-align: center">
        <ul
          (click)="navigator('./informe/historialventaelectronica')"
          style="
            margin-bottom: 0px;
            line-height: 12px;
            width: 65px;
            padding-left: 10px;
          "
        >
          <span class="text-muted text-small">
            <span style="display: block">Facturas</span>
            <span style="display: block; margin-bottom: 4px">Electrónicas</span>
          </span>
          <i
            class="bi bi-file-earmark-medical"
            style="font-size: 30px; color: #13a344; margin: 5px"
          ></i>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
