<!-- MODAL PARA LA GESTION DEL PAGO -->
<div class="modal fade" bsModal #staticModalPagar="bs-modal" [config]="{ backdrop: 'static' }" tabindex="-1"
  role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog" style="min-width: 50% !important">
    <div class="modal-content">
      <div class="modal-header" style="background: #2c539e; padding: 15px">
        <h4 id="dialog-static-name" class="modal-title pull-left" style="color: aliceblue">
          Información de pago de compra
        </h4>
        <div class="d-flex">
          <h4 *ngIf="formPago.get('metodo_pago').value == 10" id="dialog-static-name" class="modal-title p-2"
            style="color: white; border: 1px solid white">
            Por cobrar: {{ moneda }}
            {{ formatearNumber(formPago.get("valor_adeudado")?.value) }}
          </h4>
          <button type="button" class="close" aria-label="Close" (click)="closeModalPagar()">
            <span aria-hidden="true" style="color: aliceblue">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <form [formGroup]="formPago" autocomplete="off">
          <div class="row">
            <div class="form-group col-md-12 mb-1" *ngIf="
                  sucursal.proveedor_electronico_id != null &&
                  sucursal.proveedor_electronico_id != '' && sucursal.is_fact_elect
                ">
              <label for="" style="font-weight: bold; margin-bottom: 0px">Tipo de factura</label>
              <select required class="form-control mb-1 rounded"
                style="height: 30px; padding-bottom: 0px; padding-top: 0px" formControlName="tipo_factura">
                <!-- (change)="llamarInsumo()" -->
                <option *ngFor="let item of tipoFactura" [value]="item.id">
                  {{ item.nombre }}
                </option>
              </select>
            </div>

            <div class="form-group col-md-12 mb-1" *ngIf="
                  sucursal.plan == 3 || sucursal.plan == 4 
                ">
              <label for="" style="font-weight: bold; margin-bottom: 0px">Bodega</label>
              <select required class="form-control mb-1 rounded"
                style="height: 30px; padding-bottom: 0px; padding-top: 0px" formControlName="bodega">
                <option disabled selected value="">SELECCIONAR...</option>
                <option *ngFor="let item of dataBodega" [value]="item.codigo">
                  {{ item.nombre }}
                </option>
              </select>
            </div>

            <div class="form-group col-md-6" style="text-align: center">
              <label for="" style="font-weight: bold; margin-bottom: 0px">COD FACTURA</label>
              <input type="text" formControlName="codigo_factura" class="form-control mb-1 rounded"
                style="height: 30px; padding-bottom: 0px; padding-top: 0px" />
            </div>
            <div class="form-group col-md-6" style="text-align: center">
              <label for="" style="font-weight: bold; margin-bottom: 0px">FECHA COMPRA</label>
              <input type="date" formControlName="fecha_compra" class="form-control mb-1 rounded"
                style="height: 30px; padding-bottom: 0px; padding-top: 0px" />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6 mb-1" style="text-align: center">
              <label for="" style="font-weight: bold; margin-bottom: 0px">Proveedor</label>
              <ng-select placeholder="Buscar proveedor" formControlName="proveedor_id"
                (search)="getBuscarProveedor($event.term)" (change)="onItemSelected($event)"
                (keydown)="onKeyDown($event)">
                <ng-option *ngFor="let car of _dataProveedor" [value]="car.id">{{ car.documento + " - " + car.nombre
                  }}</ng-option>
              </ng-select>
            </div>
            <div class="col-md-6 mb-1 d-flex flex-column justify-content-end" style="text-align: center">
              <button class="btn btn-primary" (click)="openCreateOperator()">Crear Proveedor</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6" style="text-align: center">
              <div class="form-group">
                <label for="" style="font-weight: bold; margin-bottom: 0px">Metodo de pago</label>
                <select required class="form-control mb-1 rounded"
                  style="height: 30px; padding-bottom: 0px; padding-top: 0px" formControlName="metodo_pago"
                  (change)="changeMetodoPago($event)">
                  <!-- (change)="llamarInsumo()" -->
                  <option *ngFor="let item of dataMetodoPagos" [value]="item.id">
                    {{ item.nombre }}
                  </option>
                </select>
              </div>

              <div class="row">
                <ng-container *ngIf="formPago.get('metodo_pago').value == 10">
                  <ng-container formArrayName="combinado">
                    <ng-container *ngFor="let pay of combinado.controls; let k = index" [formGroupName]="k">
                      <div class="form-group col-6" style="text-align: center; font-size: 9px !important">
                        <label for="" style="font-weight: bold; margin-bottom: 0px">{{ pay.get("nombre").value
                          }}</label>
                        <input type="text"
                          onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;"
                          inputmode="numeric" (keyup)="valor_pagar_input(k, $event.target.value)"
                          (input)="changeDeuda(k)" formControlName="price" placeholder="0"
                          class="form-control mb-1 rounded" style="
                            height: 30px;
                            padding-bottom: 0px;
                            padding-top: 0px;
                            text-align: right;
                          " />
                      </div>
                    </ng-container>
                  </ng-container>
                </ng-container>

                <ng-container *ngIf="
                    (formPago.get('metodo_pago').value == 10 &&
                      hasValueItemCredit()) ||
                    formPago.get('metodo_pago').value == 2
                  ">
                  <div class="form-group {{hasValueItemCredit() ? 'col-6' : 'col-12'}}" style="text-align: center">
                    <label for="" style="font-weight: bold; margin-bottom: 0px;  font-size: 9px;" [ngStyle]="
                    ">FECHA VENCIMIENTO CRÉDITO</label>
                    <input type="date" class="form-control mb-1 rounded text-center" formControlName="date_credito"
                      style="
                        height: 30px;
                        padding-bottom: 0px;
                        padding-top: 0px;
                      " />
                  </div>
                </ng-container>
              </div>
            </div>

            <div *ngIf="showInputCaja" class="col-md-6" style="text-align: center">
              <div class="form-group">
                <label for="" style="font-weight: bold; margin-bottom: 0px">Sacar de Caja</label>
                <select class="form-control mb-1 rounded" style="height: 30px; padding-bottom: 0px; padding-top: 0px"
                  formControlName="sacar_caja" (change)="canViewOpen($event)">
                  <option disabled selected value="">SELECCIONE...</option>
                  <option value="1">SÍ</option>
                  <option value="0">NO</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6" style="text-align: center">
              <div class="form-group">
                <label for="" style="font-weight: bold; margin-bottom: 0px">Observación</label>
                <textarea class="form-control mb-1 rounded" formControlName="observacion"
                  style="height: 80px; padding-bottom: 0px; padding-top: 0px"></textarea>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="showApertura">
            <app-apertura-caja class="mx-auto" (editEvent)="closeApertura($event)"></app-apertura-caja>
          </div>

          <ng-container *ngIf="!showApertura">
            <div class="row">
              <div class="form-group col-md-6" style="text-align: center">
                <label for="" style="font-weight: bold; margin-bottom: 0px">TOTAL A PAGAR</label>
              </div>
              <div class="form-group col-md-6" style="text-align: center">
                <label for="" style="
                        font-size: 19px !important;
                        height: 37px;
                        font-weight: bold;
                        color: #2c2c2c;
                        text-align: center;
                  " class="form-control mb-1 rounded">
                  {{ moneda }} {{ formatearNumber(formPago.get("valor_total").value) }}
                </label>
              </div>
            </div>
          </ng-container>

          <div class="d-flex justify-content-end align-items-center" *ngIf="!showApertura">
            <button *ngIf="!isDisabled; else buttonPagando" type="button" class="btn btn-primary btn-shadow"
              (click)="onSubmit()" [disabled]="isDisabled">
              Procesar
            </button>
            <ng-template #buttonPagando>
              <button class="btn btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Procesando...
              </button>
            </ng-template>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>