.tableImprimir {
  width: 100%;
  border: 1px solid rgb(70, 69, 69);
  border-collapse: collapse;
  font-family: sans-serif;
}

.tableImprimir th,
.tableImprimir td {
  border: 1px solid rgb(70, 69, 69);
  padding-left: 10px;
  padding-right: 10px;
}

.modal-dialog.modal-lg2 {
  max-width: 93%;
}

.modal-dialog.modal-lg3 {
  max-width: 60%;
}
.modal-dialog.modal-lg4 {
  max-width: 80%;
}

footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}

.tlt {
  text-transform: capitalize;
}

td {
  padding: 5px;
  /*border-color: #f8f8f8 !important;*/
}

.content-table {
  border-collapse: collapse;
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); */
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #f8f8f8;
}

.hv:hover {
  background-color: #145388;
  border-radius: 10px;
  color: #ffffff;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #145388d6;
  color: #ffffff;
  border-radius: 10px;
}

.texto-tabla {
  font-weight: 400;
  padding-left: 10px;
  vertical-align: middle;
}

.width-td {
  width: 20px !important;
}

.top1 {
  position: relative;
}

.top2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
}

/* Estilos de componentes de listado */
.titulo {
  font-size: 21px;
  font-weight: 600;
  color: #444343;
}

@media (min-width: 865px) {
  .titulo {
    font-size: 25px;
    font-weight: 600;
    color: #444343;
  }
}

/* Estilos para el pie de página */
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

@media print {
  .footer {
    position: fixed;
    bottom: 0;
    background-color: #f9f9f9;
    padding: 10px;
    text-align: center;
  }
}


