<!-- MODAL PARA LA GESTION DEL PAGO -->
<div
  class="modal fade"
  bsModal
  #staticModalPagar="bs-modal"
  [config]="{ backdrop: 'static' }"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-static-name"
>
  <div class="modal-dialog" style="min-width: 80% !important; display: none;">
    <div class="modal-content">
      <div class="modal-header" style="background: #2c539e; padding: 15px">
        <h4
          id="dialog-static-name"
          class="modal-title pull-left"
          style="color: aliceblue"
        >
          Información de pago
        </h4>
        <div class="d-flex">
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="closeModalPagar()"
          >
            <span aria-hidden="true" style="color: aliceblue">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <button class="btn btn-secondary" (click)="imprimir()">Imprimir</button>
        <div
          #print_ticket
          id="print_ticket"
          [ngStyle]="{
            'max-width': anchoTicket +'px',
            'font-size': sizeLetraTicket+'px'
          }"
          style="
            font-style: normal;
            line-height: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
          "
        >
          <!-- Sucursal -->

          <table
            style="
              width: 100%;
              font-size: 15px !important;
              font-family: 'Arial';
            "
          >
            <tr>
              <td style="text-align: center">
                <h4 style="text-align: center">
                  <h4 class="text-center">
                    {{ sucursal?.id == 1110 ? 'Comprobante de Servicios' : 'Cotización' }}
                  </h4>

                </h4>
              </td>
            </tr>

            <tr>
              <td style="text-align: center">
                <h3
                 style="text-align: center; margin-bottom: 5px;">{{ sucursal?.nombre }}</h3>
              </td>
            </tr>
            <tr *ngIf="sucursal?.logo">
              <td 
              style="text-align: center;"><img src="{{sucursal?.logo}}" alt="Puvesoft" /></td>
            </tr>
            <tr *ngIf="type != 3 && sucursal?.nit">
              <td 
              [ngStyle]="{
                'font-size': sizeLetraTicket+'px'
              }
              "
              style="text-align: center">
                <span>{{ sucursal?.nit }}</span>
              </td>
            </tr>
            <tr *ngIf="type != 3">
              <td [ngStyle]="{
                'font-size': sizeLetraTicket+'px'
              }
              "
              style="text-align: center">
                <span>{{ sucursal?.direccion }} - {{sucursal?.telefono}}</span>
              </td>
            </tr>
            <tr *ngIf="type != 3">
              <td [ngStyle]="{
                'font-size': sizeLetraTicket+'px'
              }
              "
              style="text-align: center;">
                <span
                  >{{ sucursal?.departamento }} -
                  {{ sucursal?.municipio }}</span
                >
              </td>
            </tr>
            <tr *ngIf="type != 3 && sucursal?.regimen">
              <td [ngStyle]="{
                'font-size': sizeLetraTicket+'px'
              }
              "
               style="text-transform: capitalize; text-align: center;">
               {{ sucursal?.regimen }}
              </td>
            </tr>
          </table>

          <table
            style="
              width: calc(100% - 35px);
              margin-top: 15px;
              font-family: 'Arial';
            "
          >
            <tr *ngIf="type != 3">
              <td [ngStyle]="{
                'font-size': sizeLetraTicket+'px'
              }
              ">
                <span style="font-weight: bolder; text-align: center"
                  >FACTURA No.</span
                >
                <span>{{ ticket?.facturaVenta?.cod_factura }}</span>
              </td>
            </tr>
            <tr>
              <td [ngStyle]="{
                'font-size': sizeLetraTicket+'px'
              }
              ">
                <span style="font-weight: bolder; text-align: center"
                  >FECHA:</span
                >
                <span>{{ ticket?.facturaVenta?.fecha }}</span>
              </td>
            </tr>
            <tr *ngIf="type != 3">
              <td [ngStyle]="{
                'font-size': sizeLetraTicket+'px'
              }
              ">
                <span style="font-weight: bolder; text-align: center"
                  >NIT/Doc CLIENTE:</span
                >
                <span>{{ ticket?.cliente?.documento }}</span>
              </td>
            </tr>
            <tr *ngIf="type != 3">
              <td [ngStyle]="{
                'font-size': sizeLetraTicket+'px'
              }
              ">
                <span style="font-weight: bolder; text-align: center"
                  >NOMBRE CLIENTE:</span
                >
                <span>{{ ticket?.cliente?.nombre }}</span>
              </td>
            </tr>
            <tr>
              <td [ngStyle]="{
                'font-size': sizeLetraTicket+'px'
              }
              ">
                <span style="font-weight: bolder; text-align: center"
                  >ATENDIÓ:</span
                >
                <span>{{ ticket?.atendio?.nombre }}</span>
              </td>
            </tr>
            <tr>
                <td [ngStyle]="{
                  'font-size': sizeLetraTicket+'px'
                }
                ">
                  <span style="font-weight: bolder; text-align: center"
                    >VENCIMIENTO:</span
                  >
                  <span>{{ ticket?.facturaVenta.fecha_vencimiento_credito }}</span>
                </td>
              </tr>
          </table>

          <table
          [ngStyle]="{
            'font-size': sizeLetraTicket+'px'
          }
          "
            style="
              width: 100%;
              margin-top: 15px;
              font-family: 'Arial';
            "
          >
            <thead>
              <tr>
                <th>CAN</th>
                <th style="text-align: left;">DESCRIPCIÓN</th>
                <th *ngIf="canShowTotals" style="text-align: right;">VALOR</th>
                <th *ngIf="canShowTotals" style="text-align: right;" 
                [ngStyle]="{
                  'font-size': (sizeLetraTicket-2)+'px'
                }"
                >DESC</th>
                <th *ngIf="canShowTotals" style="text-align: right;">TOTAL</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of ticket?.facturaVentaDetalle">
                <td>{{ item.cantidad }}</td>
                <td style="text-align: left;">{{ item.nombre }}</td>
                <td *ngIf="canShowTotals" style="text-align: right;">
                  {{ formatearNumber(item.valor_venta) }}
                </td>
                <td *ngIf="canShowTotals" style="text-align: right;" 
                [ngStyle]="{
                  'font-size': (sizeLetraTicket-2)+'px'
                }"
                >
                  {{ item.por_des }}%
                </td>
                <td *ngIf="canShowTotals" style="text-align: right;">{{ formatearNumber(item.total) }}</td>
              </tr>
            </tbody>
            <tfoot *ngIf="canShowTotals">
              <tr>
                <th></th>
                <th></th>
                <th colspan="2" style="text-align: right;">SUBTOTAL</th>
                <th style="text-align: right;">
                  {{ moneda }} {{ formatearNumber(ticket?.subtotal_s_imp) }}
                </th>
              </tr>
              <tr>
                <th></th>
                <th></th>
                <th colspan="2" style="text-align: right;">IVA 5%</th>
                <th style="text-align: right;">{{ moneda }} {{ formatearNumber(ticket?.iva5) }}</th>
              </tr>
              <tr>
                <th></th>
                <th></th>
                <th colspan="2" style="text-align: right;">IVA 16%</th>
                <th style="text-align: right;">{{ moneda }} {{ formatearNumber(ticket?.iva16) }}</th>
              </tr>
              <tr>
                <th></th>
                <th></th>
                <th colspan="2" style="text-align: right;">IVA 19%</th>
                <th style="text-align: right;">{{ moneda }} {{ formatearNumber(ticket?.iva19) }}</th>
              </tr>
              <tr>
                <th></th>
                <th></th>
                <th colspan="2" style="text-align: right;">ICO</th>
                <th style="text-align: right;">
                  {{ moneda }} {{ formatearNumber(ticket?.impuestoConsumo) }}
                </th>
              </tr>
              <tr *ngIf="ticket?.impuestoICUI > 0">
                <td colspan="4" style="text-align: right">ICUI</td>
                <td style="text-align: right">
                  {{ moneda }}{{ formatearNumber(ticket?.impuestoICUI) }}
                </td>
              </tr>
              <tr>
                <th></th>
                <th></th>
                <th colspan="2" style="text-align: right;">DESCUENTO</th>
                <th style="text-align: right;">
                 - {{ moneda }} {{ formatearNumber(ticket?.facturaVenta?.descuento_s_imp) }}
                </th>
              </tr>
              <tr  *ngIf="+(ticket?.facturaVenta?.total_retencion)  > 0">
                <td colspan="4" style="text-align: right">TOTAL FACTURA</td>
                <td style="text-align: right">
                  {{ moneda }} {{ formatearNumber((ticket?.facturaVenta?.subtotal)-(ticket?.facturaVenta?.descuento)) }}
                </td>
              </tr>
              <tr *ngIf="ticket?.facturaVenta?.total_retencion > 0">
                <th></th>
                <th></th>
                <th colspan="2" style="text-align: right;">RETENCIÓN</th>
                <th style="text-align: right;">
                  {{ moneda }} {{ formatearNumber(ticket?.facturaVenta?.total_retencion) }}
                </th>
              </tr>
              <tr>
                <th></th>
                <th></th>
                <th colspan="2" style="text-align: right;">TOTAL</th>
                <th style="text-align: right;">
                  {{ moneda }} {{ formatearNumber(ticket?.facturaVenta?.total_with_tip) }}
                </th>
              </tr>
            </tfoot>
          </table>

          <div
            *ngIf="ticket?.facturaVenta?.nota != null"
            class="mt-3 mb-3"
            style="
              font-weight: bolder;
              text-align: start;
              border: 1px solid black;
            "
          >
            <p [ngStyle]="{
              'font-size': sizeLetraTicket+'px'
            }
            " class="m-0">
              NOTA: {{ ticket?.facturaVenta?.nota }}
            </p>
          </div>

          <div  [ngStyle]="{
            'font-size': sizeLetraTicket+'px'
          }
          " style="text-align: center; font-family: Arial;">
            <p>{{sucursal?.texto_cotizacion}}</p>
          </div>

          <div style="text-align: center">
            <p [ngStyle]="{
              'font-size': sizeLetraTicket+'px'
            }
            "
              style="
                padding: 0 !important;
                margin: 0 !important;
              "
            >
            Generado por {{nameSite}}
            </p>
            <p [ngStyle]="{
              'font-size': sizeLetraTicket+'px'
            }
            "
              style="
                padding: 0 !important;
                margin: 0 !important;
              "
            >
            Visítanos {{ ticket?.infoRevendedor?.web }} | Cel: {{ ticket?.infoRevendedor?.telefono }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
