<div class="row" *ngIf="loaded; else loading">
  <div class="form-group col-md-6" style="padding-top: 20px; text-align: left">
    <label style="font-weight: bold"
      >Asi se vera el producto en su sistema POS</label
    >
    <div
      class="card"
      style="cursor: pointer; border-top: solid #2c539e; width: 145px"
    >
      <div style="text-align: left">
        <div class="container">
          <label
            class="label-left"
            style="
              font-size: 12px;
              background-color: #ffe348cc;
              color: #000000;
              border-radius: 7px;
              text-align: left;
              padding: 5px;
            "
            >$ {{ formatearNumber(precioProducto) }}</label
          >
          <label
            class="label-right"
            style="
              font-size: 8px;
              color: rgb(8, 198, 37);
              text-align: right;
              padding-top: 5px;
              vertical-align: middle;
            "
            >Aplicado<br />
            <b style="font-size: 10px">{{ por_descuento }}%</b> Desc
          </label>
        </div>
        <div class="columx2">
          <div
            class="columna d-flex flex-direction-column justify-content-center"
          >
            <img
              src="https://m.media-amazon.com/images/I/714GUnYxfhL._AC_SL1500_.jpg"
            />
          </div>
        </div>
      </div>
      <div
        style="
          background-color: rgb(228, 228, 228);
          height: 50px;
          border-radius: 5px;
          text-align: center;
          font-weight: 600;
        "
      >
        <div style="padding: 6px; color: #000000">
          <p
            style="font-size: 9px; line-height: 0.8rem"
            class="moduleprod line-clampprod"
          >
            TWWBDJ CNA Trop – Zapatos ortopédicos para hombre
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group col-md-6" style="padding-top: 10px;">
    <div
    style="background: #dfffdf; width: 100%;"
    class="alert card-alerta"
    role="alert"
  >
    La promoción estará activa desde {{this.dataPromocion?.fecha_inicio+" "+this.dataPromocion?.hora_inicio}} hasta 
    {{this.dataPromocion?.fecha_fin+" "+this.dataPromocion?.hora_fin}}
  </div>
  </div>
  <div class="form-group col-md-6">
    <div class="d-flex">
      <button
        (click)="atras()"
        class="btn btn-light btn-shadow"
        style="font-size: 14px"
      >
        Atras
      </button>
    </div>
  </div>
  <div class="form-group col-md-6">
    <div
      class="d-flex justify-content-end align-items-center"
      style="padding-right: 5px"
    >
      <button
        class="btn btn-primary btn-shadow"
        style="font-size: 14px"
        (click)="finalizar()"
      >
        Finalizar
      </button>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="text-center">
    <img
      src="./assets/logos/Loading-Puvesoft.gif"
      style="width: 6rem; height: 6rem; margin-top: 10%"
    />
  </div>
</ng-template>
