.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

.label-left, .label-right {
  /* Establece el ancho según tus necesidades */
  flex: 0 0 auto;
}
