<div class="text-center" [ngStyle]="{ display: pageView === 0 ? 'block' : 'none' }">
  <img src="../../../../../assets/logos/Loading-Puvesoft.gif" style="width: 6rem; height: 6rem; margin-top: 10%"/>
</div>

<!-- Bloque zonas y mesas -->
<div class="row" [ngStyle]="{ display: pageView === 1 ? 'block' : 'none' }">
  <ng-container>
    <!-- ##################################### ZONAS ###################################### -->
    <div class="col-md-12 mb-4 pl-0 pr-0">

      <div class="card text-center mx-2 float-right venta-rapida" style="
      cursor: pointer;width: 180px; vertical-align: middle;  padding: 9px; 
      border-top: 3px solid #2c539e;
      " (click)="entrarVentaRapida()" 
      >
      Venta rápida
      </div>

      <h5 class="mb-3 pt-2 pt-md-0 mx-3 mx-md-0" style="font-weight: bolder; text-align: center;">
        Seleccionar Zonas
      </h5>
      <!-- Para traer el listado de zonas -->
      <ng-container *ngIf="zoneData?.length > 0; else emptyZone">
        <div class="contenedor" style="
            max-width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            height: auto;
          ">
          <table class="mx-auto">
            <tr>
              <td *ngFor="let item of zoneData" title="{{ item.nombre }}">
                <div class="card text-center mx-2" style="cursor: pointer;width: 180px; vertical-align: middle;  padding: 9px; " (click)="getMesas(item.id, item.nombre)" 
                [ngStyle]="{
                    'border-top': zonaSeleccionada == item.id ? 'solid #2c539e': 'solid #9fa2a9', 
                    'font-weight': zonaSeleccionada == item.id ? 'bold': 'normal', 
                }">
                {{ item.nombre }}
                </div>

              </td>
            </tr>
          </table>
        </div>
        <div class="div-zona-seleccionada text-center" style="font-weight: bold;
        background: #9fa3a714;">
          {{mesaSeleccionada}}
        </div><br>

        <div>
          <div>
            <div class="row mb-2 mx-3 mx-md-0 justify-content-around">
              <div class="col-md-3 col-lg-2 col-sm-4 col-12 mb-2 px-2" *ngFor="let item of dataMesas"
                style="flex: 0 0 11rem">
                <div class="card p-1" [ngStyle]="{
                  'border-top': item.cod_factura == null ? 'solid #9fa2a9': 'solid #2c539e',
              }">
                  <!-- getCategorias(item.id, item.total); getProductosActivos() -->
                  <div class="bg-white">
                    <label style="font-size: 12px; border-radius: 4px;" class="lead text-left pl-1 pr-2" [ngStyle]="{
                      'background-color': item.cod_factura == null ? '#e6e6e6': '#d3e5f6',
                  }">
                      {{ item.nombre }}
                    </label>
                    <button class="btn ml-1 mr-1 float-right" style="padding: 0px; height: 20px"
                      [disabled]="showTicket||(!item.cod_factura)" (click)="imprimirTicket(item.cod_factura, 1, true)">
                      <i *ngIf="item.cod_factura" class="bi bi-printer"></i>
                    </button>
                    <button class="btn ml-1 mr-1 float-right" style="padding: 0px; height: 20px"
                      [disabled]="showTicket||(!item.cod_factura)" (click)="imprimirTicket(item.cod_factura, 3, false)">
                      <i *ngIf="item.cod_factura" class="bi bi-file-earmark-text"></i>
                    </button>
                  </div>
                  <div class="card-body text-center bg-white pb-0 pt-1 px-1">

                    <img *ngIf="item.cod_factura == null" (click)="entrar(item.id)"
                      style="width: 100px; cursor: pointer;"
                      src="assets/img/mesa0.png" />
                    <img *ngIf="item.cod_factura != null" style="width: 100px; cursor: pointer;"
                      (click)="entrar(item.id)"
                      src="assets/img/mesa1.png" />
                    <div class="d-flex justify-content-around mb-1" style="margin-left: 23%;
                    margin-right: 15%;">
                      <button [disabled]="item.cod_factura == null" (click)="entregar(item.id)" class="btn btn-sm btn-block {{
                            item.entregar == true ? 'btn-success' : 'btn-normal'
                          }}" style="font-size: 12px; height: 27px;">
                        Entregado
                      </button>



                      <button class="btn mr-1 ml-2" style="padding: 0px; height: 27px"
                        [disabled]="item.cod_factura == null || !permisoBorrarPrefactura" (click)="eliminarPedido(item)">
                        <i class="bi bi-trash3" style="color: #af1515;font-size: 19px;"></i>
                      </button>



                    </div>


                    <!-- <p style="padding: 0px;
                      height: 20px;
                      font-size: 12px;" class="lead text-center mb-1">
                      # Puestos {{ item.puesto }}
                    </p> -->
                    <p style="
                      font-size: 17px; font-weight: bold;" class="lead text-center mb-1" [ngStyle]="{
                  'color': item.total == null ? '#919191': '#1F8F09',
              }"
                      >
                      $ {{ formatearNumber(item.total) }}
                    </p>
                    <div>
                      <div class="d-flex justify-content-around mb-1">
                        <button class="btn btn-normal btn-sm btn-block" [disabled]="item.cod_factura == null" (click)="
                            openModalPayment(
                              item.id,
                              item.cod_factura,
                              item.total,
                              item.propina
                            )
                          " style="font-size: 12px; height: 27px;font-weight: bold;">
                          Pagar
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="card-body text-center bg-white pb-1 pt-0 px-1">
                    <textarea class="m-0 pl-1 pt-1" readonly style="
                      height: 45px;
                      min-height: 45px;
                      overflow-y: auto;
                      background-color: #e6e6e6;
                      resize: vertical;
                      width: 100%;
                      border: none;
                      font-size: 10px;
                      text-align: justify;
                      color: rgb(85, 85, 85);
                    ">{{ item.nota_mesa }}</textarea>
                  </div>
                </div>
              </div>
              <div *ngIf="dataMesas.length == 0 && loadedMesa != true">
                <p class="text-center" style="font-size: 14px;margin-top: 30px;font-weight: 600;">No se encontraron mesas, <a  [routerLink]="['/configuracion/mesa']">Click aquí para crear una mesa</a></p>
              </div>
              <div class="text-center" *ngIf="loadedMesa == true">
                  <img src="../../../../../assets/logos/Loading-Puvesoft.gif" style="width: 4rem; height: 4rem; margin-top: 10%"/>
              </div>
            </div>

          </div>
        </div>
        <!-- #################################################################################### -->
      </ng-container>

      <ng-template #emptyZone>
        <p class="text-center" style="font-size: 14px;margin-top: 30px;font-weight: 600;">No se encontraron zonas, <a  [routerLink]="['/configuracion/zona']">Click aquí para crear una zona</a></p>
      </ng-template>
    </div>
  </ng-container>
</div>

<app-venta-restaurante-bar-pagar [mesa]="idTableSelected" [precio]="precio" [factura]="idFactura" [propina]="propina"
  *ngIf="isPaymentVisible" (editEvent)="proccessEditEvent($event)">
</app-venta-restaurante-bar-pagar>

<app-ticket 
*ngIf="showTicket" 
(editEvent)="closeTicket($event)" 
[id]="idInvoice" 
[type]="type"
[canShowTotals]="canShowTotals"
>
</app-ticket>