<div class="row" *ngIf="loaded; else loading">
  <div class="col-12 mb-2">
    <!-- <p>{{'menu.blank-page' | translate}}</p> -->

    <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
      aria-labelledby="dialog-static-name">
      <div class="modal-dialog modal-lx">
        <div class="modal-content">
          <div class="modal-header" style="background: #2c539e;">

            <h5 id="dialog-static-name" class="modal-title pull-left" style="color: aliceblue;">{{action}}
            </h5>
            <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
              <span aria-hidden="true" style="color: aliceblue;">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="form" autocomplete="off">

              <div class="row">

                <div class="form-group col-md-6">
                  <label for="" style="font-weight: bold;">Descripción</label>
                  <input class="form-control rounded" placeholder="DESCRIPCIÓN" name="nombre"
                    style="text-transform: uppercase;" formControlName="nombre" />
                  <div *ngIf="campoEsValido('nombre')" class="alert-danger px-2 rounded"
                    style="background: rgba(3, 0, 0, 0);">*La descripción es requerida</div>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputDep" style="font-weight: bold;">Estado</label>

                  <select required class="form-control mb-1 rounded" formControlName="estado">
                    <option disabled selected value="">SELECCIONAR...</option>
                    <option value="1">ACTIVO</option>
                    <option value="2">NO ACTIVO</option>
                  </select>

                  <span *ngIf="campoEsValido('estado')" class="alert-danger px-2 rounded"
                    style="background: rgba(3, 0, 0, 0);">*El estado es
                    requerido</span>
                </div>
              </div>


              <div class="d-flex justify-content-end align-items-center">

                <button class="btn btn-primary btn-shadow" [disabled]="lockbutton" (click)="onSubmit()" style="font-size: 14px;">
                  <span *ngIf="lockbutton" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  {{action1}}
                </button>

              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- MODAL PARA GENERAR INFORME -->
  <div class="modal fade" bsModal #staticModal2="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-lg2">
      <div class="modal-content">
        <div class="modal-header">
          <h6 id="dialog-static-name" class="modal-title pull-left">Vista previa del documento.
          </h6>
          <button class="rounded" style="border: 0px; margin-left: 28%; padding-left: 10px; padding-right: 15px;"
          ngxPrint
          printSectionId="printThis" 
          >
            <img src="../../../../../assets/logos/pdf.png" tooltip="Exportar a PDF" placement="auto"
              style="width:35px;padding-bottom: 5px;" /> Imprimir o Descargar
          </button>
          <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal2()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height:80vh;overflow-y: auto;">


          <!-- 'printThis' is template reference -->
          <div #printThis id="printThis" >
            <div *ngIf="loaded2">
              <report-master-tables
                  [data]="dataPdf"
                  [headers]="headers"
                  [title]="titleModule"
                ></report-master-tables>
            </div>

          </div>
          <ng-template [ngIf]="!loaded2">
            <div class="spinner-border" style="width: 3rem; height: 3rem; margin-left: 50%; margin-top: 10%"
              role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN MODAL PARA GENERAR INFORME -->

  <div class="col-lg-12 col-md-12 mb-4" style="padding: 0px;">
    <div class="row">
      <div class="col col-sm" style="text-align: center">
        <H1 class="titulo text-center mb-0">{{ titleModule }}</H1>
      </div>
    </div>
    <div class="row" style="padding-left: 30px;">
      <div class="col">
        <div class="row float-left" style="padding-right: 30px; text-align: center">
          <form [formGroup]="size" style="width: 80px">
            <span class="text-muted text-small">Por página</span>
            <select required class="form-control mb-1 rounded"
              style="height: 27px; padding-bottom: 0px; padding-top: 0px" formControlName="data" (change)="llamar()">
              <option *ngFor="let item of selects" [value]="item">
                {{ item }}
              </option>
            </select>
          </form>
        </div>
      </div>
      <div class="col">
        <div class="row float-right" style="padding-right: 30px; text-align: center">
          <div class="col">
            <span class="text-muted text-small">Exportar</span>
            <div class="row">
              <button style="
                  background-color: transparent;
                  border: 10px;
                  padding-left: 0px;
                  padding-right: 0px;
                " (click)="generateExcel()">
                <img src="../../../../../assets/logos/excel_1.png" tooltip="Exportar a Excel" placement="auto"
                  style="width: 30px; padding-bottom: 5px" /></button>&nbsp;&nbsp;&nbsp;
              <button style="
                  background-color: transparent;
                  border: 10px;
                  padding-left: 0px;
                  padding-right: 0px;
                " (click)="openModal2()">
                <img src="../../../../../assets/logos/pdf.png" tooltip="Exportar a PDF" placement="auto"
                  style="width: 30px; padding-bottom: 5px" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-body" style="padding: 15px;">
        <div class="row justify-content-end">
          <div class="col-md-6 " style="padding-left: 30px;">
            <div class="row float-right">
              <form [formGroup]="search" style="width: 200px; margin-top: 5px">
                <input type="text" class="form-control rounded" formControlName="field" (keyup)="buscar()"
                  placeholder="Buscar por nombre" aria-label="Search" aria-describedby="search-addon" />
              </form>
              <span style="width: 40px; background: #ffffff" class="input-group-text border-0" id="search-addon">
                <i class="bi bi-search"></i>
              </span>
              <button style="
                  height: 30px;
                  margin-top: 5px;
                  margin-bottom: 10px;
                  margin-right: 15px;
                  font-size: 14px;
                  border-radius: 10px;
                " type="button" class="btn btn-primary float-right" (click)="openModal(1)">
                Nueva Zona
              </button>
            </div>

          </div>


        </div>
        <div style="display: block;overflow-y: auto;">
          <table class="table table-hover table-striped  content-table table-bordered" style="border: 0px;">
            <thead style="background: #e9e9e9">
              <tr style="color: rgb(44, 44, 44); text-align: center">
                <th scope="col">Item</th>
                <th scope="col">Nombre</th>
                <th scope="col">Estado</th>
                <th scope="col" style="width: 90px">Acción</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="data.length > 0; else nodata">
              <tr *ngFor="let item of data; let i = index;" style="font-weight: 400;">
                <td scope="row" style="font-weight: 400;vertical-align: middle;text-align: center;">{{i+1}}</td>
                <td scope="row" style="font-weight: 400;vertical-align: middle;text-align: center;">{{item.nombre}}</td>
                <td scope="row" style="font-weight: 400;vertical-align: middle;text-align: center;"
                  *ngIf="item.estado_id=='1'"><span class="badge badge-success"
                    style="font-size: 80%; background-color: #689975;">Activo</span></td>
                <td scope="row" style="font-weight: 400;vertical-align: middle;text-align: center;"
                  *ngIf="item.estado_id=='2'"><span class="badge badge-danger"
                    style="font-size: 80%; background-color: #df6868;">Inactivo</span></td>
                    <td style="text-align: center">
                      <!-- #0E898E Color azul-->
                      <button class="btn mr-1" style="padding: 0px; height: 20px" title="Editar" (click)="openModal(2, item)">
                        <i class="bi bi-pencil-square" style="color: #484848"></i>
                      </button>
                      <button class="btn" style="padding: 0px; height: 20px" title="Eliminar" (click)="delete(item)">
                        <i class="bi bi-trash3" style="color: #af1515"></i>
                      </button>
                    </td>
              </tr>
            </ng-container>
            <ng-template #nodata>
              <tr>
                <td scope="row" colspan="13" class="text-muted" style="vertical-align: middle">
                  <h4 class="h4-sin">No hay registros</h4>
                </td>
              </tr>
            </ng-template>
            </tbody>
          </table>
        </div>
        Pagina: {{ (pages | async).length-2 | json}}

        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-sm" style="display: flex; justify-content: center">
            <li class="pagination-prev page-item ng-star-inserted {{
                !(pages | async)[0].url ? 'disabled' : ''
              }}">
              <button class="page-link" aria-label="Previous" (click)="before()" [disabled]="!(pages | async)[0].url">
                <span aria-hidden="true">&laquo;</span>
              </button>
            </li>

            <ng-container *ngFor="let item of pages | async; let i = index">
              <li *ngIf="i != 0 && i != (pages | async).length - 1" [classList]="botones(item.active)">
                <button [disabled]="page == i" class="page-link" (click)="getZonas(i)">
                  {{ i }}
                </button>
              </li>
            </ng-container>

            <li class="pagination-next page-item ng-star-inserted {{
                !(pages | async)[(pages | async).length - 1].url
                  ? 'disabled'
                  : ''
              }}">
              <button class="page-link" aria-label="Next" (click)="next()"
                [disabled]="!(pages | async)[(pages | async).length - 1].url">
                <span aria-hidden="true">&raquo;</span>
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

</div>

<ng-template #loading>
 <div class="text-center">  <img src="./assets/logos/Loading-Puvesoft.gif"
    style="width: 6rem; height: 6rem;  margin-top: 10%" />
</div>
</ng-template>