 /* Estilos para el botón del dropdown */
 .btn-sm {
  padding: 0.0rem 0.0rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

/* Estilos para el ícono en el botón */
.dropdown-toggle i {
  font-size: 0.875rem;
  margin-right: 0.25rem;
}

/* Estilos para los elementos del dropdown-menu */
.dropdown-menu {
  font-size: 0.875rem;
  padding: 0.25rem 0;
  background-color: #ffffff; /* Fondo transparente */
  border: 1px solid #ccc; /*  borde */
  box-shadow: none; /* Eliminar sombra */
  font-size: 12px;
  cursor: pointer;
}

/* Estilo para los elementos del dropdown-menu al ser hover */
.dropdown-item:hover {
  background-color: #f8f9fa; /* Cambiar color de fondo al pasar el ratón */
  color: #000;
}