.icon-conf {
  font-weight: bolder;
  font-size: 17px;
  cursor: pointer;  
}

.sp-conf {
    font-size: 11px;
    cursor: pointer;
}

.icon-sp-conf {
    color: #131113;
    font-weight: bolder;
}

.sp-dis {
  opacity: .5;
  cursor: default;
}