<div>
  <!-- Modal cambio de mesa -->
  <div
    class="modal fade"
    bsModal
    #childModalChangeTable="bs-modal"
    [config]="{ backdrop: 'static' }"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-static-name"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background: #2c539e; padding: 15px">
          <h4
            id="dialog-static-name"
            class="modal-title pull-left"
            style="color: aliceblue"
          >
            ¿Desea cambiar la mesa del cliente?
          </h4>
          <button
            type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="closeModalChangeTable()"
          >
            <span aria-hidden="true" style="color: aliceblue">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-md-12" style="display: flex; flex-direction: row; flex-wrap: wrap">
            <div
              *ngFor="let item of zoneData"
              style="
                width: 200px;
                border-radius: 10px;
                text-align: center;
                align-items: center;
                vertical-align: middle;
                padding: 10px 0;
                margin: 5px;
              "
              [ngStyle]="{
                'background-color':
                  zoneSelected == item.id ? 'rgb(13 84 158)' : 'rgb(219 219 219)'
              }"
              
              (click)="chooseZoneToChange(item.id)"
            >
              <span style="border-bottom: 5px solid #f3f3f3 !important"
              [ngStyle]="{
                'color':
                  zoneSelected == item.id ? 'white' : '#252525'
              }"
              >{{
                item.nombre
              }}</span>
            </div>
          </div>

          <form [formGroup]="formNota" autocomplete="off">
            <div class="row" style="margin-top: 25px;" *ngIf="zoneSelected != null; else zoneNotSelected">
              <div
                class="form-group col-md-3"
                style="text-align: center"
                *ngFor="let item of tablesArr"
              >
                <label
                  for="table{{ item.id }}"
                  style="font-weight: bold; margin-bottom: 0px"
                >
                  <img style="width: 87px;"
                    src="https://www.puvesoft.com.co/Modulos/venta_restaurante_bar/imagen/mesa0.png"
                    alt=""
                  />
                  <br />
                  {{ item.nombre }}
                  <input
                    (change)="changeTableId(item.id)"
                    type="radio"
                    name="table"
                    id="table{{ item.id }}"
                  />
                </label>
              </div>
            </div>
            <ng-template #zoneNotSelected>
              <div style="text-align: center;
              margin-top: 15px;"
              >debe seleccionar una zona</div>
            </ng-template>

            <div class="d-flex justify-content-end align-items-center">
              <button
                (click)="closeModalChangeTable()"
                class="btn btn-danger btn-shadow"
              >
                Cancelar
              </button>
              <button
                [disabled]="inputTableSelected == null"
                (click)="confirmChangeTable()"
                class="btn btn-primary btn-shadow ml-2"
              >
                Cambiar Mesa
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
