<div class="row justify-content-center">
  <div class="card col-md-4 mx-center">
    <div class="card-body text-center">
      <h2>APERTURA DE CAJA</h2>
      <label style=" font-size: 12px">Para continuar debe realizar la apertura de caja</label>
      <form [formGroup]="formAperturaCaja">
        <div class="form-group">
          <label style="font-weight: bold; font-size: 12px">Valor Apertura</label
          ><br />
          <input
                  class="form-control mb-1 rounded"
                  (keyup)="valor_pagar($event.target.value)"
                  onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;"
                  formControlName="inicio_caja"
                  placeholder="Ingrese valor"
                  type="text"
                  inputmode="numeric"
                  [value]="formAperturaCaja.get('inicio_caja').value"
                  style="font-size: 24px !important; height: 50px; text-align: center;color: #267000;"
                />
        </div>
        <button
          [disabled]="disabled"
          class="btn btn-success"
          (click)="addCierreCaja()"
          style="border: none"
        >
          <span class="icon-sp-conf"></span> Guardar
        </button>
      </form>
    </div>
  </div>
</div>
