<!-- MODAL PARA LA GESTION DEL PAGO -->
<div class="modal fade" bsModal #staticModalPagar="bs-modal" [config]="{ backdrop: 'static' }" tabindex="-1"
  role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog" style="min-width: 30% !important;">
    <div class="modal-content">
      <div class="modal-header" style="background: #2c539e; padding: 15px">
        <h5 id="dialog-static-name" class="modal-title pull-left" style="color: aliceblue">
          Información de cierre de caja
        </h5>
        <div class="d-flex">
          <button type="button" class="close" aria-label="Close" (click)="closeModalPagar()">
            <span aria-hidden="true" style="color: aliceblue">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body" style="align-self: center;">
        <button class="rounded" style="
                border: 0px;
                margin-left: 28%;
                padding-left: 10px;
                padding-right: 15px;
                margin-bottom: 25px;
                background: #ffffff00;
              " (click)="imprimir()">
          <img src="../../../../../assets/logos/pdf.png" tooltip="Exportar a PDF" placement="auto"
            style="width: 35px; padding-bottom: 5px" />
          Imprimir o Descargar
        </button>
        <div #print_ticket id="print_ticket" style="
            font-style: normal;
            line-height: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            font-size: 15px;
            padding-right: 60px;
            padding-left: 30px;
          ">
          <!-- [ngStyle]="{
          'max-width': anchoTicket +'px',
          'font-size': sizeLetraTicket+'px'
        }" -->
          <!-- Sucursal -->
          <table style="
              width: 100%;
              font-family: 'Arial';
            ">
            <tr>
              <td style="text-align: center">
                <p style="font-weight: normal;margin-bottom: 3px;text-align: center; font-size: 18px;">
                  {{ titleTicket }}</p>
              </td>
            </tr>

            <tr>
              <td style="text-align: center">
                <h3 style="text-align: center; margin-bottom: 5px;">{{ sucursal?.nombre }}</h3>
              </td>
            </tr>
            <tr *ngIf="sucursal?.logo">
              <td style="text-align: center;"><img src="{{sucursal?.logo}}" alt="Puvesoft" /></td>
            </tr>
            <tr *ngIf="sucursal?.nit">
              <td [ngStyle]="{
                'font-size': sizeLetraTicket+'px'
              }
              " style="text-align: center">
                <span>{{ sucursal?.nit }}</span>
              </td>
            </tr>

            <tr>
              <td [ngStyle]="{
                'font-size': sizeLetraTicket+'px'
              }
              " style="text-align: center">
                <span>{{ sucursal?.direccion }} - {{sucursal?.telefono}}</span>
              </td>
            </tr>

            <tr>
              <td [ngStyle]="{
                'font-size': sizeLetraTicket+'px'
              }
              " style="text-align: center;">
                <span>{{ sucursal?.departamento }} -
                  {{ sucursal?.municipio }}</span>
              </td>
            </tr>

            <tr *ngIf="sucursal?.regimen">
              <td [ngStyle]="{
                'font-size': sizeLetraTicket+'px'
              }
              " style="text-transform: capitalize; text-align: center;">
                {{ sucursal?.regimen }}
              </td>
            </tr>
          </table>

          <table style="
          width: calc(100% - 35px);
          margin-top: 15px;
          margin-left: 35px;
          font-family: 'Arial';
        ">

            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center">Nro. Cierre: </span>
                <span>{{ ticket?.codigo_cierre }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center">Fecha Apertura: </span>
                <span>{{ ticket?.fecha_apertura_caja }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center">Fecha Cierre: </span>
                <span>{{ ticket?.fecha_cierre_caja }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center">Usuario Apertura: </span>
                <span>{{ ticket?.usuario_apertura }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center">Usuario Cierre: </span>
                <span>{{ ticket?.usuario_cierre }}</span>
              </td>
            </tr>
          </table>

          <table style="
              width: calc(100% - 35px);
              margin-top: 15px;
              font-size: 15px !important;
              font-family: 'Arial';
            ">

            <tr>
              <td>
                <span style="font-weight: bolder; text-align: left">Vlr Inicio Caja: </span>
              </td>
              <td style="font-weight: bolder; text-align: right">
                <span>{{ formatearNumber(ticket?.valor_inicio_caja) }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <p style="font-weight: bold;margin-bottom: 3px;
                margin-top: 20px;">MOVIMIENTOS DE VENTAS</p>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center;">Total Ventas:</span>
              </td>
              <td style="font-weight: bolder; text-align: right">
                <span>{{ formatearNumber(ticket?.total_ventas) }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center;">Total Serv. Voluntario:</span>
              </td>
              <td style="font-weight: bolder; text-align: right">
                <span>{{ formatearNumber(ticket?.total_propinas) }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center;">Total Domicilios:</span>
              </td>
              <td style="font-weight: bolder; text-align: right">
                <span>{{ formatearNumber(ticket?.total_domicilios) }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center">Total Abono Credito:</span>
              </td>
              <td style="font-weight: bolder; text-align: right">
                <span>{{ formatearNumber(ticket?.total_abonos_credito) }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center">Metodo Pago:</span>
              </td>
              <td>
                <span style="font-weight: bolder; text-align: center">Valor</span>
              </td>
            </tr>
            <ng-container *ngFor="let item of ticket?.ventas_metodo_pago">
            <tr *ngIf="item.venta>0 ||item.propina>0 || item.domicilio>0">
              <td>
                <span style="font-weight: bolder; font-weight: normal ;font-weight: bold; ">{{ item.nombre }}:</span>
                <div>
                  <span style="font-weight: bolder; font-weight: normal ;padding-left: 20px; ">Serv. Volunt.</span>
                </div>

                <div>
                  <span style="font-weight: bolder; font-weight: normal ;padding-left: 20px; ">Domicilio</span>
                </div>
              </td>
              <td style="font-weight: bolder; font-weight: normal; text-align: right">
                <span><b>{{ formatearNumber(item.venta) }}</b></span>
                <div><span>{{ formatearNumber(item.propina) }}</span></div>
                <div><span>{{ formatearNumber(item.domicilio) }}</span></div>
              </td>
            </tr>
          </ng-container>
            <tr>
              <td>
                <br><span style="font-weight: bolder; text-align: center">Devoluciones:</span>
                <div style="font-size: 10px;">(Notas créditos y notas de ajustes documentos soportes POS)</div>
              </td>
              <td style="font-weight: bolder; text-align: right">
                <span>-{{ formatearNumber(ticket?.devoluciones) }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center">Notas créditos ajustes precios:</span>
              </td>
              <td style="font-weight: bolder; text-align: right">
                <span>-{{ formatearNumber(ticket?.nc_ajuste_precio ?? 0) }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center">Notas créditos ajustes cargos:</span>
                <div style="font-size: 10px;">(Ajustes a propinas y domicilios)</div><br>
              </td>
              <td style="font-weight: bolder; text-align: right">
                <span>-{{ formatearNumber(ticket?.nc_ajuste_cargo ?? 0) }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center">Notas débitos aumento cantidad:</span>
                <div style="font-size: 10px;">(Concepto aplicado: Otros)</div>

              </td>
              <td style="font-weight: bolder; text-align: right">
                <span>{{ formatearNumber(ticket?.nb_ajuste_cantidad ?? 0) }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center">Notas débitos ajuste de precio:</span><br><br>
              </td>
              <td style="font-weight: bolder; text-align: right">
                <span>-{{ formatearNumber(ticket?.doc_soporte_ajuste_precio ?? 0) }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center">Notas ajustes documentos soporte POS:</span>
                <div style="font-size: 10px;">(Ajuste de precios)</div><br>
              </td>
              <td style="font-weight: bolder; text-align: right">
                <span>{{ formatearNumber(ticket?.nb_ajuste_precio ?? 0) }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center">Egresos en Efectivo de Caja:</span>
              </td>
              <td style="font-weight: bolder; text-align: right">
                <span>-{{ formatearNumber(ticket?.egresos) }}</span>
              </td>
            </tr>
            <tr>
              <td style="text-align: left">
                <span style="font-weight: bolder; text-align: center">Servicio voluntario en efectivo:
                </span>
                <div style="font-size: 10px;">(Incluido en metodos pagos)</div>
              </td>
              <td style="font-weight: bolder; text-align: right">
                <span>{{ formatearNumber(ticket?.propinas_efectivo) }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center">Domicilios en efectivo:</span>
                <div style="font-size: 10px;">(Incluido en metodos pagos)</div>
              </td>
              <td style="font-weight: bolder; text-align: right">
                <span>{{ formatearNumber(ticket?.domicilios_efectivo) }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center">Abonos en efectivo:</span>
              </td>
              <td style="font-weight: bolder; text-align: right">
                <span>{{ formatearNumber(ticket?.abono_efectivo) }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="text-align: center">Entrada por traslado:</span>
              </td>
              <td style="text-align: right">
                <span>{{ formatearNumber(ticket?.suma_traslado) }}</span>
              </td>
            </tr>
             <tr>
              <td>
                <span style="text-align: center">Salida por traslado:</span>
              </td>
              <td style="text-align: right">
                <span>{{ formatearNumber(ticket?.resta_traslado) }}</span>
              </td>
            </tr>
             <tr>
              <td>
                <span style="font-weight: bolder; text-align: center">Total traslado:</span>
              </td>
              <td style="font-weight: bolder; text-align: right">
                <span>{{ formatearNumber(ticket?.traslados_efectivo) }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <p style="font-weight: bold;margin-bottom: 3px;
                margin-top: 20px;">MOVIMIENTOS DE COMPRAS</p>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center;; font-weight: normal">Efectivo sacado de caja para
                  pagar compras :</span>
              </td>
              <td style="font-weight: bolder; text-align: right;; font-weight: normal">
                <span>-{{ formatearNumber(ticket?.efectivo_sacado_caja_compra) }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center;; font-weight: normal">Efectivo sacado de caja para
                  pagar créditos de compras
                  :</span>
              </td>
              <td style="font-weight: bolder; text-align: right;; font-weight: normal">
                <span>-{{ formatearNumber(ticket?.total_sacado_caja_abonos_compra_creditos) }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center; font-weight: normal">Vlr. Termino caja (Efectivo)
                  :</span>
              </td>
              <td style="font-weight: bolder; text-align: right; font-weight: normal">
                <span>{{ formatearNumber(ticket?.valor_termino_caja) }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center;">Total caja según el sistema (Efectivo):</span>
              </td>
              <td style="font-weight: bolder; text-align: right">
                <span>{{ formatearNumber(ticket?.total_caja_segun_sistema) }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center">Faltante (Efectivo):</span>
              </td>
              <td style="font-weight: bolder; text-align: right">
                <span>{{ formatearNumber(ticket?.faltante) }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="font-weight: bolder; text-align: center">Sobrante (Efectivo):</span>
              </td>
              <td style="font-weight: bolder; text-align: right">
                <span>{{ formatearNumber(ticket?.sobrante) }}</span>
              </td>
            </tr>
          </table>

          <div style="text-align: center; margin-top: 8px; font-family: Arial;">
            <p style="
                font-size: 9px;
                padding: 0 !important;
                margin: 0 !important;
              ">
              Generado por {{nameSite}}
            </p>
            <p *ngIf="ticket?.facturaVenta?.estado_id != 2" style="
                font-size: 9px;
                padding: 0 !important;
                margin: 0 !important;
              ">
              Visítanos {{ticket?.infoRevendedor?.web}} | Cel: {{ticket?.infoRevendedor?.telefono}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>