<div class="row" *ngIf="loaded || count != 0; else loading">
  <div class="col-12 mb-2">
    <!-- <p>{{'menu.blank-page' | translate}}</p> -->

    <div
      class="modal fade"
      bsModal
      #staticModal="bs-modal"
      [config]="{ backdrop: 'static' }"
      tabindex="-1"
      role="dialog"
      aria-labelledby="dialog-static-name"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-lx">
          <div class="modal-header" style="background: #2c539e">
            <h5
              id="dialog-static-name"
              class="modal-title pull-left"
              style="color: aliceblue"
            >
              {{ action }}
            </h5>
            <button
              type="button"
              class="close pull-right"
              aria-label="Close"
              (click)="closeModal()"
            >
              <span aria-hidden="true" style="color: aliceblue">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="form" autocomplete="off">
              <!--  {{ form.value | json }}  -->
              <div *ngIf="!showApertura" class="row">
                <div class="form-group col-md-6" style="text-align: center">
                  <label for="" style="font-weight: bold">FECHA GASTO</label>
                  <input
                    type="datetime-local"
                    formControlName="fecha_gasto"
                    class="form-control mb-1 rounded"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="" style="font-weight: bold">Categoria</label>
                  <select
                    required
                    class="form-control mb-1 rounded"
                    formControlName="categoria"
                  >
                    <option value="">SELECCIONAR...</option>
                    <ng-container *ngFor="let item of dataCategoria">
                      <option
                        *ngIf="item.estado_id == 'ACTIVO'"
                        [value]="item.codigo"
                      >
                        {{ item.nombre }}
                      </option>
                    </ng-container>
                  </select>

                  <div
                    *ngIf="campoEsValido('categoria')"
                    class="alert-danger px-2 rounded"
                    style="background: rgba(3, 0, 0, 0)"
                  >
                    *la categoria es requerida
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="" style="font-weight: bold">Proveedor</label>
                  <select
                    class="form-control mb-1 rounded"
                    formControlName="proveedor"
                  >
                    <option value="">SELECCIONAR...</option>
                    <ng-container *ngFor="let item of dataProveedor">
                      <option
                        *ngIf="item.estado_id == 'ACTIVO'"
                        [value]="item.codigo"
                      >
                        {{ item.nombre }}
                      </option>
                    </ng-container>
                  </select>
                </div>

                <div class="form-group col-md-6">
                  <label for="" style="font-weight: bold">Metodo de pago</label>
                  <select
                    class="form-control mb-1 rounded"
                    formControlName="metodo_pago"
                    (change)="metodoPag($event.target.value)"
                  >
                    <option value="">SELECCIONAR...</option>
                    <ng-container *ngFor="let item of dataMetodoPagos">
                      <option
                        *ngIf="item.id != 10 && item.id != 2"
                        [value]="item.id"
                      >
                        {{ item.nombre }}
                      </option>
                    </ng-container>
                  </select>
                  <div
                    *ngIf="campoEsValido('metodo_pago')"
                    class="alert-danger px-2 rounded"
                    style="background: rgba(3, 0, 0, 0)"
                  >
                    *El metodo de pago es requerido
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <label for="" style="font-weight: bold">Descripción</label>
                  <textarea
                    formControlName="descripcion"
                    placeholder="Escribe la descripción del gasto"
                    class="form-control rounded"
                    style="font-size: 12px"
                  ></textarea>

                  <div
                    *ngIf="campoEsValido('descripcion')"
                    class="alert-danger px-2 rounded"
                    style="background: rgba(3, 0, 0, 0)"
                  >
                    *La descripción es requerida
                  </div>
                </div>

                <div class="form-group col-md-6" style="text-align: center">
                  <label for="" style="font-weight: bold">Valor</label>
                  <input
                    class="form-control rounded"
                    onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;"
                    onkeyup="if (this.value.length > 12) this.value = '1';"
                    style="
                      font-size: 18px !important;
                      font-weight: bold;
                      text-align: center;
                    "
                    min="0"
                    inputmode="numeric"
                    formControlName="valor"
                    (keyup)="formatearGasto($event.target.value)"
                  />

                  <div
                    *ngIf="campoEsValido('valor')"
                    class="alert-danger px-2 rounded"
                    style="background: rgba(3, 0, 0, 0)"
                  >
                    *El valor es requerido
                  </div>
                </div>
                <div class="form-group col-md-6" *ngIf="metodoPagoSelect == 1">
                  <div
                    class="form-check form-switch"
                    style="
                      font-size: 13px;
                      text-align: initial;
                      background-color: #28a7451f;
                      border-radius: 10px;
                      margin: 5px;
                      margin-top: 17px;
                    "
                  >
                    <label
                      style="color: #000000; text-align: center; padding: 10px"
                      class="form-check-label"
                      for="sacar_caja"
                    >
                      <input
                        formControlName="sacar_caja"
                        class="form-check-input"
                        type="checkbox"
                        role="switch"
                        id="sacar_caja"
                        (change)="changeCaja()"
                        style="padding-left: 10px"
                      />Sacar el valor de la caja</label
                    >
                  </div>
                </div>
              </div>

              <div class="row" *ngIf="showApertura">
                <app-apertura-caja
                  class="mx-auto"
                  (editEvent)="closeApertura($event)"
                ></app-apertura-caja>
              </div>

              <div
                *ngIf="!showApertura"
                class="d-flex justify-content-end align-items-center"
              >
                <button
                  class="btn btn-primary btn-shadow"
                  [disabled]="lockbutton"
                  (click)="onSubmit()"
                  style="font-size: 14px"
                >
                  <span
                    *ngIf="lockbutton"
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                  {{ action1 }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL PARA GENERAR INFORME -->
  <div
    class="modal fade"
    bsModal
    #staticModal2="bs-modal"
    [config]="{ backdrop: 'static' }"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-static-name"
  >
    <div class="modal-dialog modal-lg2">
      <div class="modal-content">
        <div class="modal-header">
          <h6 id="dialog-static-name" class="modal-title pull-left">
            Vista previa del documento.
          </h6>
          <button
            class="rounded"
            style="
              border: 0px;
              margin-left: 28%;
              padding-left: 10px;
              padding-right: 15px;
            "
            ngxPrint
            printSectionId="printThis"
          >
            <img
              src="../../../../../assets/logos/pdf.png"
              tooltip="Exportar a PDF"
              placement="auto"
              style="width: 35px; padding-bottom: 5px"
            />
            Imprimir o Descargar
          </button>
          <button
            type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="closeModal2()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 80vh; overflow-y: auto">
          <!-- 'printThis' is template reference -->
          <div #printThis id="printThis">
            <div *ngIf="loaded2">
              <report-master-tables
                [data]="dataPdf"
                [headers]="headers"
                [title]="titleModule"
                [total]="totalGasto"
                [historialGasto]="true"
                [fecha_inicial]="fechaInicial"
                [fecha_final]="fechaFinal"
                [hora_inicial]="horaInicial"
                [hora_final]="horaFinal"
              ></report-master-tables>
            </div>
          </div>
          <ng-template [ngIf]="!loaded2">
            <div
              class="spinner-border"
              style="
                width: 3rem;
                height: 3rem;
                margin-left: 50%;
                margin-top: 10%;
              "
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12 col-md-12 mb-4" style="padding: 0px">
    <div class="row">
      <div class="col col-sm" style="text-align: center">
        <H1 class="titulo text-center mb-0">{{ titleModule }}</H1>
      </div>
    </div>

    <div class="row" style="padding-left: 30px">
      <div class="col">
        <div
          class="row float-left"
          style="padding-right: 30px; text-align: center"
        >
          <form [formGroup]="size" style="width: 80px">
            <span class="text-muted text-small">Por página</span>
            <select
              required
              class="form-control mb-1 rounded"
              style="height: 27px; padding-bottom: 0px; padding-top: 0px"
              formControlName="data"
              (change)="llamar()"
            >
              <option *ngFor="let item of selects" [value]="item">
                {{ item }}
              </option>
            </select>
          </form>
        </div>
      </div>
      <div class="col">
        <div
          class="row float-right"
          style="padding-right: 30px; text-align: center"
        >
          <div class="col">
            <span class="text-muted text-small">Exportar</span>
            <div class="row">
              <button
                style="
                  background-color: transparent;
                  border: 10px;
                  padding-left: 0px;
                  padding-right: 0px;
                "
                (click)="generateExcel()"
              >
                <img
                  src="../../../../../assets/logos/excel_1.png"
                  tooltip="Exportar a Excel"
                  placement="auto"
                  style="width: 30px; padding-bottom: 5px"
                /></button
              >&nbsp;&nbsp;&nbsp;
              <button
                style="
                  background-color: transparent;
                  border: 10px;
                  padding-left: 0px;
                  padding-right: 0px;
                "
                (click)="openModal2()"
              >
                <img
                  src="../../../../../assets/logos/pdf.png"
                  tooltip="Exportar a PDF"
                  placement="auto"
                  style="width: 30px; padding-bottom: 5px"
                />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body" style="padding: 15px">
        <form [formGroup]="search" (ngSubmit)="buscarHistorial()">
          <div class="row">
            <!-- <div class="col-md-6">
            <h5 class="card-title" style="font-weight: 600;">Lista de Gastos</h5>
          </div> -->
            <div class="col-md-2 col-6">
              <label style="font-weight: bold; font-size: 12px"
                >Fecha Inicial</label
              ><br />
              <input
                type="date"
                class="form-control rounded"
                formControlName="fecha_inicial"
                style="font-size: 13px"
                aria-label="Search"
                aria-describedby="search-addon"
              />
              <input
                type="time"
                class="form-control rounded"
                formControlName="hora_inicial"
                style="font-size: 13px; margin-top: 5px"
                aria-describedby="search-addon"
              />
            </div>
            <div class="col-md-2 col-6">
              <label style="font-weight: bold; font-size: 12px"
                >Fecha Final</label
              ><br />
              <input
                type="date"
                class="form-control rounded"
                formControlName="fecha_final"
                style="font-size: 13px"
                aria-label="Search"
                aria-describedby="search-addon"
              />
              <input
                type="time"
                class="form-control rounded"
                formControlName="hora_final"
                style="font-size: 13px; margin-top: 5px"
                aria-describedby="search-addon"
              />
            </div>
            <div class="col-md-2 col-6">
              <label style="font-weight: bold; font-size: 12px">Usuario</label
              ><br />
              <select
                required
                class="form-control mb-1 rounded"
                formControlName="usuario"
              >
                <option [value]="''" selected>TODOS</option>
                <ng-container *ngFor="let item of dataUsuario">
                  <option [value]="item.codigo">
                    {{ item.nombre | uppercase }}
                  </option>
                </ng-container>
              </select>

              <label style="font-weight: bold; font-size: 12px">Proveedor</label
              ><br />
              <select
                required
                class="form-control mb-1 rounded"
                formControlName="proveedor"
              >
                <option value="">TODOS</option>
                <ng-container *ngFor="let item of dataProveedor">
                  <option
                    *ngIf="item.estado_id == 'ACTIVO'"
                    [value]="item.codigo"
                  >
                    {{ item.nombre }}
                  </option>
                </ng-container>
              </select>
            </div>
            <div class="col-md-2 col-6">
              <label for="" style="font-weight: bold">Metodo de pago</label>
              <select
                class="form-control mb-1 rounded"
                formControlName="metodo_pago"
              >
                <option value="">TODOS</option>
                <ng-container *ngFor="let item of dataMetodoPagos">
                  <option
                    *ngIf="item.id != 10 && item.id != 2"
                    [value]="item.id"
                  >
                    {{ item.nombre }}
                  </option>
                </ng-container>
              </select>
            </div>
            <div class="col-md-1 col-6">
              <div class="row float-left" style="padding: 17px">
                <button
                  style="height: 35px; border-radius: 10px; font-size: 14px"
                  class="btn btn-primary float-right"
                  type="submit"
                >
                  Consultar
                </button>
              </div>
            </div>
            <div class="col-md-3 col-6" style="padding-left: 30px">
              <div class="">
                <a
                  style="
                    height: 30px;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    margin-right: 15px;
                    font-size: 14px;
                    border-radius: 10px;
                  "
                  type="button"
                  class="btn btn-link border"
                  routerLink="/gasto/gastos-fijos"
                  >Gastos Fijos</a
                >

                <button
                  style="
                    height: 30px;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    margin-right: 15px;
                    font-size: 14px;
                    border-radius: 10px;
                  "
                  type="button"
                  class="btn btn-primary float-right"
                  (click)="openModal(1)"
                >
                  Nuevo Gasto
                </button>
              </div>
            </div>
          </div>
          <br />
        </form>

        <div style="display: block; overflow-y: auto">
          <table
            class="table table-hover table-striped content-table table-bordered"
            style="border: 0px"
          >
            <thead style="background: #e9e9e9">
              <tr style="color: rgb(44, 44, 44); text-align: center">
                <th scope="col">Item</th>
                <th scope="col">Fecha y Hora</th>
                <th scope="col">Descripción Del Gasto</th>
                <th scope="col">Categoria</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Responsable</th>
                <th scope="col">Metodo de pago</th>
                <th scope="col">Valor</th>
                <th scope="col">Egreso<br />de Caja</th>
                <th scope="col">Estado</th>
                <th scope="col" style="width: 90px">Acción</th>
              </tr>
            </thead>
            <tbody *ngIf="loaded">
              <ng-container *ngIf="data.length > 0; else nodata">
                <tr
                  *ngFor="
                    let item of data
                      | paginate
                        : {
                            itemsPerPage: size.controls.data.value,
                            currentPage: page,
                            totalItems: totalItems,
                          };
                    let i = index
                  "
                  style="font-weight: 400"
                >
                  <td scope="row" style="width: 80px; text-align: center">
                    {{ i + 1 }}
                  </td>

                  <td
                    scope="row"
                    style="font-weight: 400; vertical-align: middle"
                  >
                    {{ item.fecha }}
                  </td>
                  <td style="width: 22%">
                    <textarea
                      style="width: 100%; height: 30px"
                      disabled
                      readonly
                      >{{ item.descripcion }}</textarea
                    >
                  </td>

                  <td
                    scope="row"
                    style="font-weight: 400; vertical-align: middle"
                  >
                    {{ item.categoria_gasto }}
                  </td>
                  <td
                    scope="row"
                    style="font-weight: 400; vertical-align: middle"
                  >
                    {{ item.nombre_proveedor }}
                  </td>

                  <td
                    scope="row"
                    style="font-weight: 400; vertical-align: middle"
                  >
                    {{ item.nombre_usuario }}
                  </td>
                  <td
                    scope="row"
                    style="
                      font-weight: 400;
                      vertical-align: middle;
                      text-align: center;
                    "
                  >
                    {{ item.metodo_pago }}
                  </td>
                  <td
                    scope="row"
                    style="
                      font-weight: 400;
                      vertical-align: middle;
                      text-align: right;
                      font-size: 13px;
                    "
                  >
                    {{ formatearNumber(item.valor) }}
                  </td>
                  <td
                    scope="row"
                    style="
                      font-weight: 400;
                      vertical-align: middle;
                      text-align: center;
                    "
                  >
                    {{ item.egreso_de_caja }}
                  </td>
                  <td
                    scope="row"
                    style="
                      font-weight: 400;
                      vertical-align: middle;
                      text-align: center;
                    "
                    *ngIf="item.estado_id == '1'"
                  >
                    <span
                      class="badge badge-success"
                      style="font-size: 80%; background-color: #689975"
                      >Procesado</span
                    >
                  </td>
                  <td
                    scope="row"
                    style="
                      font-weight: 400;
                      vertical-align: middle;
                      text-align: center;
                    "
                    *ngIf="item.estado_id == '4'"
                  >
                    <span
                      class="badge badge-danger"
                      style="font-size: 80%; background-color: #df6868"
                      >Anulado</span
                    >
                  </td>
                  <td style="text-align: center">
                    <button
                      class="btn ml-1 mr-1"
                      style="padding: 0px; height: 20px"
                      [disabled]="showTicket"
                      (click)="imprimirTicket(item)"
                    >
                      <i class="bi bi-printer"></i>
                    </button>

                    <button
                      class="btn"
                      style="padding: 0px; height: 20px"
                      (click)="anular(item)"
                    >
                      <i class="bi bi-trash3" style="color: #af1515"></i>
                    </button>
                  </td>
                </tr>
                <tr style="font-weight: 400; color: #000000; font-weight: bold">
                  <td
                    scope="row"
                    style="width: 80px; text-align: right; font-size: 14px"
                    colspan="7"
                  >
                    TOTAL GASTOS
                  </td>
                  <td
                    scope="row"
                    style="width: 80px; text-align: right; font-size: 14px"
                  >
                    {{ formatearNumber(totalGasto) }}
                  </td>
                  <td colspan="4"></td>
                </tr>
              </ng-container>
              <ng-template #nodata>
                <tr>
                  <td
                    scope="row"
                    colspan="14"
                    class="text-muted"
                    style="vertical-align: middle"
                  >
                    <h4 class="h4-sin">No hay registros</h4>
                  </td>
                </tr>
              </ng-template>
            </tbody>
            <tfoot *ngIf="!loaded && count > 0">
              <tr>
                <td colspan="11">
                  <img
                    src="../../../../../assets/logos/Loading-Puvesoft.gif"
                    style="width: 6rem; margin-left: calc(50% - 3rem)"
                  />
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        Paginas: {{ pages }}
        <div style="text-align: center">
          <pagination-controls
            (pageChange)="paginate($event)"
            *ngIf="totalItems > 0"
            previousLabel=""
            nextLabel=""
          />
        </div>
      </div>
    </div>
  </div>
</div>

<app-ticket-gasto
  *ngIf="showTicket"
  (editEvent)="closeTicket($event)"
  [data]="idInvoice"
>
</app-ticket-gasto>

<ng-template #loading>
  <img
    src="../../../../../assets/logos/Loading-Puvesoft.gif"
    style="width: 6rem; height: 6rem; margin-left: 50%; margin-top: 10%"
  />
</ng-template>
