<div [ngStyle]="{ display: pageView === 0 ? 'block' : 'none' }">
    <img
      src="./assets/logos/Loading-Puvesoft.gif"
      style="width: 6rem; height: 6rem; margin-left: 50%; margin-top: 10%"
    />
  </div>
  
  <!-- Bloque gestion venta de productos Busquedas-->
  <div [ngStyle]="{ display: pageView === 1 ? 'block' : 'none' }">
    <ng-container *ngIf="true">
      <ng-container>
        <!-- Para traer el listado de categorias -->
        <div class="row">
          <div class="col-md-6">
            <!-- Agrego el buscador -->
            <div class="row">
              <form [formGroup]="search" class="col-12 mt-2 mt-md-0">
                <div class="input-group">
                  <a
                    href="javascript:void(0);"
                    style="padding-top: 3px; padding-right: 10px"
                  >
                    <img
                      style="width: 30px"
                      src="../../../../../assets/img/buscar.png" />
                    &nbsp;
                    <img
                      style="width: 30px"
                      src="../../../../../assets/img/barra.png"
                  /></a>
                  <input
                    class="form-control rounded"
                    autofocus="true"
                    style="height: 35px; background: #ffffff"
                    type="text"
                    formControlName="producto"
                    (keyup)="buscar_nombre()"
                    (keyup.enter)="buscar_porBarra($event.target.value)"
                    placeholder="Encuentra tu producto aquí..."
                    aria-label="Search"
                    aria-describedby="search-addon"
                  />
                </div>
              </form>
            </div>
  
            <div
              class="contenedor"
              style="
                max-width: 100%;
                overflow-x: auto;
                overflow-y: hidden;
                height: auto;
              "
            >
            <table style="width: 100%;">
                <tr>
                  <td class="text-center"
                    *ngFor="let item of dataCategorias"
                    title="{{ item.nombre }}"
                  >
                    <button
                      [ngStyle]="{
                        'background-color':
                          categoriaSeleccionada == item.id ? '#dde7f7' : '#ffffff'
                      }"
                      (click)="getProductosActivosPorCategoriasId(item.id)"
                      style="
                      background: #fff;
                      width: 120px;
                      height: 70px;
                      margin: 5px;
                      font-size: 8px;
                      font-weight: bold;
                      border: 1px solid #dadada;
                      border-radius: 5px;
                    "
                    >
                      <img
                        style="
                          width: 50px;
                          height: 50px;
                          border-radius: 30px;
                          padding-top: 2px;
                        "
                        *ngIf="item.img == null || item.img == ''"
                        src="../../../../../assets/img/default.png"
                      />
                      <img
                        style="
                          width: 50px;
                          height: 50px;
                          border-radius: 30px;
                          padding-top: 2px;
                        "
                        *ngIf="item.img != null && item.img != ''"
                        src="{{ item.img }}"
                      /><br />
                      <p style="font-size: 9px" class="module line-clamp">
                        {{ item.nombre }}
                      </p>
                    </button>
                  </td>
                </tr>
              </table>
            </div>
            <div class="row mb-2 px-3 px-md-0">
              <div class="col-md-3 col-lg-3 col-sm-4 col-6 mb-2" style="padding: 7px"
                *ngFor="let item of dataProductosActivos"
              >
              <div class="card" style="cursor: pointer; border-top: solid #2c539e; padding-top: 10px"
              (click)="getAgregarOrden(item)">
              <div>
                <span class="text-center p-2 ml-1" style="
                    font-size: 12px;
                    background-color: #c9e8ffcc;
                    color: #000000;
                    border-radius: 7px;
                  ">{{ moneda }} {{ formatearNumber(item.valor_venta) }}</span>
                <div class="columx2">
                  <div class="columna d-flex flex-direction-column justify-content-center">
                    <img *ngIf="item.img != null &&  item.img != ''" src="{{ item.img }}" />
                    <img *ngIf="item.img == null  || item.img == ''" src="./assets/img/defecto.jpg" />
                  </div>
                </div>
              </div>
              <div style="
                  background-color: rgb(228, 228, 228);
                  height: 50px;
                  border-radius: 5px;
                  text-align: center;
                  font-weight: 600;
                ">
                <div style="padding: 6px; color: #000000">
                  <p style="font-size: 9px; line-height: 0.8rem" class="moduleprod line-clampprod">
                    {{ item.nombre }}
                  </p>
                </div>
              </div>
            </div>
              </div>
            </div>
            <div style="text-align: center; width: 100%">
              <br />
              <p *ngIf="dataProductosActivos.length == 0">
                No se encontraron productos
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <table style="
              width: 100%;
              border-radius: 5px;
              background: #0d549e;
            ">
             <tr>
                <td>
                  <img style="width: 30px; margin-left: 10px;" src="../../../../../assets/img/icopuveB.png" />
                </td>
                <td style="
                    font-size: 14px;
                    font-weight: bold;
                    text-align: center;
                    width: 90%;
                    color: #fff;
                  ">
                  ATENDIENDO
                </td>
                <td>
                <td>
                  <button class="btn" (click)="regresarMesas()" title="Regresar" placement="auto">
                    <img style="width: 30px;" src="../../../../../assets/img/regresarB.png" />
                  </button>
                </td>
              </tr>
            </table>
  
            <table style="width: 100%;">
              <tr style="background-color: #ffffff">
                <th colspan="2" style="width: 70px;">
                  <div class="row justify-content-center">
                    <button class="btn p-1" (click)="openModalNota()" title="Registrar nota" placement="auto">
                      <span class="text-muted text-small" style="font-size: 11px;">Notas</span><br>
                      <img style="width: 30px" class="img-fluid" src="../../../../../assets/img/notasFactura.png" />
                    </button>
                  </div>
                </th>
              </tr>
            </table>
  
            <form
              class="content-table1"
              [formGroup]="formProductos"
              autocomplete="off"
              ngSubmit="onSubmit()"
            >
              <div class="table-responsive">
                <table class="table table-hover table-striped content-table table-bordered"
                  style="border: 0px; width: 100%">
                  <thead style="background: #48659d2b; text-align: center;">
                    <tr style="color: rgb(44, 44, 44)">
                      <th class="p-1">Stock</th>
                      <th class="p-1">Producto</th>
                      <th class="p-1">Cant</th>
                      <th class="p-1">Valor</th>
                      <th class="p-1">% Desc</th>
                      <th class="p-1">SubTotal</th>
                      <th class="p-1"></th>
                    </tr>
                  </thead>
                  <tbody *ngIf="prds.value.length>0; else nodata">
                    <ng-container formArrayName="prds">
                      <ng-container
                        *ngFor="let item of prds.controls; let i = index"
                        [formGroupName]="i"
                      >
                        <tr
                          style="
                            font-size: 10px;
                            color: rgb(0, 0, 0);
                            background-color: #ffffff;
                          "
                        >
                          <td class="p-1" style="width: 60px; min-width: 60px; vertical-align: middle; text-align: right; padding-right: 8px !important;">
                            {{ item.get("stock")!.value }}
                          </td>
                          <td class="p-1" style="vertical-align: middle;">
                            {{ item.get("nombre")!.value }}
                          </td>
                          <td class="p-1" style="width: 65px; min-width: 65px; vertical-align: middle;">
                            <input
                              class="form-control text-right"
                              onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;"
                              onkeyup='if (this.value.length > 12 ) this.value ="1"'
                              (keyup)="valor_cantidad($event.target.value, item)"
                              style="
                                font-size: 11px;
                                text-align: center;
                                color: rgb(0, 0, 0);
                                height: 30px;
                                width: 100%;
                              "
                              inputmode="numeric"
                              [value]="item.get('cantidad').value"
                              min="0" 
                              type="text" 
                            />
                          </td>
                          <td class="p-1" style="width: 100px; min-width: 100px; vertical-align: middle;">
                            <input
                              [attr.disabled]="permisoValorVenta ? null : true"
                              class="form-control text-right"
                              onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;"
                              onkeyup='if (this.value.length > 12 ) this.value ="1"'
                              (keyup)="valor_pagar($event.target.value, item)"
                              style="
                                font-size: 11px;
                                text-align: center;
                                color: rgb(0, 0, 0);
                                height: 30px;
                                width: 100%;
                              "
                              inputmode="numeric"
                              [value]="item.get('valor_venta').value"
                              min="0" 
                              type="text" 
                            />
                          </td>
                          <td class="p-1" style="width: 65px; min-width: 65px; vertical-align: middle;">
                            <input
                              [attr.disabled]="permisoPorDescuento ? null : true"
                              class="form-control text-right"
                              onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;"
                              onkeyup='if (this.value < 0 || this.value>100) this.value =""'
                              (change)="descuentoFormat(2, i)"
                              style="
                                font-size: 11px;
                                text-align: center;
                                color: rgb(0, 0, 0);
                                height: 30px;
                                width: 100%;
                              "
                              min="0"
                              max="100"
                              maxlength="3"
                              (keyup)="total()"
                              (click)="total()"
                              formControlName="descuento"
                              inputmode="numeric"
                              min="0" 
                              type="text" 
                            />
                          </td>
                          <td
                            class="text-right"
                            style="
                              width: 120px;
                              min-width: 120px;
                              font-size: 12px; padding-bottom: 0px;
                            "
                          >
                            {{
                              formatearNumber( subTotalItem(item) )
                            }}
                          </td>
                          <td class="p-1 text-center" style="width: 35px; vertical-align: middle;">
                            <button class="btn mr-1" style="padding: 0px; height: 20px; margin-top: 4;" title="Quitar">
                              <i class="bi bi-trash3" style="color: #af1515" (click)="deleteProducto(i, item)" ></i>
                            </button>
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>
                  </tbody>
                  <ng-template #nodata>
                    <tr>
                      <td scope="row" colspan="7" class="text-muted" style="vertical-align: middle; padding: 0;">
                        <h4 class="h4-sin" style="font-size: 15px;">
                          Sin registros de productos agregados
                        </h4>
                      </td>
                    </tr>
                  </ng-template>
                </table>

                <table class="table table-bordered" style="color:#000;">
                  <tbody style="background: white;">
                    <tr class="well">
                      <td style="width:70%;"><div class="text-right font-weight-bold">Subtotal:</div></td>
                      <td>
                        <div class="text-right">
                          <b style="font-size: 14px;" id="subt" class="text-secondary">{{ moneda }}{{ formatearNumber(subTotal) }}</b>
                        </div>
                      </td>
                    </tr>
                    <tr class="well">
                      <td style="width:70%;">
                        <div class="text-right font-weight-bold">Descuento:</div>
                      </td>
                      <td>
                        <div class="text-right">
                          <b style="font-size: 14px;" id="suma_descuento" class="text-secondary">{{ moneda }}{{ formatearNumber(descuento) }}</b>
                        </div>
                      </td>
                    </tr>
                    <tr class="well">
                      <td>
                        <div class="text-right font-weight-bold">Total Compra:</div>
                      </td>
                      <td>
                        <div  class="text-right">
                          <b style="font-size: 16px;" id="total" class="text-success text-right">{{ moneda }}{{ formatearNumber(subTotal - descuento) }}</b>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                </table>
              </div>
  
              <table style="width: 100%;">
                <tbody>
                  <tr *ngIf="subTotal > 0">
                    <td style="width: 70%;">
                      <button
                        style="height: 40px;border-radius: 8px;"
                        type="button"
                        class="btn btn-primary btn-block btn-sm"
                        (click)="pagar()"
                      >
                        Cotizar
                      </button>
                    </td>
                    <td>
                      <button
                        style="height: 40px;border-radius: 8px;"
                        type="button"
                        class="btn btn-danger btn-block btn-sm"
                        (click)="cancelarProductosAgregados()"
                      >
                        Cancelar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  
  <app-cotizacion-payment
    [precio]="totalPagar"
    [products]="formProductos.value"  
    [subTotal]="subTotal"
    [descuento]="descuento"
    *ngIf="isPaymentVisible"
    (editEvent)="proccessEditEvent($event)"
  >
  </app-cotizacion-payment>
  
  <!-- Modal para hacer nota a la factura -->
  <div
    class="modal fade"
    bsModal
    #staticModalNota="bs-modal"
    [config]="{ backdrop: 'static' }"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-static-name"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background: #2c539e; padding: 15px">
          <h4
            id="dialog-static-name"
            class="modal-title pull-left"
            style="color: aliceblue"
          >
            Nota De La Factura
          </h4>
          <button
            type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="closeModalNota()"
          >
            <span aria-hidden="true" style="color: aliceblue">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formNota" autocomplete="off">
            <div class="row">
              <div class="form-group col-md-12">
                <label for="" style="font-weight: bold; margin-bottom: 0px"
                  >Nota Para La Factura</label
                >
                <textarea
                  class="form-control rounded"
                  formControlName="factura"
                  placeholder="Ingrese la nota de la factura"
                  name=""
                  id=""
                  rows="5"
                ></textarea>
              </div>
            </div>
  
            <div class="d-flex justify-content-end align-items-center">
              <button class="btn btn-primary btn-lg btn-shadow">
                Guardar Notas
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  