<div class="sidebar close-menu" [ngStyle]="{
  'background-color': backgroundColor
}">
  <span class="logo_name"
    ><img [routerLink]="['/']" style="margin-left: 5px;width: 65px;margin-right: 5px;margin-top: 5px; cursor: pointer;" [src]="imagen"
  /></span>
  <ul class="nav-links" style="overflow-y: auto">
    <hr class="hr" />
    <ng-container *ngFor="let item of filteredMenuItems(menuItems)">
      <ng-container *ngIf="item.subs?.length! == 0">
        <li class="li" [ngStyle]="{
            'background-color': optionSelect === item.label ? backgroundColorActive : ''
          }"
          (click)="menuOptionSelect(item.label, item.to)">
          <a class="a">
            <img style="width: 32px; padding-top: 5px;" [src]="item.icon" /><br />
            <span style="color: #fff" class="menu-item-li">{{
              item.label
              }}</span>
          </a>
        </li>
        <hr class="hr" />
      </ng-container>
      <ng-container *ngIf="item.subs?.length! > 0">
        <li class="li" [ngStyle]="{
            'background-color': optionSelect === item.label ? backgroundColorActive : ''
          }" (click)="loadSubmenu(item.subs, item.label!)">
          <div class="iocn-link">
            <a class="a">
              <img style="width: 32px; padding-top: 5px;" [src]="item.icon" /><br />
              <span style="color: #fff" class="menu-item-li">{{
                item.label!
                }}</span>
            </a>
            <!-- <i class="bx bxs-chevron-down arrow"></i> -->
          </div>
        </li>
        <hr class="hr" [ngStyle]="{
          'border-color': optionSelect === item.label ? hrColorActive : hrColorInactive
        }" />
      </ng-container>
    </ng-container>
  </ul>
</div>
<div class="sidebarSubmenu close-menu" style="z-index: 10000;" [id]="visible ? 'visibleTrue' : 'visibleFalse'"
  (mouseleave)="subMenuOptionSelect(null)" [ngStyle]="{
    'background-color': backgroundColorSubMenu
  }">
  <ul class="nav-links ul">
    <ng-container *ngFor="let item of filteredMenuItems(subItems)">
      <ng-container *ngIf="item.hr === false">
        <li class="liSubmenu" *ngIf="
        ((item.label == 'Zonas' || item.label == 'Mesas') && isRestaurante)
          || (item.label != 'Mesas' && item.label != 'Zonas')
        " (click)="subMenuOptionSelect(item.to)">
          <a class="a">
            <i [class]="item.icon"> </i>
            <span style="color: #fff; margin-left: 5px">{{ item.label }}</span>
          </a>
        </li>
      </ng-container>
      

      <ng-container *ngIf="item.hr === true">
        <br />
        <hr class="hr" />
      </ng-container>
    </ng-container>
  </ul>
</div>