/* Google Fonts Import Link */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  overflow: hidden;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #2c539e;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close-menu{
  width: 78px;
}
.sidebarSubmenu{
  position: fixed;
  top: 0;
  left: 78px;
  height: 100%;
  width: 260px;
  background: #446ab1;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebarSubmenu.close-menu{
  width: 180px;
  border-top-right-radius: 10px;
}
/* Manipulo la apertura y el cierre del menu */
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar.close-menu .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
/* Scrollin menu */
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: visible;
}
.sidebar.close-menu .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #3f71ce;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close-menu .nav-links li .iocn-link{
  display: block
}
/* Aqui se controla el ancho del li */
.sidebar .nav-links li i{
  height: 30px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.li {
  text-align: center;
  font-size: 12px;
  padding: 2px;
}

.liSubmenu {
  font-size: 12px;
  padding-left: 8px;
  padding-top: 8px;
  margin-top: 5px;
}
.a{
  cursor: pointer;
  text-decoration: none;
}
.i{
  margin-bottom: 5px;
  color: #ffffff;
}

.ul{
  list-style: none;
}
.hr{
  color: #fff;
  border-width: 0.1px;
  border-color: #697dc0;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close-menu .nav-links i.arrow{
  display: none;
}

.sidebar .nav-links li a{
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}

.sidebar.close-menu .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}

#visibleFalse {display: none;transform:scale(0);transition: all 0.3s ease;transform-origin:left;}
#visibleTrue {display: inline-block;transform:scale(1);transition: all 0.8s ease;transform-origin:left;margin-top: 40px;}

