<div *ngIf="loaded || count != 0; else loading">
  <div class="separator mb-2"></div>
  <div class="row">
    <!-- MODAL PARA GENERAR INFORME -->
    <div
      class="modal fade"
      bsModal
      #staticModalPdf="bs-modal"
      [config]="{ backdrop: 'static' }"
      tabindex="-1"
      role="dialog"
      aria-labelledby="dialog-static-name"
    >
      <div class="modal-dialog modal-lg2">
        <div class="modal-content">
          <div class="modal-header oculto-impresion">
            <h6 id="dialog-static-name" class="modal-title pull-left">
              Vista previa del documento.
            </h6>
            <button
              class="rounded"
              style="
                border: 0px;
                margin-left: 28%;
                padding-left: 10px;
                padding-right: 15px;
              "
              ngxPrint
              printSectionId="printThis"
            >
              <img
                src="../../../../../assets/logos/pdf.png"
                tooltip="Exportar a PDF"
                placement="auto"
                style="width: 35px; padding-bottom: 5px"
              />
              Imprimir o Descargar
            </button>
            <button
              type="button"
              class="close pull-right"
              aria-label="Close"
              (click)="closeModalPdf()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="height: 80vh; overflow-y: auto">
            <!-- 'printThis' is template reference -->
            <div #printThis id="printThis">
              <div *ngIf="loaded2; else loadingPdf">
                <report-master-tables
                  [data]="dataReport"
                  [headers]="headers"
                  [title]="titleModule"
                  [fecha_inicial]="fechaInicial"
                  [fecha_final]="fechaFinal"
                  [hora_inicial]="horaInicial"
                  [hora_final]="horaFinal"
                  [page]="page"
                ></report-master-tables>
              </div>
            </div>
            <ng-template #loadingPdf>
              <img
                src="./assets/logos/Loading-Puvesoft.gif"
                style="
                  width: 6rem;
                  height: 6rem;
                  margin-left: 50%;
                  margin-top: 10%;
                "
              />
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <!-- FIN MODAL PARA GENERAR INFORME -->

    <div class="col-lg-12 col-md-12 mb-4 oculto-impresion" style="padding: 0px">
      <div class="row">
        <div class="col col-sm" style="text-align: center">
          <H1 class="titulo text-center mb-0">{{ titleModule }}</H1>
        </div>
      </div>
      <div class="row" style="padding-left: 30px">
        <div class="col">
          <div
            class="row float-left"
            style="padding-right: 30px; text-align: center"
          >
            <form [formGroup]="size" style="width: 80px">
              <span class="text-muted text-small">Por página</span>
              <select
                required
                class="form-control mb-1 rounded"
                style="height: 27px; padding-bottom: 0px; padding-top: 0px"
                formControlName="data"
                (change)="llamar()"
              >
                <option *ngFor="let item of selects" [value]="item">
                  {{ item }}
                </option>
              </select>
            </form>
          </div>
        </div>

        <div class="col">
          <div
            class="row float-right"
            style="padding-right: 30px; text-align: center"
          >
            <div class="col">
              <span class="text-muted text-small">Exportar</span>
              <div class="row">
                <button
                  style="
                    background-color: transparent;
                    border: 10px;
                    padding-left: 0px;
                    padding-right: 0px;
                  "
                  (click)="generateExcel()"
                >
                  <img
                    src="../../../../../assets/logos/excel_1.png"
                    tooltip="Exportar a Excel"
                    placement="auto"
                    style="width: 30px; padding-bottom: 5px"
                  /></button
                >&nbsp;&nbsp;&nbsp;
                <button
                  style="
                    background-color: transparent;
                    border: 10px;
                    padding-left: 0px;
                    padding-right: 0px;
                  "
                  (click)="openModalPdf()"
                >
                  <img
                    src="../../../../../assets/logos/pdf.png"
                    tooltip="Exportar a PDF"
                    placement="auto"
                    style="width: 30px; padding-bottom: 5px"
                  />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body" style="padding: 15px">
          <form [formGroup]="search" class="mb-1">
            <div class="row">
              <div class="col-md-2 col-6">
                <label style="font-weight: bold; font-size: 12px"
                  >Fecha Inicial</label
                ><br />
                <input
                  type="date"
                  class="form-control rounded"
                  formControlName="fecha_inicial"
                  style="font-size: 13px"
                  aria-label="Search"
                  aria-describedby="search-addon"
                />
                <input
                  type="time"
                  class="form-control rounded"
                  formControlName="hora_inicial"
                  style="font-size: 13px; margin-top: 5px"
                  aria-describedby="search-addon"
                />
              </div>
              <div class="col-md-2 col-6">
                <label style="font-weight: bold; font-size: 12px"
                  >Fecha Final</label
                ><br />
                <input
                  type="date"
                  class="form-control rounded"
                  formControlName="fecha_final"
                  style="font-size: 13px"
                  aria-label="Search"
                  aria-describedby="search-addon"
                />
                <input
                  type="time"
                  class="form-control rounded"
                  formControlName="hora_final"
                  style="font-size: 13px; margin-top: 5px"
                  aria-describedby="search-addon"
                />
              </div>
              <div class="col-md-4 col-6">
                <label style="font-weight: bold; font-size: 12px">Producto</label
                ><br />
                <ng-select style="width: 100%;" placeholder="Escribir y seleccionar Producto" 
                (search)="buscar_nombre($event.term)" (change)="guardarProducto($event)">
                <ng-option *ngFor="let c of dataProducto" [value]="c">
                  {{ c.cod_barra ? c.cod_barra + ' - ' + c.nombre : c.nombre }}
                </ng-option>
              </ng-select>
              </div>
              <div
                class="col-md-2 d-flex justify-content-center"
                style="margin-top: 5px"
              >
                <div class="row float-left" style="padding: 17px">
                  <button
                    style="height: 35px; border-radius: 10px; font-size: 14px"
                    class="btn btn-primary float-right"
                    type="submit"
                    (click)="buscarHistorial()"
                  >
                    Consultar
                  </button>
                </div>
              </div>
            </div>
            
          </form>
          <div style="display: block; overflow-y: auto;padding-top: 30px;">
            <table
              class="table table-hover table-striped content-table table-bordered"
              style="border: 0px"
            >
              <thead style="background: #e9e9e9">
                <tr style="color: rgb(44, 44, 44); text-align: center">
                  <th scope="col">Item</th>
                  <th scope="col">Codigo Factura</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Tipo Movimiento</th>
                  <th scope="col">Cantidad inicial</th>
                  <th scope="col">Cantidad Movimiento</th>
                  <th scope="col">Cantidad Final</th>
                  <th scope="col">Responsable</th>
                  <th scope="col">Fecha y hora</th>
                </tr>
              </thead>
              <tbody *ngIf="loaded">
                <ng-container *ngIf="data.length > 0; else nodata">
                  <tr
                    *ngFor="let item of data  | paginate
                    : {
                        itemsPerPage: size.controls.data.value,
                        currentPage: page,
                        totalItems: totalItems
                      }; let i = index"
                  >
                    <td
                      scope="row"
                      style="
                        font-weight: 400;
                        vertical-align: middle;
                        text-align: center;
                      "
                    >
                      {{ i + 1 }}
                    </td>
                    <td
                      scope="row"
                      style="
                        font-weight: 400;
                        vertical-align: middle;
                        text-align: center;
                      "
                    >
                      {{ item.cod_factura }}
                    </td>
                    <td
                      scope="row"
                      style="
                        font-weight: 400;
                        vertical-align: middle;
                        text-align: center;
                      "
                    >
                      {{ item.nombre }}
                    </td>
                    <td
                      scope="row"
                      style="font-weight: 400; vertical-align: middle"
                    >
                      {{ item.tipo }}
                    </td>
                    <td
                      scope="row"
                      style="font-weight: 400; vertical-align: middle;text-align: right;"
                    >
                      {{ formatearNumber(item.cantidad_inicial)+' '+item.medida}}
                    </td>
                    <td
                      scope="row"
                      style="font-weight: 400; vertical-align: middle;text-align: right;"
                    >
                      {{ formatearNumber(item.cantidad_movimiento)+' '+item.medida }}
                    </td>
                    <td
                      scope="row"
                      style="
                        font-weight: 400;
                        vertical-align: middle;
                        text-align: right;
                      "
                    >
                      {{ formatearNumber(item.cantidad_final)+' '+item.medida }}
                    </td>
                    <td
                      scope="row"
                      style="
                        font-weight: 400;
                        vertical-align: middle;
                        text-align: right;
                      "
                    >
                      {{ item.nombre_usuario }}
                    </td>
                    <td
                      scope="row"
                      style="
                        font-weight: 400;
                        vertical-align: middle;
                        text-align: center;
                      "
                    >
                      {{ item.fecha }}
                    </td>
                  </tr>
                  <tr style="font-weight: bolder" *ngIf="this.page == 1">
                    <td class="text-center">Total: {{ total_registros }}</td>
                    <td colspan="8"></td>
                </ng-container>

                <ng-template #nodata>
                  <tr>
                    <td
                      scope="row"
                      colspan="9"
                      class="text-muted"
                      style="vertical-align: middle"
                    >
                      <h4 class="h4-sin" *ngIf="productoSeleccionado">
                        No se encontraron movimeintos para este producto
                      </h4> 
                      <h4 class="h4-sin" *ngIf="!productoSeleccionado">
                       Diligencie el rango de fechas y el producto para hacer la busqueda
                      </h4>
                    </td>
                  </tr>
                </ng-template>
              </tbody>
              <tfoot *ngIf="!loaded && count > 0">
                <tr>
                  <td colspan="9">
                    <img
                      src="../../../../../assets/logos/Loading-Puvesoft.gif"
                      style="width: 6rem; margin-left: calc(50% - 3rem)"
                    />
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          Paginas: {{ pages }}
          <div style="text-align: center;">
          <pagination-controls
            (pageChange)="paginate($event)"
            *ngIf="totalItems > 0"
            previousLabel=""
            nextLabel=""
          />
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <img
    src="../../../../../assets/logos/Loading-Puvesoft.gif"
    style="width: 6rem; height: 6rem; margin-left: 50%; margin-top: 10%"
  />
</ng-template>

<ng-template #loading2>
  <div class="text-center">
    <img
      src="../../../../../assets/logos/Loading-Puvesoft.gif"
      style="
        width: 6rem;
        height: 6rem;
        margin-left: 45%;
        margin-top: 10%;
        margin-bottom: 100px;
      "
    />
  </div>
</ng-template>
