<div class="row">
  <div class="col-md-6">
    <div class="alert alert-primary" role="alert">
      <h3 class="text-center">Proceso de compra terminado</h3>
    </div>

    <table style="text-align-last: center;" class="table" *ngIf="showInformationInvoice">
      <!-- TOTAL A PAGAR -->
      <tr *ngIf="factura.metodo_pago_id != 10">
        <td style="padding-bottom: 7px;
        padding-top: 7px;">
          <pre
            style="font-size: 18px"
          ><strong class="text-info">Total a Pagar</strong></pre>
        </td>
      </tr>
      <tr *ngIf="factura.metodo_pago_id != 10">
        <td style="padding-bottom: 7px;
        padding-top: 7px;">
          <pre
            style="font-size: 18px"
            ><strong>$ {{formatearNumber(total - (data?.facturaCompra?.total_retencion ?? 0) )}}</strong></pre>
          </td>
      </tr>

      <!-- TOTAL EFECTIVO -->
      <tr *ngIf="(factura.metodo_pago_id == 10 && existePagoCombinado(1)) || factura.metodo_pago_id == 1">
        <td style="padding-bottom: 7px;
        padding-top: 7px;">
          <pre
            style="font-size: 18px"
          ><strong class="text-info">Total Efectivo</strong></pre>
        </td>
      </tr>
      <tr *ngIf="(factura.metodo_pago_id == 10 && existePagoCombinado(1)) || factura.metodo_pago_id == 1">
        <td style="padding-bottom: 7px;
        padding-top: 7px;" *ngIf="factura.metodo_pago_id == 10">
          <pre
            style="font-size: 18px"
          ><strong>{{formatearNumber(pagoCombinado(1))}}</strong></pre>
        </td>
        <td style="padding-bottom: 7px;
        padding-top: 7px;" *ngIf="factura.metodo_pago_id == 1">
          <pre
            style="font-size: 18px"
          ><strong>$ {{formatearNumber(factura.efectivo)}}</strong></pre>
        </td>
      </tr>

       <!-- CRÉDITO -->
       <tr *ngIf="(factura.metodo_pago_id == 10 && existePagoCombinado(2)) || factura.metodo_pago_id == 2">
        <td style="padding-bottom: 7px;
        padding-top: 7px;">
          <pre
            style="font-size: 18px"
          ><strong class="text-info">CRÉDITO</strong></pre>
        </td>
      </tr>
      <tr *ngIf="(factura.metodo_pago_id == 10 && existePagoCombinado(2)) || factura.metodo_pago_id == 2">
        <td style="padding-bottom: 7px;
        padding-top: 7px;" *ngIf="factura.metodo_pago_id == 10">
          <pre
            style="font-size: 18px"
          ><strong>{{formatearNumber(pagoCombinado(2))}}</strong></pre>
        </td>
        <td style="padding-bottom: 7px;
        padding-top: 7px;" *ngIf="factura.metodo_pago_id == 2">
          <pre
            style="font-size: 18px"
          ><strong>$ {{formatearNumber(factura.total  - (data?.facturaCompra?.total_retencion ?? 0) )}}</strong></pre>
        </td>
      </tr>

      <!-- TRANSFERENCIA BANCARIA -->
      <tr *ngIf="(factura.metodo_pago_id == 10 && existePagoCombinado(3)) || factura.metodo_pago_id == 3">
        <td style="padding-bottom: 7px;
        padding-top: 7px;">
          <pre
            style="font-size: 18px"
          ><strong class="text-info">Transferencia Bancaria</strong></pre>
        </td>
      </tr>
      <tr *ngIf="(factura.metodo_pago_id == 10 && existePagoCombinado(3)) || factura.metodo_pago_id == 3">
        <td style="padding-bottom: 7px;
        padding-top: 7px;" *ngIf="factura.metodo_pago_id == 10">
          <pre
            style="font-size: 18px"
          ><strong>{{formatearNumber(pagoCombinado(3))}}</strong></pre>
        </td>
        <td style="padding-bottom: 7px;
        padding-top: 7px;" *ngIf="factura.metodo_pago_id == 3">
          <pre
            style="font-size: 18px"
          ><strong>$ {{formatearNumber(factura.total  - (data?.facturaCompra?.total_retencion ?? 0) )}}</strong></pre>
        </td>
      </tr>

      <!-- BANCOLOMBIA -->
      <tr *ngIf="(factura.metodo_pago_id == 10 && existePagoCombinado(4)) || factura.metodo_pago_id == 4">
        <td style="padding-bottom: 7px;
        padding-top: 7px;">
          <pre
            style="font-size: 18px"
          ><strong class="text-info">BANCOLOMBIA</strong></pre>
        </td>
      </tr>
      <tr *ngIf="(factura.metodo_pago_id == 10 && existePagoCombinado(4)) || factura.metodo_pago_id == 4">
        <td style="padding-bottom: 7px;
        padding-top: 7px;" *ngIf="factura.metodo_pago_id == 10">
          <pre
            style="font-size: 18px"
          ><strong>{{formatearNumber(pagoCombinado(4))}}</strong></pre>
        </td>
        <td style="padding-bottom: 7px;
        padding-top: 7px;" *ngIf="factura.metodo_pago_id == 4">
          <pre
            style="font-size: 18px"
          ><strong>$ {{formatearNumber(factura.total  - (data?.facturaCompra?.total_retencion ?? 0) )}}</strong></pre>
        </td>
      </tr>

      <!-- BANCOLOMBIA A LA MANO -->
      <tr *ngIf="(factura.metodo_pago_id == 10 && existePagoCombinado(5)) || factura.metodo_pago_id == 5">
        <td style="padding-bottom: 7px;
        padding-top: 7px;">
          <pre
            style="font-size: 18px"
          ><strong class="text-info">BANCOLOMBIA A LA MANO</strong></pre>
        </td>
      </tr>
      <tr *ngIf="(factura.metodo_pago_id == 10 && existePagoCombinado(5)) || factura.metodo_pago_id == 5">
        <td style="padding-bottom: 7px;
        padding-top: 7px;" *ngIf="factura.metodo_pago_id == 10">
          <pre
            style="font-size: 18px"
          ><strong>{{formatearNumber(pagoCombinado(5))}}</strong></pre>
        </td>
        <td style="padding-bottom: 7px;
        padding-top: 7px;" *ngIf="factura.metodo_pago_id == 5">
          <pre
            style="font-size: 18px"
          ><strong>$ {{formatearNumber(factura.total  - (data?.facturaCompra?.total_retencion ?? 0) )}}</strong></pre>
        </td>
      </tr>

      <!-- DAVIVIENDA -->
      <tr *ngIf="(factura.metodo_pago_id == 10 && existePagoCombinado(6)) || factura.metodo_pago_id == 6">
        <td style="padding-bottom: 7px;
        padding-top: 7px;">
          <pre
            style="font-size: 18px"
          ><strong class="text-info">DAVIVIENDA</strong></pre>
        </td>
      </tr>
      <tr *ngIf="(factura.metodo_pago_id == 10 && existePagoCombinado(6)) || factura.metodo_pago_id == 6">
        <td style="padding-bottom: 7px;
        padding-top: 7px;" *ngIf="factura.metodo_pago_id == 10">
          <pre
            style="font-size: 18px"
          ><strong>{{formatearNumber(pagoCombinado(6))}}</strong></pre>
        </td>
        <td style="padding-bottom: 7px;
        padding-top: 7px;" *ngIf="factura.metodo_pago_id == 6">
          <pre
            style="font-size: 18px"
          ><strong>$ {{formatearNumber(factura.total  - (data?.facturaCompra?.total_retencion ?? 0) )}}</strong></pre>
        </td>
      </tr>

      <!-- DAVIPLATA -->
      <tr *ngIf="(factura.metodo_pago_id == 10 && existePagoCombinado(7)) || factura.metodo_pago_id == 7 ">
        <td style="padding-bottom: 7px;
        padding-top: 7px;">
          <pre
            style="font-size: 18px"
          ><strong class="text-info">DAVIPLATA</strong></pre>
        </td>
      </tr>
      <tr *ngIf="(factura.metodo_pago_id == 10 && existePagoCombinado(7)) || factura.metodo_pago_id == 7">
        <td style="padding-bottom: 7px;
        padding-top: 7px;" *ngIf="factura.metodo_pago_id == 10">
          <pre
            style="font-size: 18px"
          ><strong>{{formatearNumber(pagoCombinado(7))}}</strong></pre>
        </td>
        <td style="padding-bottom: 7px;
        padding-top: 7px;" *ngIf="factura.metodo_pago_id == 7">
          <pre
            style="font-size: 18px"
          ><strong>$ {{formatearNumber(factura.total  - (data?.facturaCompra?.total_retencion ?? 0) )}}</strong></pre>
        </td>
      </tr>

      <!-- NEQUI -->
      <tr *ngIf="(factura.metodo_pago_id == 10 && existePagoCombinado(8)) || factura.metodo_pago_id == 8">
        <td style="padding-bottom: 7px;
        padding-top: 7px;">
          <pre
            style="font-size: 18px"
          ><strong class="text-info">Nequi</strong></pre>
        </td>
      </tr>
      <tr *ngIf="(factura.metodo_pago_id == 10 && existePagoCombinado(8)) || factura.metodo_pago_id == 8">
        <td style="padding-bottom: 7px;
        padding-top: 7px;" *ngIf="factura.metodo_pago_id == 10">
          <pre
            style="font-size: 18px"
          ><strong>$ {{formatearNumber(pagoCombinado(8))}}</strong></pre>
        </td>
        <td style="padding-bottom: 7px;
        padding-top: 7px;" *ngIf="factura.metodo_pago_id == 8">
          <pre
            style="font-size: 18px"
          ><strong>$ {{formatearNumber(factura.total  - (data?.facturaCompra?.total_retencion ?? 0) )}}</strong></pre>
        </td>
      </tr>

      <!-- DATÁFONO -->
      <tr *ngIf="(factura.metodo_pago_id == 10 && existePagoCombinado(9)) || factura.metodo_pago_id == 9">
        <td >
          <pre
            style="font-size: 18px"
          ><strong class="text-info">DATÁFONO</strong></pre>
        </td>
      </tr>
      <tr *ngIf="(factura.metodo_pago_id == 10 && existePagoCombinado(9)) || factura.metodo_pago_id == 9">
        <td style="padding-bottom: 7px;
        padding-top: 7px;" *ngIf="factura.metodo_pago_id == 10">
          <pre
            style="font-size: 18px"
          ><strong>$ {{formatearNumber(pagoCombinado(9))}}</strong></pre>
        </td>
        <td style="padding-bottom: 7px;
        padding-top: 7px;" *ngIf="factura.metodo_pago_id == 9">
          <pre
            style="font-size: 18px"
          ><strong>$ {{formatearNumber(factura.total  - (data?.facturaCompra?.total_retencion ?? 0) )}}</strong></pre>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <div>
      <button
        class="btn btn-success btn-block rounded p-3 font-weight-bold"
        style="font-size: 18px"
        [disabled]="showTicket"
        (click)="imprimirTicket()"
      >
        Imprimir Ticket
        <br />
        <span>{{ codigo }}</span>
      </button>
    </div>
    <div class="mt-5">
      <button
        class="btn btn-secondary btn-block rounded p-3 font-weight-bold"
        style="font-size: 18px"
        (click)="returnZones()"
      >
        Realizar
        <br />
        Más Compras
      </button>
    </div>
  </div>
</div>

<app-ticket-compra
  *ngIf="showTicket"
  (editEvent)="closeTicket($event)"
  [id]="idFac"
  [type]="type"
  [isOpenAlways]="false"
  [canShowTotals]="canShowTotals"
>
</app-ticket-compra>
