<form [formGroup]="form" autocomplete="off">
  <div
    *ngIf="loaded; else loading"
    style="padding-top: 20px; padding-right: 20px"
  >
  <!-- {{form.value | json}} -->
    <div class="card">
      <div class="row" style="padding: 20px">
        <div class="form-group col-md-12" style="text-align: left;">
          <label for="">Nombre</label>
          <input
            class="form-control rounded"
            placeholder="NOMBRE"
            name="nombre"
            style="text-transform: uppercase"
            formControlName="nombre"
          />
          <div
            *ngIf="campoEsValido('nombre')"
            class="alert-danger px-2 rounded"
            style="background: rgba(3, 0, 0, 0)"
          >
            *El nombre es requerida
          </div>
        </div>
        <div class="form-group col-md-12">
          <label style="font-weight: bold">Periodo</label>
        </div>
        <div class="form-group col-md-3"  style="text-align: left;">
          <label for="">Fecha de inicio</label>
          <input
            class="form-control rounded"
            name="fecha_inicial"
            type="date"
            formControlName="fecha_inicial"
          />
          <div
            *ngIf="campoEsValido('fecha_inicial')"
            class="alert-danger px-2 rounded"
            style="background: rgba(3, 0, 0, 0)"
          >
            *La fecha de inicio es requerida
          </div>
        </div>
        <div class="form-group col-md-3" style="text-align: left;">
          <label for="">Hora de inicio</label>
          <input
            class="form-control rounded"
            name="hora_inicial"
            type="time"
            formControlName="hora_inicial"
          />
          <div
            *ngIf="campoEsValido('hora_inicial')"
            class="alert-danger px-2 rounded"
            style="background: rgba(3, 0, 0, 0)"
          >
            *La Hora de inicio es requerida
          </div>
        </div>

        <div class="form-group col-md-3" style="text-align: left;">
          <label for="">Fecha final</label>
          <input
            class="form-control rounded"
            name="fecha_final"
            type="date"
            formControlName="fecha_final"
          />
          <div
            *ngIf="campoEsValido('fecha_final')"
            class="alert-danger px-2 rounded"
            style="background: rgba(3, 0, 0, 0)"
          >
            *La fecha final es requerida
          </div>
        </div>
        <div class="form-group col-md-3" style="text-align: left;">
          <label for="" >Hora final</label>
          <input
            class="form-control rounded"
            name="hora_final"
            type="time"
            formControlName="hora_final"
          />
          <div
            *ngIf="campoEsValido('hora_final')"
            class="alert-danger px-2 rounded"
            style="background: rgba(3, 0, 0, 0)"
          >
            *La Hora final es requerida
          </div>
        </div>
        <div class="form-group col-md-12">
          <label style="font-weight: bold">Configurar porcentaje de descuento para la promoción</label>
        </div>
        <div class="form-group col-md-3">
          <label>Descuento por porcentaje</label>
          <!-- <input
            class="form-control rounded"
            placeholder="% Descuento"
            name="porcentaje"
            type="number"
            max="100"
            min="0"
            formControlName="porcentaje"
          /> -->
          <input onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;"
            onkeyup='if (this.value.length > 5 || (+this.value > 100) ) this.value ="1"' inputmode="numeric"
            (keyup)="changePorcentaje($event.target.value, 'porcentaje')"
            [value]="form?.get('porcentaje').value"
            type="text"
            class="form-control rounded"
            placeholder="% Descuento"
            max="100"
            min="0"
            style="height: 30px; padding-bottom: 0px; padding-top: 0px" />
          <div
            *ngIf="campoEsValido('porcentaje')"
            class="alert-danger px-2 rounded"
            style="background: rgba(3, 0, 0, 0); font-size: 10px"
          >
            *El porcentaje de descuento es requerido, el valor no puede ser mayor a 100
          </div>
        </div>
        <div class="form-group col-md-3">
          <label for="">Estado de promoción</label>

          <select required class="form-control mb-1 rounded" formControlName="estado">
            <option selected value="">SELECCIONAR...</option>
            <option value="1">ACTIVO</option>
            <option value="2">NO ACTIVO</option>
          </select>

          <span *ngIf="campoEsValido('estado')" class="alert-danger px-2 rounded"
            style="background: rgba(3, 0, 0, 0)">*El estado es requerido</span>
        </div>
        
        <div class="form-group col-md-12">
          <label style="font-weight: bold">Configurar producto</label>
        </div>
        <div class="form-group col-md-4">
          <label for="por_categoria">
            <input
              class="form-check-input"
              type="radio"
              name="por_categoria"
              (click)="selecTipo(1)"
              [checked]="tipoPromocion == 1"
              role="switch"
              id="por_categoria"
              style="padding-left: 10px"
            />Promoción por categoria</label
          >
        </div>
        <div class="form-group col-md-4">
          <label for="por_categoria2">
            <input
              class="form-check-input"
              type="radio"
              role="switch"
              (click)="selecTipo(2)"
              [checked]="tipoPromocion == 2"
              name="por_categoria"
              style="padding-left: 10px"
              id="por_categoria2"
            />Promoción por productos</label
          >
        </div>
        <div class="form-group col-md-4">
          <label for="por_categoria3">
            <input
              class="form-check-input"
              type="radio"
              role="switch"
              (click)="selecTipo(3)"
              [checked]="tipoPromocion == 3"
              name="por_categoria"
              style="padding-left: 10px"
              id="por_categoria3"
            />Promoción todos los productos</label
          >
        </div>
        <div class="form-group col-md-12">
          <ng-container *ngIf="tipoPromocion == 1">
            <label
              for=""
              style="background: #e9f7fe; width: 97%"
              class="alert alert-primary card-alerta"
              role="alert"
            >
              Seleccione las categorias, para que puvesoft cargue el listado de
              productos pertenecientes, a las categorias seleccionadas</label
            >
            <div class="form-group col-md-12">
              <ng-multiselect-dropdown
                formControlName="categoria"
                [placeholder]="'Seleccione categorias'"
                [settings]="dropdownSettings"
                [data]="categorias"
              >
              </ng-multiselect-dropdown></div
          ></ng-container>
          <ng-container *ngIf="tipoPromocion == 2">
            <label
              style="background: #e9f7fe; width: 97%"
              class="alert alert-primary card-alerta"
              role="alert"
            >
              Con esta opción usted podra escoger los productos que haran parte
              de la promoción</label
            ></ng-container
          >
          <ng-container *ngIf="tipoPromocion == 3">
            <label
              style="background: #e9f7fe; width: 97%"
              class="alert alert-primary card-alerta"
              role="alert"
            >
              Esta opción marcará todos los productos, para agregarlos a la promoción</label
            ></ng-container>
        </div>
        
        <div class="form-group col-md-12">
          <div class="d-flex justify-content-end align-items-center">
            <button
              class="btn btn-primary btn-shadow"
              [disabled]="lockbutton"
              style="font-size: 14px"
              (click)="onsubmit()"
            >
              <span
                *ngIf="lockbutton"
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              {{ action1 }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<ng-template #loading>
  <div class="text-center">
    <img
      src="./assets/logos/Loading-Puvesoft.gif"
      style="width: 6rem; height: 6rem; margin-top: 10%"
    />
  </div>
</ng-template>
