<div style="background-color: #e9e9e9; left: 0; position: fixed; bottom: 0; width: 100%; height: 20px; z-index: 100 ; margin-left: 78px;">
	<table width="100%">
    <tbody><tr><td>
        <table class="table table-bordered">
            <tbody><tr class="well">
                <td style="font-size: 10px; text-align: center; padding-left: 0px; padding-top: 1px;"><strong>Copyright ©2019 {{website}} - Todos lo derechos reservados</strong></td>
            </tr>
        </tbody></table>
    </td></tr>
    </tbody></table>
</div>
