<div class="alert alert-danger card-alerta" role="alert" *ngIf="dia_vencimiento < 0 || ven_certificate < 0">
  <ng-container *ngIf="dia_vencimiento < 0">
  Su licencia ha vencido <b>{{ dia_vencimiento }}</b> días, lo invitamos a
  renovar a través de nuestros canales de atención...
  </ng-container>
  <ng-container *ngIf="ven_certificate < 0">
      Su paquete de documentos electrónicos ha vencido <b>{{ ven_certificate }}</b> días, lo invitamos a
      renovar a través de nuestros canales de atención...
  </ng-container>
</div>

<div style="background: #E9F7FE;" class="alert alert-primary card-alerta" role="alert" *ngIf="dia_vencimiento == 0 || ven_certificate == 0">
  <ng-container *ngIf="dia_vencimiento == 0">
  Su licencia vence Hoy, lo invitamos a renovar a través de nuestros canales de
  atención...
  </ng-container>
  <ng-container *ngIf="ven_certificate == 0">
     Su paquete de documentos electrónicos vence Hoy, lo invitamos a renovar a través de nuestros canales de
  atención...
</ng-container>
</div>

<div style="background: #E9F7FE;" class="alert alert-primary card-alerta" role="alert" *ngIf="(dia_vencimiento <= 7 && dia_vencimiento > 0) || (ven_certificate <= 7 && ven_certificate > 0) ">
  <ng-container *ngIf="dia_vencimiento <= 7 && dia_vencimiento > 0">
  Su licencia vencerá en: <b>{{ dia_vencimiento }}</b> día(s), lo invitamos
  a renovar a través de de nuestros canales de atención...
  </ng-container>
  <ng-container *ngIf="ven_certificate <= 7 && ven_certificate > 0">
      Su paquete de documentos electrónicos vencerá en: <b>{{ ven_certificate }}</b> día(s), lo invitamos
  a renovar a través de de nuestros canales de atención...
</ng-container>
</div>

<div class="row">
  <div class="form-group col-md-12">
    <ul class="nav justify-content-between" style="background-color: #e5f1fe3b;
    border-radius: 10px;" *ngIf="loaded">
      <ul class="nav">
        <li class="nav-item" *ngIf="permisoProductoBajaExistencia" (click)="irProductoBajaExistencia()" style="cursor: pointer;">
          <a class="nav-link"><b style="color: #0d549e;">Producto Baja Existencia</b><span
              style="border-radius: 20px; margin: 5px; font-size: 12px"
              class="badge btn-danger">{{estadoProductosCreditos.total_baja_existencia}}</span></a>
        </li>
        <li class="nav-item" *ngIf="permisoProductoBajaExistencia" (click)="irProductosPorVencer()" style="cursor: pointer;">
          <a class="nav-link"><b style="color: #0d549e;">Productos por vencer</b><span
              style="border-radius: 20px; margin: 5px; font-size: 12px"
              class="badge btn-danger">{{estadoProductosCreditos.total_productos_vencer}}</span></a>
        </li>
        <li class="nav-item" *ngIf="permisoCreditosPendientes" (click)="irCreditos()" style="cursor: pointer;">
          <a class="nav-link"><b style="color: #0d549e;">Créditos Pendientes</b><span
              style="border-radius: 20px; margin: 5px; font-size: 12px"
              class="badge btn-danger">{{estadoProductosCreditos.total_creditos_pendientes}}</span></a>
        </li>
      </ul>
      <ul class="nav" style="align-items: center;">

     <!--    <li class="nav-item" style="padding-right: 10px;cursor: pointer;">
          <a (click)="irCotizacion()" class="btn btn-normal btn-large"
            style="font-size: 11px;"><strong>Cotizar</strong></a>
        </li> -->
        <li class="nav-item" style="cursor: pointer;">
          <a (click)="irVenta()" class="btn btn-primary btn-large" style="font-size: 19px;"><strong>Realizar
              Ventas</strong></a>
        </li>
      </ul>
    </ul>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-5" *ngIf="loaded; else loading">

  <div class="form-group col">
    <div class="card d-flex flex-row mb-2 h-60">
      <img alt="Profile" src="https://pos.vendty.com//public/dash-icons/factura.svg"
        class="img-thumbnail border-0 m-2 mt-4 mb-4 list-thumbnail align-self-center small"
        style="width: 40px; height: 40px" />
      <div class="d-flex flex-grow-1 min-width-zero">
        <div class="card-body p-0 align-self-center d-flex flex-column justify-content-between min-width-zero">
          <div class="min-width-zero">
            <p class="list-item-heading mb-1 truncate text-muted">
              Número de facturas
            </p>
            <p *ngIf="permisoNumeroFactura == true" class="mb-2" style="font-size: 19px; color: #000000">
              # {{ ventasDia.total_facturas }}
            </p>
            <p *ngIf="permisoNumeroFactura == false" class="mb-2" style="font-size: 19px; color: #000000">
              # ****
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group col">
    <div class="card d-flex flex-row mb-2 h-60">
        <svg style="width: 40px; height: 40px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" color="#009D74" fill="currentColor" class="bi bi-cart-check img-thumbnail border-0 m-2 mt-4 mb-4 list-thumbnail align-self-center small" viewBox="0 0 16 16">
          <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
          <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg>
      <div class="d-flex flex-grow-1 min-width-zero">
        <div class="card-body p-0 align-self-center d-flex flex-column justify-content-between min-width-zero">
          <div class="min-width-zero">
            <p class="list-item-heading mb-1 truncate text-muted">
              Ventas del día
            </p>
            <p *ngIf="permisoVentaDia == true" class="mb-2" style="font-size: 19px; color: #000000">
              {{ moneda }} {{ formatearNumber(ventasDia.ventas_dia) }}
            </p>
            <p *ngIf="permisoVentaDia == false" class="mb-2" style="font-size: 19px; color: #000000">
              {{ moneda }} ****
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="form-group col">
    <div class="card d-flex flex-row mb-2 h-60">
      

      <svg style="width: 40px; height: 40px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" color="#009D74" fill="currentColor" class="bi bi-cash-coin img-thumbnail border-0 m-2 mt-4 mb-4 list-thumbnail align-self-center small" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
        <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
        <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
        <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
      </svg>

      <div class="d-flex flex-grow-1 min-width-zero">
        <div class="card-body p-0 align-self-center d-flex flex-column justify-content-between min-width-zero">
          <div class="min-width-zero">
            <p class="list-item-heading mb-1 truncate text-muted">
              Abonos del día
            </p>
            <p *ngIf="permisoAbonoDia == true" class="mb-2" style="font-size: 19px; color: #000000">
              {{ moneda }} {{ formatearNumber(ventasDia.total_abonos) }}
            </p>
            <p *ngIf="permisoAbonoDia == false" class="mb-2" style="font-size: 19px; color: #000000">
              {{ moneda }} ****
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group col">
    <div class="card d-flex flex-row mb-2 h-60">
      <svg style="width: 40px; height: 40px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" color="#f65a5e" fill="currentColor" class="bi bi-reply-all img-thumbnail border-0 m-2 mt-4 mb-4 list-thumbnail align-self-center small" viewBox="0 0 16 16">
        <path d="M8.098 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L8.8 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L4.114 8.254a.502.502 0 0 0-.042-.028.147.147 0 0 1 0-.252.497.497 0 0 0 .042-.028l3.984-2.933zM9.3 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"/>
        <path d="M5.232 4.293a.5.5 0 0 0-.7-.106L.54 7.127a1.147 1.147 0 0 0 0 1.946l3.994 2.94a.5.5 0 1 0 .593-.805L1.114 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.5.5 0 0 0 .042-.028l4.012-2.954a.5.5 0 0 0 .106-.699z"/>
      </svg>
      <div class="d-flex flex-grow-1 min-width-zero">
        <div class="card-body p-0 align-self-center d-flex flex-column justify-content-between min-width-zero">
          <div class="min-width-zero">
            <p class="list-item-heading mb-1 truncate text-muted">
              Devoluciones del día
            </p>
            <p *ngIf="permisoDevolucionesDia == true" class="mb-2" style="font-size: 19px; color: #000000">
              {{ moneda }} {{ formatearNumber(ventasDia.total_devoluciones) }}
            </p>
            <p *ngIf="permisoDevolucionesDia == false" class="mb-2" style="font-size: 19px; color: #000000">
              {{ moneda }} ****
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group col">
    <div class="card d-flex flex-row mb-2 h-60">
      <svg style="width: 40px; height: 40px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" color="#f65a5e" fill="currentColor" class="bi bi-cash-stack img-thumbnail border-0 m-2 mt-4 mb-4 list-thumbnail align-self-center small" viewBox="0 0 16 16">
        <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
        <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z"/>
      </svg>
      <div class="d-flex flex-grow-1 min-width-zero">
        <div class="card-body p-0 align-self-center d-flex flex-column justify-content-between min-width-zero">
          <div class="min-width-zero">
            <p class="list-item-heading mb-1 truncate text-muted">
              Gastos del día
            </p>
            <p *ngIf="permisoGastoDia == true" class="mb-2" style="font-size: 19px; color: #000000">
              {{ moneda }} {{ formatearNumber(ventasDia.gastos_dia) }}
            </p>
            <p *ngIf="permisoGastoDia == false" class="mb-2" style="font-size: 19px; color: #000000">
              {{ moneda }} ****
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-7">
    <!-- Contenedor del select -->
    <div class="d-flex justify-content-end mb-2" *ngIf="permisoGrafica == true && loaded">
      <form [formGroup]="form" autocomplete="off">
        <!-- {{form.value | json}} -->
      <select class="form-control" id="inputDep" formControlName="lectivo" style="height: 27.2px; width: 80px;"
      (change)="onChangeAnio($event)">
        <option *ngFor="let item of aniosLectivos" [value]="item">
          {{ item }}
        </option>
      </select>
    </form>
    </div>
  
    <!-- Contenedor de la gráfica -->
    <div *ngIf="permisoGrafica == true" [chart]="chartAnual"></div>
  </div>
  
  
  <div class="form-group col-md-5" *ngIf="loaded">
    <div class="row row-cols-md-2 justify-content-between row-cols-1">
      <div class="pr-md-1 pl-md-3">
      <div class="card d-flex flex-row mb-2 h-60 col">
        <img alt="Profile" src="../../../assets/icon-menu/caja-registradora4.png"
          class="img-thumbnail border-0 m-2 mt-4 mb-4 list-thumbnail align-self-center small"
          style="width: 40px; height: 40px" />
        <div class="d-flex flex-grow-1 min-width-zero">
          <div class="card-body p-0 align-self-center d-flex flex-column justify-content-between min-width-zero">
            <div class="min-width-zero">
              <p class="list-item-heading mb-1 truncate text-muted">
                Inicio de caja
              </p>
              <p *ngIf="permisoEstadoCaja == true" class="mb-2" style="font-size: 19px; color: #000000">
                {{ moneda }} {{ formatearNumber(ventasDia.inicio_caja) }}
              </p>
              <p *ngIf="permisoEstadoCaja == false" class="mb-2" style="font-size: 19px; color: #000000">
                {{ moneda }} ****
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pr-md-3 pl-md-1">
      <div class="card d-flex flex-row mb-2 h0 col">
        <img alt="Profile" src="../../../assets/icon-menu/caja-registradora.png" 
          class="img-thumbnail border-0 m-2 mt-4 mb-4 list-thumbnail align-self-center small"
          style="width: 40px; height: 40px" />
        <div class="d-flex flex-grow-1 min-width-zero">
          <div class="card-body p-0 align-self-center d-flex flex-column justify-content-between min-width-zero">
            <div class="min-width-zero">
              <p class="list-item-heading mb-1 truncate text-muted">
                Estado de caja
              </p>
              <p *ngIf="permisoEstadoCaja == true" class="mb-2" style="font-size: 19px; color: #000000">
               {{ moneda }} {{ formatearNumber(ventasDia.estado_caja) }}
              </p>
              <p *ngIf="permisoEstadoCaja == false" class="mb-2" style="font-size: 19px; color: #000000">
                {{ moneda }} ****
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="row" style="height: 300px;" *ngIf="permisoGrafica == true">
      <div class="col">
        <div style="height: 335px;" [chart]="chartClientes"></div>
      </div>
    </div>
  </div>
</div>

<!-- Gestion bloque grafica clientes -->
<div class="row" *ngIf="permisoGrafica == true">
  <div class="col-md-12">
    <div [chart]="chartDias"></div>
  </div>
</div>
<ng-template #loading>
 <div class="text-center">  <img src="./assets/logos/Loading-Puvesoft.gif"
    style="width: 6rem; height: 6rem;  margin-top: 10%" /> </div>
</ng-template>