.card-alerta {
    padding-top: 3px;
    height: 27px;
    text-align: end;
    margin-bottom: 7px;
    border-color: #0d549e30;
    margin-top: -8px;
}


@media (max-width: 750px) {
    .card-alerta {
        padding-top: 3px;
        height: 58px;
        text-align: end;
        margin-bottom: 7px;
        border-color: #0d549e30;
        margin-top: -8px;
    }
  }