<div class="row" *ngIf="loaded; else loading">
  <div class="col-12">
    <div class="alert alert-primary card-alerta" role="alert">
      Su licencia vence en: <b>{{ vencimiento }}</b> días...
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="mb-4" style="font-weight: bold">Datos de la Empresa</h5>

        <form [formGroup]="form">
          <!-- {{ form.value | json }}   -->

          <div class="form-row">
            <div class="form-group col-md-3" style="text-align: center; align-self: center">
              <ng-container *ngIf="activeInfoBasic">
                <img src="{{ logo }}" rounded alt="Center Rounded image" width="100%"/>
              </ng-container>
            </div>

            <div class="form-row col-md-9" style="padding-right: 0px">
              <div class="form-group col-md-12" style="padding-bottom: 20px;">
                <ul class="nav nav-tabs">
                  <li class="nav-item" style="cursor: pointer;">
                    <a class="nav-link" (click)="controlMenu(1)" [ngClass]="{ 'active': activeInfoBasic }">Información
                      básica</a>
                  </li>
                  <li class="nav-item" style="cursor: pointer;">
                    <a class="nav-link" (click)="controlMenu(3)"
                      [ngClass]="{ 'active': activeConfigElectronc }">Facturación electrónica DIAN</a>
                  </li>
                  <li class="nav-item" style="cursor: pointer;">
                    <a class="nav-link" (click)="controlMenu(2)" [ngClass]="{ 'active': activeConfigPos }">Configuración
                      factura POS</a>
                  </li>
                  <li class="nav-item" style="cursor: pointer;">
                    <a class="nav-link" (click)="controlMenu(4)"
                      [ngClass]="{ 'active': activeConfigDocumentSoport }">Configuración documento soporte</a>
                  </li>
                  <li class="nav-item" style="cursor: pointer">
                    <a
                      class="nav-link"
                      (click)="controlMenu(6)"
                      [ngClass]="{ active: activeNominaElectronica }"
                      >Configuración Nómina Electrónica</a
                    >
                  </li>
                </ul>
              </div>
              <ng-container *ngIf="activeInfoBasic">
                <div class="form-group col-md-4" style="padding-right: 5px; padding-left: 5px">
                  <label for="inputAddress" style="font-weight: 700">Nombre de la Empresa</label>
                  <input type="text" class="form-control mb-1" style="text-transform: uppercase"
                    placeholder="Nombre de la Empresa" formControlName="nombre" />
                  <span *ngIf="campoEsValido('nombre')" class="alert-danger rounded px-2">*El nombre es requerido</span>
                </div>
                <div class="form-group col-md-4" style="padding-right: 5px; padding-left: 5px">
                  <label for="tipoIdentificacion" style="font-weight: 700">Tipo Identificación</label>
                  <select required class="form-control mb-1" id="tipoIdentificacion"
                    formControlName="tipoIdentificacion" (change)="changeTipoDocumento($event)" style="height: 27.2px">
                    <option disabled selected [value]="''">Escoger...</option>
                    <option *ngFor="let item of tipoDocumentoEmpresa" [value]="item.id">
                      {{ item.nombre }}
                    </option>
                  </select>
                  <span *ngIf="campoEsValido('tipoIdentificacion')" class="alert-danger rounded px-2">*La identificación
                    es requerida</span>
                </div>
                <div class="form-group col-md-4 row"
                  style="padding-right: 5px; padding-left: 5px; margin-left: 0; margin-right: 0;">
                  <div style="width: calc(100% - 30px);">
                    <label for="inputAddress" style="font-weight: 700">Identificación</label>
                    <input type="text" class="form-control mb-1" style="text-transform: uppercase"
                      placeholder="Nit ó CC." formControlName="nit" />
                    <span *ngIf="campoEsValido('nit')" class="alert-danger rounded px-2">*La identificación es
                      requerida</span>
                  </div>
                  <div *ngIf="form.get('tipoIdentificacion').value == 2" style="max-width: 30px;">
                    <label for="dv" style="font-weight: 700">DV</label>
                    <input type="text" id="dv" class="form-control mb-1 text-center" style="text-transform: uppercase"
                      placeholder="" formControlName="dv" maxlength="1" pattern="[0-9]{1}"
                      onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                    <span *ngIf="campoEsValido('dv')" class="alert-danger rounded px-2">*</span>
                  </div>

                </div>
                <div class="form-group col-md-3" style="padding-right: 5px; padding-left: 5px">
                  <label style="font-weight: 700">Régimen</label>
                  <ng-multiselect-dropdown formControlName="regimen" [placeholder]="'SELECCIONE REGIMEN'"
                    [settings]="dropdownSettings" [data]="regimenes">
                  </ng-multiselect-dropdown>
                </div>
                <div class="form-group col-md-3" style="padding-right: 5px; padding-left: 5px">
                  <label for="inputAddress" style="font-weight: 700">Correo Electrónico</label>
                  <input type="email" class="form-control mb-1" id="inputEmail"
                    placeholder="Digite el correo Electrónico" formControlName="email" />
                  <span *ngIf="campoEsValido('email')" class="alert-danger px-2 rounded">*El email no es válido</span>
                </div>
                <div class="form-group col-md-2" style="padding-right: 5px; padding-left: 5px">
                  <label for="inputAddress" style="font-weight: 700">Teléfono</label>
                  <input type="text" class="form-control mb-1" style="text-transform: uppercase" placeholder="Teléfono"
                    formControlName="telefono" />
                  <span *ngIf="campoEsValido('telefono')" class="alert-danger rounded px-2">*El teléfono excede los 18
                    digitos</span>
                </div>
                <div class="form-group col-md-2" style="padding-right: 5px; padding-left: 5px">
                  <label for="inputAddress" style="font-weight: 700">Página Web</label>
                  <input type="text" class="form-control mb-1" placeholder="Página web" formControlName="web" />
                  <span *ngIf="campoEsValido('web')" class="alert-danger rounded px-2">*El web es requerido</span>
                </div>
                <div class="form-group col-md-2" style="padding-right: 5px; padding-left: 5px">
                  <label for="inputDep" style="font-weight: 700">Departamento</label>

                  <select required class="form-control mb-1" id="inputDep" formControlName="departamento"
                    (change)="getMunicipios()" style="height: 27.2px">
                    <option disabled selected value="">Escoger...</option>
                    <option *ngFor="let item of departamentos" [value]="item.id">
                      {{ item.nombre }}
                    </option>
                  </select>
                </div>
                <div class="form-group col-md-3" style="padding-right: 5px; padding-left: 5px">
                  <label for="inputDep" style="font-weight: 700">Municipio</label>

                  <select required class="form-control mb-1" id="inputMun" formControlName="municipio"
                    style="height: 27.2px">
                    <option disabled selected value="">Escoger...</option>
                    <option *ngFor="let item of municipios" [value]="item.id">
                      {{ item.nombre }}
                    </option>
                  </select>
                </div>
                <div class="form-group col-md-3" style="padding-right: 5px; padding-left: 5px">
                  <label for="inputAddress" style="font-weight: 700">Dirección</label>
                  <input type="text" class="form-control mb-1" placeholder="Dirección" formControlName="direccion" />
                </div>

                <div class="form-group col-md-2" style="padding-right: 5px; padding-left: 5px">
                  <label for="codigo_postal" style="font-weight: 700">Código Postal*</label>
                  <input type="text" class="form-control mb-1" id="codigo_postal" formControlName="codigo_postal" />
                </div>
              </ng-container>
            </div>

            <div class="form-group col-md-3" style="display: flex; flex-direction: column; align-items: center;">
              <ng-container *ngIf="activeInfoBasic == false">
                <img src="{{ logo }}" rounded alt="Center Rounded image" width="100%" />
              </ng-container>

              <ng-container *ngIf="plan == 3">
                <div
                  style="display: flex; justify-content: center; align-items: flex-start; width: 100%; text-align: center;">
                  <qrcode style="width: 100%; text-align: center"
                    [qrdata]="_urlApi + '#/menu/' + qr + '/' + usarDecimales" [allowEmptyString]="true"
                    [ariaLabel]="'QR Code image with the following content...'" [cssClass]="'center'"
                    [colorDark]="'#000000ff'" [colorLight]="'#ffffffff'" [elementType]="'svg'"
                    [errorCorrectionLevel]="'M'" [imageHeight]="100" [imageWidth]="100" [margin]="4" [scale]="1"
                    [title]="'A custom title attribute'" [width]="100"></qrcode>
                </div>

                <div class="d-none" #print_ticket id="print_ticket">
                  <qrcode [qrdata]="_urlApi + '#/menu/' + qr + '/' + usarDecimales" [allowEmptyString]="true"
                    [ariaLabel]="'QR Code image with the following content...'" [cssClass]="'center'"
                    [colorDark]="'#000000ff'" [colorLight]="'#ffffffff'" [elementType]="'svg'"
                    [errorCorrectionLevel]="'M'" [imageHeight]="400" [imageWidth]="400" [margin]="4" [scale]="1"
                    [title]="'A custom title attribute'" [width]="400"></qrcode>
                </div>

                <div style="display: flex; justify-content: center; width: 100%;">
                  <button (click)="imprimir()">Descargar</button>
                </div>
              </ng-container>
            </div>

            <div class="form-row col-md-9" style="padding-right: 0px">
              <ng-container *ngIf="activeInfoBasic">
                <div class="col-md-12" style="margin-left: -10px; padding-top: 10px">
                  <h6 class="mb-4" style="color: #375c9de6">
                    - Configuración de la Factura
                  </h6>
                </div>
                <div class="form-group col-md-2" style="padding-right: 5px; padding-left: 5px">
                  <label for="inputAddress" style="font-weight: 700">Formato de la Factura</label>
                  <select required class="form-control mb-1" formControlName="formato_ticket" style="height: 27.2px">
                    <option disabled selected value="">Escoger...</option>
                    <option value="0">TIPO TICKET</option>
                    <option value="1">TAMAÑO CARTA</option>
                  </select>
                  <span *ngIf="campoEsValido('formato_ticket')" class="alert-danger rounded px-2">*El tamaño ticket es
                    requerido</span>
                </div>
                <div class="form-group col-md-2" style="padding-right: 5px; padding-left: 5px">
                  <label for="inputAddress" style="font-weight: 700">Tamaño del Ticket</label>
                  <input type="number" class="form-control mb-1" placeholder="Tamaño ticket en mm"
                    formControlName="tamano_papel" />
                  <span *ngIf="campoEsValido('tamano_papel')" class="alert-danger rounded px-2">*El tamaño ticket es
                    requerido</span>
                </div>
                <div class="form-group col-md-2" style="padding-right: 5px; padding-left: 5px">
                  <label for="inputAddress" style="font-weight: 700">Tamaño de la Letra</label>
                  <input type="number" class="form-control mb-1" placeholder="Tamaño de la letra"
                    formControlName="tamano_letra" />
                  <span *ngIf="campoEsValido('tamano_letra')" class="alert-danger rounded px-2">*El tamaño letra es
                    requerido</span>
                </div>
                <div class="form-group col-md-4" style="padding-right: 5px; padding-left: 5px">
                  <label for="inputAddress" style="font-weight: 700">Pie de página para facturas de ventas</label>
                  <textarea class="form-control mb-1" placeholder="Pie de página para facturas de ventas"
                    formControlName="texto_venta"></textarea>
                </div>
                <div class="form-group col-md-4" style="padding-right: 5px; padding-left: 5px">
                  <label for="inputAddress" style="font-weight: 700">Pie de página facturas de cotizaciones</label>
                  <textarea class="form-control mb-1" placeholder="Pie de página facturas de cotizaciones"
                    formControlName="texto_cotizacion"></textarea>
                </div>

                <div class="col-md-12" style="margin-left: -10px; padding-top: 10px">
                  <h6 class="mb-4" style="color: #375c9de6">
                    - Configuración de ventas
                  </h6>
                </div>

                 <div class="form-group col-md-2" style="padding-right: 5px; padding-left: 5px" *ngIf="plan == 2 || plan == 3">
                  <label for="inputDep" style="font-weight: 700">Usar más de una caja</label>

                  <select title="Trabajar con mas de una caja" required class="form-control mb-1" formControlName="caja_all" style="height: 27.2px">
                    <option disabled selected value="">Escoger...</option>
                    <option value="0">NO</option>
                    <option value="1">SI</option>
                  </select>

                  <span *ngIf="campoEsValido('usar_decimales')" class="alert-danger px-2 rounded">*El campo es requerido</span>
                </div>

                <div class="form-group col-md-2" style="padding-right: 5px; padding-left: 5px">
                  <label for="inputDep" style="font-weight: 700">Moneda</label>

                  <select title="Seleccione la moneda" required class="form-control mb-1" formControlName="moneda" style="height: 27.2px">
                    <option disabled selected value="">Escoger...</option>
                    <option *ngFor="let item of paisesMonedas" [value]="item.codigo">
                    {{ item.pais }} ({{ item.simbolo }}) - {{ item.codigo }}
                  </option>
                  </select>

                  <span *ngIf="campoEsValido('moneda')" class="alert-danger px-2 rounded">*La moneda es requerida</span>
                </div>

                <div class="form-group col-md-2" style="padding-right: 5px; padding-left: 5px">
                  <label for="inputDep" style="font-weight: 700">Usar Decimales</label>

                  <select title="Le permite controlar si mostrar o no decimales en los valores númerico de su sistema" required class="form-control mb-1" formControlName="usar_decimales" style="height: 27.2px">
                    <option disabled selected value="">Escoger...</option>
                    <option value="1">NO</option>
                    <option value="2">SI</option>
                  </select>

                  <span *ngIf="campoEsValido('usar_decimales')" class="alert-danger px-2 rounded">*Usar decimales es
                    requerido</span>
                </div>
                <div class="form-group col-md-2" style="padding-right: 5px; padding-left: 5px">
                  <label for="inputDep" style="font-weight: 700">Vender en negativo</label>

                  <select title="Le permite controlar si vende o no pruductos con stock negativo..." required class="form-control mb-1" formControlName="stock_negativo" style="height: 27.2px">
                    <option disabled selected value="">Escoger...</option>
                    <option value="1">No</option>
                    <option value="0">SI</option>
                  </select>

                  <span *ngIf="campoEsValido('stock_negativo')" class="alert-danger px-2 rounded">*Campo stock negativo
                    es
                    requerido</span>
                </div>
                <div class="form-group col-md-2" style="padding-right: 5px; padding-left: 5px">
                  <label for="inputDep" style="font-weight: 700">Agregar cliente a la venta</label>

                  <select title="Le permite controlar si agregar o no clientes a las ventas" required class="form-control mb-1" formControlName="cliente" style="height: 27.2px">
                    <option disabled selected value="">Escoger...</option>
                    <option value="1">SI</option>
                    <option value="0">NO</option>
                  </select>

                  <span *ngIf="campoEsValido('cliente')" class="alert-danger px-2 rounded">*Campo cliente es
                    requerido</span>
                </div>
                <div *ngIf="this.hasProveedorElectronicoId" class="form-group col-md-2" style="padding-right: 5px; padding-left: 5px">
                  <label for="tipo_factura" style="font-weight: 700">Usar factura por defecto</label>
                  <select title="Le permite definir el tipo de factura predeterminado al realizar ventas, evitando la necesidad de seleccionarlo manualmente en cada transacción." required class="form-control mb-1" id="tipo_factura"
                    formControlName="tipo_factura" style="height: 27.2px">
                    <option disabled selected [value]="''">Escoger...</option>
                    <option *ngFor="let item of tipoFactura" [value]="item.id">
                      {{ item.nombre }}
                    </option>
                  </select>
                </div>

                <div class="form-group col-md-2" style="padding-right: 5px; padding-left: 5px">
                  <label for="inputDep" style="font-weight: 700">Habilitar retención</label>
                  <select title="Le permite controlar si hacer o no retención sobre una factura de ventas" class="form-control mb-1" formControlName="retencion" style="height: 27.2px">
                    <option disabled selected value="">Escoger...</option>
                    <option value="1">SI</option>
                    <option value="0">NO</option>
                  </select>
                </div>

                <div *ngIf="plan == 2 || plan == 3" class="form-group col-md-2" style="padding-right: 5px; padding-left: 5px" title="Esta opción le permite seleccionar un empleado en la venta, para asginarles las comisiones">
                  <label for="inputDep" style="font-weight: 700">Comisiones de ventas</label>
                  <select class="form-control mb-1" formControlName="comision_venta" style="height: 27.2px">
                    <option disabled selected value="">Escoger...</option>
                    <option value="1">SI</option>
                    <option value="0">NO</option>
                  </select>
                </div>
                <div class="form-group col-md-2" style="padding-right: 5px; padding-left: 5px">
                  <label for="inputDep" style="font-weight: 700">% de Serv. Voluntario</label>

                  <input type="number" class="form-control mb-1" style="text-transform: uppercase"
                    placeholder="% Serv. Voluntario" formControlName="propina" max="100"
                    onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;"
                    onkeyup='if (this.value.length > 3 ) this.value ="";if (this.value> 100) this.value ="";' min="0" />
                </div>
                <div class="form-group col-md-2" style="padding-right: 5px; padding-left: 5px">
                  <label for="inputDep" style="font-weight: 700">Generar ticket al vender</label>

                  <select required class="form-control mb-1" formControlName="imprimir_ticket" style="height: 27.2px">
                    <option disabled selected value="">Escoger...</option>
                    <option value="1">SI</option>
                    <option value="0">NO</option>
                  </select>

                  <span *ngIf="campoEsValido('imprimir_ticket')" class="alert-danger px-2 rounded">*Campo
                    requerido</span>
                </div>

                <div class="col-md-12" style="margin-left: -10px; padding-top: 10px">
                  <h6 class="mb-4" style="color: #375c9de6">
                    - Configuración impuesto al consumo de bolsas
                  </h6>
                </div>

                <div class="form-group col-md-2" style="padding-right: 5px; padding-left: 5px">
                  <label for="valor_bolsa" style="font-weight: 700">Valor de la bolsa</label>

                  <input id="valor_bolsa" type="number" class="form-control mb-1" style="text-transform: uppercase"
                    placeholder="Valor de la bolsa" formControlName="valor_bolsa"
                    onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;"
                    onkeyup='if (this.value.length > 4 ) this.value ="";' min="0" />
                </div>
              </ng-container>
              <ng-container *ngIf="activeConfigPos">

                <div class="col-md-12" style="margin-left: -10px; padding-top: 10px">
                  <h6 class="mb-4" style="color: #375c9de6">
                    - Configuración factura POS
                  </h6>
                </div>

                <div class="form-group col-md-3" style="padding-right: 5px; padding-left: 5px">
                  <label for="inputAddress" style="font-weight: 700">Resolución POS</label>
                  <input class="form-control mb-1" placeholder="Escriba la resolución POS"
                    formControlName="resolucion_pos">
                </div>

                <div class="form-group col-md-3">
                  <label for="inputAddress" style="font-weight: 700">Prefijo POS</label>
                  <input type="text" class="form-control mb-1" placeholder="Prefijo POS" formControlName="prefijo" />
                </div>

                <div class="form-group col-md-3">
                  <label for="inputAddress" style="font-weight: 700">Rango Desde POS</label>
                  <input type="number" class="form-control mb-1" placeholder="Inicial POS"
                    formControlName="rango_inicial_pos" min="0"
                    onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;" />
                </div>
                <div class="form-group col-md-3">
                  <label for="inputAddress" style="font-weight: 700">Rango Hasta POS</label>
                  <input type="number" class="form-control mb-1" placeholder="Final" formControlName="rango_final_pos"
                    min="0" onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;" />
                </div>

                <div class="form-group col-md-3">
                  <label for="inputAddress" style="font-weight: 700">Fecha Resolución*</label>
                  <input type="date" class="form-control mb-1" style="text-transform: uppercase"
                    placeholder="Número Consecutivo POS" formControlName="pos_resolution_date" />
                </div>

                <div class="form-group col-md-3">
                  <label for="inputAddress" style="font-weight: 700">Generado a la fecha</label>
                  <input type="number" class="form-control mb-1" style="text-transform: uppercase"
                    placeholder="Generado a la fecha" formControlName="pos_generated_to_date" />
                </div>

                <div class="form-group col-md-3">
                  <label for="inputAddress" style="font-weight: 700">Fecha Desde (Vigencia) POS</label>
                  <input type="date" class="form-control mb-1" placeholder="Fecha Desde"
                    formControlName="vigencia_inicial_pos" />
                </div>
                <div class="form-group col-md-3">
                  <label for="inputAddress" style="font-weight: 700">Fecha Hasta (Vigencia) POS</label>
                  <input type="date" class="form-control mb-1" placeholder="Fecha Hasta"
                    formControlName="vigencia_final_pos" />
                </div>

                <div class="form-group col-md-3">
                  <label for="inputAddress" style="font-weight: 700">Número Consecutivo POS</label>
                  <input type="number" class="form-control mb-1" style="text-transform: uppercase"
                    placeholder="Número Consecutivo POS" formControlName="consecutivo_venta" />
                </div>

                <div class="row col-md-12">

                  <div class="col-md-12" style="margin-left: -10px; padding-top: 10px">
                    <h6 class="mb-4" style="color: #375c9de6">
                      - Notas de créditos
                    </h6>
                  </div>

                  <div class="form-group col-md-3">
                    <label for="prefijo_nota_pos" style="font-weight: 700">Prefijo nota ajuste*</label>
                    <input type="text" id="prefijo_nota_pos" class="form-control mb-1" placeholder="Prefijo"
                      formControlName="prefijo_nota_pos" />
                    <span *ngIf="campoEsValido('prefijo_nota_pos')" class="alert-danger rounded px-2">*Requerido</span>
                  </div>

                  <div class="form-group col-md-3">
                    <label for="inputAddress" style="font-weight: 700">Rango Desde </label>
                    <input type="number" class="form-control mb-1" placeholder="Inicial" formControlName="pos_nc_from"
                      min="0" onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;" />
                  </div>
                  <div class="form-group col-md-3">
                    <label for="inputAddress" style="font-weight: 700">Rango Hasta</label>
                    <input type="number" class="form-control mb-1" placeholder="Final" formControlName="pos_nc_to"
                      min="0" onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;" />
                  </div>

                  <div class="form-group col-md-3">
                    <label for="consec_nota_pos" style="font-weight: 700">Consecutivo nota ajuste*</label>
                    <input class="form-control mb-1" placeholder="Consecutivo nota ajuste"
                      formControlName="consec_nota_pos" maxlength="14" />
                    <span *ngIf="campoEsValido('consec_nota_pos')" class="alert-danger rounded px-2">*Requerido</span>
                  </div>

                </div>
              </ng-container>

              <ng-container *ngIf="activeNominaElectronica">
                
                <div class="form-row col-12">
                  <div
                    class="col-md-12"
                    style="margin-left: -10px; padding-top: 10px"
                  >
                    <h6 class="mb-4" style="color: #375c9de6">
                      - Configuración Nómina Electrónica
                    </h6>
                  </div>

                  <div class="form-group col-md-3">
                    <label for="ne_prefix" style="font-weight: 700"
                      >Prefijo nota crédito*</label
                    >
                    <input
                      type="text"
                      id="ne_prefix"
                      class="form-control mb-1"
                      placeholder="Prefijo"
                      formControlName="ne_prefix"
                    />
                    <span
                      *ngIf="campoEsValido('ne_prefix')"
                      class="alert-danger rounded px-2"
                      >*Requerido</span
                    >
                  </div>

                  <div class="form-group col-md-3">
                    <label for="inputAddress" style="font-weight: 700"
                      >Rango Desde
                    </label>
                    <input
                      type="number"
                      class="form-control mb-1"
                      placeholder="Inicial"
                      formControlName="ne_from"
                      min="0"
                      onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;"
                    />
                  </div>
                  <div class="form-group col-md-3">
                    <label for="inputAddress" style="font-weight: 700"
                      >Rango Hasta</label
                    >
                    <input
                      type="number"
                      class="form-control mb-1"
                      placeholder="Final"
                      formControlName="ne_to"
                      min="0"
                      onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;"
                    />
                  </div>

                  <div class="form-group col-md-3">
                    <label for="consec_ne" style="font-weight: 700"
                      >Consecutivo*</label
                    >
                    <input
                      class="form-control mb-1"
                      placeholder="Consecutivo"
                      formControlName="consec_ne"
                      maxlength="14"
                    />
                    <span
                      *ngIf="campoEsValido('consec_ne')"
                      class="alert-danger rounded px-2"
                      >*Requerido</span
                    >
                  </div>
                </div>

                <div class="form-row col-12">
                  <div
                    class="col-md-12"
                    style="margin-left: -10px; padding-top: 10px"
                  >
                    <h6 class="mb-4" style="color: #375c9de6">
                      - Notas Nómina Electrónica
                    </h6>
                  </div>

                  <div class="form-group col-md-3">
                    <label for="ne_crpn_prefix" style="font-weight: 700"
                      >Prefijo nota crédito*</label
                    >
                    <input
                      type="text"
                      id="ne_crpn_prefix"
                      class="form-control mb-1"
                      placeholder="Prefijo"
                      formControlName="ne_crpn_prefix"
                    />
                    <span
                      *ngIf="campoEsValido('ne_crpn_prefix')"
                      class="alert-danger rounded px-2"
                      >*Requerido</span
                    >
                  </div>

                  <div class="form-group col-md-3">
                    <label for="inputAddress" style="font-weight: 700"
                      >Rango Desde
                    </label>
                    <input
                      type="number"
                      class="form-control mb-1"
                      placeholder="Inicial"
                      formControlName="ne_crpn_from"
                      min="0"
                      onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;"
                    />
                  </div>
                  <div class="form-group col-md-3">
                    <label for="inputAddress" style="font-weight: 700"
                      >Rango Hasta</label
                    >
                    <input
                      type="number"
                      class="form-control mb-1"
                      placeholder="Final"
                      formControlName="ne_crpn_to"
                      min="0"
                      onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;"
                    />
                  </div>

                  <div class="form-group col-md-3">
                    <label for="consec_nota_ne" style="font-weight: 700"
                      >Consecutivo nota crédito*</label
                    >
                    <input
                      class="form-control mb-1"
                      placeholder="Consecutivo nota crédito"
                      formControlName="consec_nota_ne"
                      maxlength="14"
                    />
                    <span
                      *ngIf="campoEsValido('consec_nota_ne')"
                      class="alert-danger rounded px-2"
                      >*Requerido</span
                    >
                  </div>
                </div>

                <div class="form-row col-8">
                  <div
                    class="col-md-12"
                    style="margin-left: -10px; padding-top: 10px"
                  >
                    <div formArrayName="horasExtras">
                      <table
                        class="table table-hover table-striped content-table table-bordered"
                        style="border: 0px"
                      >
                        <thead style="background: #e9e9e9">
                          <tr>
                            <th colspan="2" style="text-align: center">
                              Configurar los tipos de horas
                            </th>
                          </tr>
                          <tr
                            style="color: rgb(44, 44, 44); text-align: center"
                          >
                            <th scope="col">Tipo Hora</th>
                            <th scope="col">Porcentaje</th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container
                            *ngFor="
                              let hora of horasExtras.controls;
                              let i = index
                            "
                            [formGroupName]="i"
                          >
                            <tr>
                              <td style="text-transform: uppercase">
                                {{ hora.get("nombre").value }}
                              </td>
                              <td>
                                <div style="display: flex; align-items: center">
                                  <input
                                    class="form-control rounded"
                                    style="
                                      text-align: right;
                                      font-size: 15px;
                                      width: 150px;
                                    "
                                    id="porcentaje"
                                    type="number"
                                    formControlName="porcentaje"
                                  />
                                  <span
                                    style="
                                      margin-left: 5px;
                                      font-weight: bold;
                                      font-size: 15px;
                                    "
                                    >%</span
                                  >
                                </div>
                              </td>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="activeConfigElectronc">
                <div class="form-row col-md-12" style="padding-right: 0px">
                  <!--   <div class="col-md-12" style="margin-left: -10px; padding-top: 10px">
                    <h6 class="mb-4" style="color: #375c9de6">
                      - Facturación electrónica DIAN
                    </h6>
                  </div> -->
                  <div class="form-group col-md-12">
                    <div class="custom-control custom-switch">
                      <input (change)="changeFacturaElectronica($event)" type="checkbox" class="custom-control-input"
                        id="factura_elect" formControlName="factura_elect">
                      <label style="font-weight: bold; margin-bottom: 0px; padding-top: 3px;"
                        class="custom-control-label" for="factura_elect">
                        ¿Factura electrónicamente?
                      </label>
                    </div>
                  </div>
                </div>

                <div *ngIf="!this.hasProveedorElectronicoId">
                  <button class="btn btn-success">Deseo habilitar la facturación electrónica</button>
                </div>

                <div *ngIf="this.hasProveedorElectronicoId" class="form-row col-md-12" style="padding-right: 0px">

                  <h6 class="col-12 mb-2" style="color: #375c9de6">
                    - Paso 1: Configuración de la compañía
                  </h6>

                  <div class="form-group col-md-4" style="padding-right: 5px; padding-left: 5px">
                    <label for="nombre_fac" style="font-weight: 700">Nombre/Razón Social*</label>
                    <label type="text" id="nombre_fac" class="form-control mb-1" style="text-transform: uppercase"
                      placeholder="Nombre/Razón Social"
                      formControlName="nombre_fac">{{this.form.get('nombre_fac')!.value}}</label>
                    <span *ngIf="campoEsValido('nombre_fac')" class="alert-danger rounded px-2">*El nombre es
                      requerido</span>
                  </div>

                  <div class="form-group col-md-4" style="padding-right: 5px; padding-left: 5px">
                    <label for="type_regime_id" style="font-weight: 700">Tipo Régimen*</label>
                    <select class="form-control mb-1" formControlName="type_regime_id" id="type_regime_id">
                      <option [value]="null">Escoja tipo de régimen</option>
                      <option value="1">Responsable de IVA</option>
                      <option value="2">No Responsable de IVA</option>
                    </select>
                    <span *ngIf="campoEsValido('type_regime_id')" class="alert-danger rounded px-2">*El tipo de
                      régimen es
                      requerido</span>
                  </div>

                  <div class="form-group col-md-4" style="padding-right: 5px; padding-left: 5px">
                    <label for="merchant_registration" style="font-weight: 700">Registro Mercantil</label>
                    <input type="text" id="merchant_registration" class="form-control mb-1"
                      style="text-transform: uppercase" placeholder="Registro Mercantil"
                      formControlName="merchant_registration" />
                  </div>

                  <div class="row col-md-12">

                    <h6 class="col-12 mb-2" style="color: #375c9de6">
                      - Paso 2: Configuración de resolución
                    </h6>

                    <div class="form-group col-md-3">
                      <label for="resolucion_num_dian" style="font-weight: 700">Resolución DIAN*</label>
                      <input (keyup)="requireFacturacionElectronica()" class="form-control mb-1" placeholder="Escriba la resolución DIAN"
                        formControlName="resolucion_num_dian" maxlength="14" />
                      <span *ngIf="campoEsValido('resolucion_num_dian')"
                        class="alert-danger rounded px-2">*Requerido</span>
                    </div>

                    <div class="form-group col-md-2">
                      <label for="prefijo_dian" style="font-weight: 700">Prefijo*</label>
                      <input type="text" id="prefijo_dian" class="form-control mb-1" placeholder="Prefijo"
                        formControlName="prefijo_dian" />
                      <span *ngIf="campoEsValido('prefijo_dian')" class="alert-danger rounded px-2">*Requerido</span>
                    </div>

                    <div class="form-group col-md-2">
                      <label for="min_numero_dian" style="font-weight: 700">Rango Desde*</label>
                      <input type="number" id="min_numero_dian" class="form-control mb-1" placeholder="Inicial"
                        formControlName="min_numero_dian" min="0"
                        onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;" />
                      <span *ngIf="campoEsValido('min_numero_dian')" class="alert-danger rounded px-2">*Requerido</span>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="max_numero_dian" style="font-weight: 700">Rango Hasta*</label>
                      <input type="number" id="max_numero_dian" class="form-control mb-1" placeholder="Final"
                        formControlName="max_numero_dian" min="0"
                        onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;" />
                      <span *ngIf="campoEsValido('max_numero_dian')" class="alert-danger rounded px-2">*Requerido</span>
                    </div>

                    <div class="form-group col-md-3">
                      <label for="clave_tecnica_dian" style="font-weight: 700">Clave Facturación*</label>
                      <textarea class="form-control mb-1" placeholder="Escriba la clave técnica"
                        formControlName="clave_tecnica_dian"></textarea>
                      <span *ngIf="campoEsValido('clave_tecnica_dian')"
                        class="alert-danger rounded px-2">*Requerido</span>
                    </div>

                    <div class="form-group col-md-3">
                      <label for="resolucion_date" style="font-weight: 700">Fecha Resolución*</label>
                      <input type="date" id="resolucion_date" class="form-control mb-1" placeholder="Fecha Resolución"
                        formControlName="resolucion_date" />
                      <span *ngIf="campoEsValido('resolucion_date')" class="alert-danger rounded px-2">*Requerido</span>
                    </div>

                    <div class="form-group col-md-3">
                      <label for="generated_to_date" style="font-weight: 700">Generado a la fecha*</label>
                      <input type="number" id="generated_to_date" class="form-control mb-1"
                        placeholder="Generado a la fecha" formControlName="generated_to_date" min="0"
                        onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;" />
                      <span *ngIf="campoEsValido('generated_to_date')"
                        class="alert-danger rounded px-2">*Requerido</span>
                    </div>

                    <div class="form-group col-md-3">
                      <label for="fecha_inicio_dian" style="font-weight: 700">Fecha Desde (Vigencia)*</label>
                      <input type="date" id="fecha_inicio_dian" class="form-control mb-1" placeholder="Fecha Desde"
                        formControlName="fecha_inicio_dian" />
                      <span *ngIf="campoEsValido('fecha_inicio_dian')"
                        class="alert-danger rounded px-2">*Requerido</span>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="fecha_fin_dian" style="font-weight: 700">Fecha Hasta (Vigencia)*</label>
                      <input type="date" id="fecha_fin_dian" class="form-control mb-1" placeholder="Fecha Hasta"
                        formControlName="fecha_fin_dian" />
                      <span *ngIf="campoEsValido('fecha_fin_dian')" class="alert-danger rounded px-2">*Requerido</span>
                    </div>

                    <div class="form-group col-md-3">
                      <label for="consecutivo_fact_elect" style="font-weight: 700">Consecutivo Facturación
                        Electronica*</label>
                      <input type="number" id="consecutivo_fact_elect" class="form-control mb-1"
                        placeholder="Consecutivo" formControlName="consecutivo_fact_elect" min="0"
                        onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;" />
                      <span *ngIf="campoEsValido('consecutivo_fact_elect')"
                        class="alert-danger rounded px-2">*Requerido</span>
                    </div>

                  </div>

                  <div class="row col-md-12">

                    <div class="col-md-12" style="margin-left: -10px; padding-top: 10px">
                      <h6 class="mb-4" style="color: #375c9de6">
                        - Nota crédito
                      </h6>
                    </div>

                    <div class="form-group col-md-3">
                      <label for="prefijo_credito" style="font-weight: 700">Prefijo nota crédito*</label>
                      <input type="text" id="prefijo_credito" class="form-control mb-1" placeholder="Prefijo"
                        formControlName="prefijo_credito" />
                      <span *ngIf="campoEsValido('prefijo_credito')" class="alert-danger rounded px-2">*Requerido</span>
                    </div>

                    <div class="form-group col-md-2">
                      <label for="nc_from" style="font-weight: 700">Rango Desde*</label>
                      <input type="number" id="nc_from" class="form-control mb-1" placeholder="Inicial"
                        formControlName="nc_from" min="0"
                        onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;" />
                      <span *ngIf="campoEsValido('nc_from')" class="alert-danger rounded px-2">*Requerido</span>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="nc_to" style="font-weight: 700">Rango Hasta*</label>
                      <input type="number" id="nc_to" class="form-control mb-1" placeholder="Final"
                        formControlName="nc_to" min="0"
                        onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;" />
                      <span *ngIf="campoEsValido('nc_to')" class="alert-danger rounded px-2">*Requerido</span>
                    </div>

                    <div class="form-group col-md-3">
                      <label for="consec_not_cred" style="font-weight: 700">Consecutivo nota crédito*</label>
                      <input class="form-control mb-1" placeholder="Consecutivo nota crédito"
                        formControlName="consec_not_cred" maxlength="14" />
                      <span *ngIf="campoEsValido('consec_not_cred')" class="alert-danger rounded px-2">*Requerido</span>
                    </div>

                  </div>

                  <div class="row col-md-12">

                    <div class="col-md-12" style="margin-left: -10px; padding-top: 10px">
                      <h6 class="mb-4" style="color: #375c9de6">
                        - Nota débito
                      </h6>
                    </div>

                    <div class="form-group col-md-3">
                      <label for="prefijo_debito" style="font-weight: 700">Prefijo nota débito*</label>
                      <input type="text" id="prefijo_debito" class="form-control mb-1" placeholder="Prefijo"
                        formControlName="prefijo_debito" />
                      <span *ngIf="campoEsValido('prefijo_debito')" class="alert-danger rounded px-2">*Requerido</span>
                    </div>

                    <div class="form-group col-md-2">
                      <label for="nd_from" style="font-weight: 700">Rango Desde*</label>
                      <input type="number" id="nd_from" class="form-control mb-1" placeholder="Inicial"
                        formControlName="nd_from" min="0"
                        onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;" />
                      <span *ngIf="campoEsValido('nd_from')" class="alert-danger rounded px-2">*Requerido</span>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="nd_to" style="font-weight: 700">Rango Hasta*</label>
                      <input type="number" id="nd_to" class="form-control mb-1" placeholder="Final"
                        formControlName="nd_to" min="0"
                        onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;" />
                      <span *ngIf="campoEsValido('nd_to')" class="alert-danger rounded px-2">*Requerido</span>
                    </div>

                    <div class="form-group col-md-3">
                      <label for="consec_not_deb" style="font-weight: 700">Consecutivo nota débito*</label>
                      <input class="form-control mb-1" placeholder="Consecutivo nota débito"
                        formControlName="consec_not_deb" maxlength="14" />
                      <span *ngIf="campoEsValido('consec_not_deb')" class="alert-danger rounded px-2">*Requerido</span>
                    </div>

                  </div>

                </div>
              </ng-container>
              <ng-container *ngIf="activeConfigDocumentSoport">
                <div class="form-row col-md-12" style="padding-right: 0px">
                  <!--  <div class="col-md-12" style="margin-left: -10px; padding-top: 10px">
                    <h6 class="mb-4" style="color: #375c9de6">
                      - Configuración documento soporte
                    </h6>
                  </div>-->
                  <div class="form-group col-md-3" style="padding-right: 5px; padding-left: 5px">
                    <label for="inputAddress" style="font-weight: 700">Resolución</label>
                    <input class="form-control mb-1" placeholder="Escriba la resolución del documento soporte"
                      formControlName="resolucion_dcs">
                  </div>

                  <div class="form-group col-md-3">
                    <label for="inputAddress" style="font-weight: 700">Prefijo</label>
                    <input type="text" class="form-control mb-1" placeholder="Prefijo documento soporte"
                      formControlName="prefijo_dcs" />
                  </div>

                  <div class="form-group col-md-3">
                    <label for="inputAddress" style="font-weight: 700">Rango Desde </label>
                    <input type="number" class="form-control mb-1" placeholder="Inicial"
                      formControlName="rango_inicial_dcs" min="0"
                      onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;" />
                  </div>
                  <div class="form-group col-md-3">
                    <label for="inputAddress" style="font-weight: 700">Rango Hasta</label>
                    <input type="number" class="form-control mb-1" placeholder="Final"
                      formControlName="rango_final_dcs" min="0"
                      onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;" />
                  </div>

                  <div class="form-group col-md-3">
                    <label for="ds_resolution_date" style="font-weight: 700">Fecha Resolución*</label>
                    <input type="date" id="ds_resolution_date" class="form-control mb-1" placeholder="Fecha Resolución"
                      formControlName="ds_resolution_date" />
                    <span *ngIf="campoEsValido('ds_resolution_date')"
                      class="alert-danger rounded px-2">*Requerido</span>
                  </div>

                  <div class="form-group col-md-3">
                    <label for="ds_generated_to_date" style="font-weight: 700">Generado a la fecha*</label>
                    <input type="number" id="ds_generated_to_date" class="form-control mb-1"
                      placeholder="Generado a la fecha" formControlName="ds_generated_to_date" min="0"
                      onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;" />
                    <span *ngIf="campoEsValido('ds_generated_to_date')"
                      class="alert-danger rounded px-2">*Requerido</span>
                  </div>  

                  <div class="form-group col-md-3">
                    <label for="inputAddress" style="font-weight: 700">Fecha Desde (Vigencia)</label>
                    <input type="date" class="form-control mb-1" placeholder="Fecha Desde"
                      formControlName="vigencia_inicial_dcs" />
                  </div>
                  <div class="form-group col-md-3">
                    <label for="inputAddress" style="font-weight: 700">Fecha Hasta (Vigencia)</label>
                    <input type="date" class="form-control mb-1" placeholder="Fecha Hasta"
                      formControlName="vigencia_final_dcs" />
                  </div>

                  <div class="form-group col-md-3">
                    <label for="inputAddress" style="font-weight: 700">Número Consecutivo</label>
                    <input type="number" class="form-control mb-1" placeholder="Número Consecutivo"
                      formControlName="consec_dcs" />
                  </div>

                </div>
                <div class="row col-md-12">

                  <div class="col-md-12" style="margin-left: -10px; padding-top: 10px">
                    <h6 class="mb-4" style="color: #375c9de6">
                      - Notas de ajustes
                    </h6>
                  </div>

                  <div class="form-group col-md-3">
                    <label for="prefijo_nota_dcs" style="font-weight: 700">Prefijo nota ajuste*</label>
                    <input type="text" id="prefijo_nota_dcs" class="form-control mb-1" placeholder="Prefijo"
                      formControlName="prefijo_nota_dcs" />
                    <span *ngIf="campoEsValido('prefijo_nota_dcs')" class="alert-danger rounded px-2">*Requerido</span>
                  </div>

                  <div class="form-group col-md-3">
                    <label for="inputAddress" style="font-weight: 700">Rango Desde </label>
                    <input type="number" class="form-control mb-1" placeholder="Inicial" formControlName="ds_nc_from"
                      min="0" onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;" />
                  </div>
                  <div class="form-group col-md-3">
                    <label for="inputAddress" style="font-weight: 700">Rango Hasta</label>
                    <input type="number" class="form-control mb-1" placeholder="Final" formControlName="ds_nc_to"
                      min="0" onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;" />
                  </div>

                  <div class="form-group col-md-3">
                    <label for="consec_nota_dcs" style="font-weight: 700">Consecutivo nota ajuste*</label>
                    <input class="form-control mb-1" placeholder="Consecutivo nota crédito"
                      formControlName="consec_nota_dcs" maxlength="14" />
                    <span *ngIf="campoEsValido('consec_nota_dcs')" class="alert-danger rounded px-2">*Requerido</span>
                  </div>

                </div>
              </ng-container>
            </div>
          </div>

          <div class="row w-100 align-items-center">
            <div class="col text-right">
              <br />

              <button type="submit" class="btn btn-primary btn-shadow" [disabled]="lockbutton" (click)="click()">
                <span *ngIf="lockbutton" class="spinner-border spinner-border-sm" role="status"
                  aria-hidden="true"></span>
                Actualizar
              </button>

              <!-- <button  class="btn btn-primary regular-button"> Actualizar </button> -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="text-center">
    <img src="./assets/logos/Loading-Puvesoft.gif" style="width: 6rem; height: 6rem; margin-top: 10%" />
  </div>
</ng-template>