<!-- MODAL PARA LA GESTION DEL PAGO -->
<div
  class="modal fade"
  bsModal
  #staticModalPagar="bs-modal"
  [config]="{ backdrop: 'static' }"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-static-name"
>
  <div class="modal-dialog" style="min-width: 80% !important; display: none">
    <div class="modal-content">
      <div class="modal-header" style="background: #2c539e; padding: 15px">
        <h4
          id="dialog-static-name"
          class="modal-title pull-left"
          style="color: aliceblue"
        >
          Información de pago
        </h4>
        <div class="d-flex">
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="closeModalPagar()"
          >
            <span aria-hidden="true" style="color: aliceblue">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <button class="btn btn-secondary" (click)="imprimir()">Imprimir</button>
        <div
          #print_ticket
          id="print_ticket"
          [ngStyle]="{
            'max-width': anchoTicket + 'px',
            'font-size': sizeLetraTicket + 'px'
          }"
          style="
            font-style: normal;
            line-height: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
          "
        >
          <!-- Sucursal -->

          <table style="width: 100%; font-family: 'Arial'">
            <tr *ngIf="type != 1">
              <td style="text-align: center">
                <h4 style="text-align: cente">{{ titleTicket }}</h4>
              </td>
            </tr>

            <tr>
              <td style="text-align: center">
                <h3
                  style="
                    text-align: center;
                    margin-bottom: 5px;
                    font-size: 14px;
                  "
                >
                  {{ sucursal?.nombre }}
                </h3>
              </td>
            </tr>
            <tr *ngIf="sucursal?.logo && type != 3">
              <td style="text-align: center">
                <img src="{{ sucursal?.logo }}" alt="Puvesoft" />
              </td>
            </tr>
            <tr *ngIf="type != 3 && sucursal?.business_name">
              <td
                [ngStyle]="{
                  'font-size': sizeLetraTicket + 'px'
                }"
                style="text-align: center"
              >
                <span>{{ sucursal?.business_name }}</span>
              </td>
            </tr>
            <tr *ngIf="type != 3 && sucursal?.nit">
              <td
                [ngStyle]="{
                  'font-size': sizeLetraTicket + 'px'
                }"
                style="text-align: center"
              >
                <span>{{ sucursal?.nit }}<label *ngIf="sucursal?.dv"> - {{sucursal?.dv}}</label></span>
              </td>
            </tr>
            <tr *ngIf="type != 3">
              <td
                [ngStyle]="{
                  'font-size': sizeLetraTicket + 'px'
                }"
                style="text-align: center"
              >
                <span
                  >{{ sucursal?.direccion }} - {{ sucursal?.telefono }}</span
                >
              </td>
            </tr>
            <tr *ngIf="type != 3">
              <td
                [ngStyle]="{
                  'font-size': sizeLetraTicket + 'px'
                }"
                style="text-align: center"
              >
                <span
                  >{{ sucursal?.departamento }} -
                  {{ sucursal?.municipio }}</span
                >
              </td>
            </tr>
            <tr *ngIf="type != 3 && sucursal?.regimen">
              <td
                [ngStyle]="{
                  'font-size': sizeLetraTicket + 'px'
                }"
                style="text-transform: capitalize; text-align: center"
              >
                Regimen: {{ sucursal?.regimen }}
              </td>
            </tr>
            <tr *ngIf="type != 3 && sucursal?.type_regime_id">
              <td
                [ngStyle]="{
                  'font-size': sizeLetraTicket + 'px'
                }"
                style="text-transform: capitalize; text-align: center"
              >
                
                {{ sucursal?.type_regime_id == 1 ? 'Responsable de IVA' : 'No Responsable de IVA' }}
              </td>
            </tr>

            <ng-container *ngIf="ticket?.facturaVenta?.resolucion">

              <tr>
                <td *ngIf="type != 3 && ticket?.facturaVenta?.resolucion?.resolucion"
                  [ngStyle]="{
                    'font-size': sizeLetraTicket + 'px'
                  }"
                  style="text-align: center"
                >
                Resolución: {{ ticket?.facturaVenta?.resolucion?.resolucion }}
                </td>
              </tr>

              <tr *ngIf="type != 3 && ticket?.facturaVenta?.resolucion?.prefijo">
                <td
                  [ngStyle]="{
                    'font-size': sizeLetraTicket + 'px'
                  }"
                  style="text-align: center"
                >
                  Prefijo: {{ ticket?.facturaVenta?.resolucion?.prefijo }} del:
                  {{ ticket?.facturaVenta?.resolucion?.rango_desde }} al:
                  {{ ticket?.facturaVenta?.resolucion?.rango_hasta }}
                </td>
              </tr>
              <tr *ngIf="type != 3 && ticket?.facturaVenta?.resolucion?.fecha_inicio">
                <td
                  [ngStyle]="{
                    'font-size': sizeLetraTicket + 'px'
                  }"
                  style="text-align: center"
                >
                  Vigencia: {{ ticket?.facturaVenta?.resolucion?.fecha_inicio }} hasta:
                  {{ ticket?.facturaVenta?.resolucion?.fecha_fin }}
                </td>
              </tr>

            </ng-container>

          </table>

          <table
            [ngStyle]="{
              'font-size': sizeLetraTicket + 'px'
            }"
            style="
              width: calc(100% - 35px);
              margin-top: 15px;
              font-family: 'Arial';
            "
          >
            <tr *ngIf="type != 3">
              <td style="text-align: center">
                <span style="text-align: center; font-weight: bold">
                  <ng-container *ngIf="ticket?.facturaVenta?.f_electronica == 1"
                    >Recibo de ventas</ng-container
                  >
                  <ng-container *ngIf="ticket?.facturaVenta?.f_electronica == 2"
                    >Factura pos electrónica</ng-container
                  >
                  <ng-container *ngIf="ticket?.facturaVenta?.f_electronica == 3"
                    >Factura electrónica de ventas</ng-container
                  >
                </span>
                <span><br />{{ ticket?.facturaVenta?.cod_factura }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="text-align: center; font-weight: bold"
                  >Fecha:</span
                >
                <span>{{ ticket?.facturaVenta?.fecha_credito }}</span>
              </td>
            </tr>
            <tr *ngIf="ticket?.facturaVenta?.fecha_vencimiento_credito">
              <td>
                <span style="text-align: center; font-weight: bold"
                  >Fecha Venc:</span
                >
                <span>{{
                  ticket?.facturaVenta?.fecha_vencimiento_credito
                    | date : "y-MM-d"
                }}</span>
              </td>
            </tr>

            <tr *ngIf="type != 3">
              <td>
                <span style="text-align: center; font-weight: bold"
                  >NIT/Doc cliente:</span
                >
                <span>{{ ticket?.cliente?.documento }}<label *ngIf="ticket?.cliente?.dv"> - {{ticket?.cliente?.dv}}</label></span>
              </td>
            </tr>
            <tr *ngIf="type != 3">
              <td>
                <span style="text-align: center; font-weight: bold"
                  >Cliente:</span
                >
                <span>{{ ticket?.cliente?.nombre }}</span>
              </td>
            </tr>
            <tr *ngIf="sucursal?.tipo_sucursal == 2">
              <td>
                <span style="text-align: center; font-weight: bold"
                  >Atendió:</span
                >
                <span>{{ ticket?.atendio?.nombre }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="text-align: center; font-weight: bold">Caja:</span>
                <span>{{ ticket?.usuario_caja?.nombre }}</span>
              </td>
            </tr>
            <tr *ngIf="ticket?.mesa">
              <td>
                <span style="text-align: center; font-weight: bold">Mesa:</span>
                <span>{{ ticket?.mesa?.nombre }}</span>
              </td>
            </tr>
            <tr *ngIf="type != 3 && ticket?.domicilio?.direccion">
              <td>
                <span style="text-align: center; font-weight: bold"
                  >Dir domicilio:</span
                >
                <span>{{ ticket?.domicilio?.direccion }}</span>
              </td>
            </tr>
            <tr *ngIf="type != 3 && ticket?.domicilio?.telefono">
              <td>
                <span style="text-align: center; font-weight: bold"
                  >Tel domicilio:</span
                >
                <span>{{ ticket?.domicilio?.telefono }}</span>
              </td>
            </tr>
          </table>

          <table
            [ngStyle]="{
              'font-size': sizeLetraTicket + 'px'
            }"
            style="width: 100%; margin-top: 15px; font-family: 'Arial'"
          >
            <thead>
              <tr>
                <!-- <th>It.</th> -->
                <th>CAN</th>
                <th style="text-align: center">UND</th>
                <th *ngIf="canShowTotals" style="text-align: right">VALOR</th>
                <th
                  *ngIf="canShowTotals"
                  style="text-align: right"
                  [ngStyle]="{
                    'font-size': sizeLetraTicket - 2 + 'px'
                  }"
                >
                  DESC
                </th>
                <th *ngIf="canShowTotals" style="text-align: right">TOTAL</th>
              </tr>
            </thead>
            <tbody>
              <ng-container
                *ngFor="let item of ticket?.facturaVentaDetalle; let i = index"
              >
                <ng-container
                  *ngIf="type != 3 || (type == 3 && item.imprimir == 1)"
                >
                  <tr>
                    <!-- 
                    <td style="text-align: left">
                      {{i+1}}
                    </td> -->
                    <td style="text-align: center">
                      {{
                        type == 3
                          ? chooseFormateo(item.num_cocina)
                          : chooseFormateo(item.cantidad)
                      }}
                    </td>
                    <td style="text-align: center">{{ item.sigla }}</td>
                    <td *ngIf="canShowTotals" style="text-align: right">
                      {{ formatearNumber(item.valor_venta) }}
                    </td>
                    <td
                      *ngIf="canShowTotals"
                      style="text-align: right"
                      [ngStyle]="{
                        'font-size': sizeLetraTicket - 2 + 'px'
                      }"
                    >
                      {{
                        formatearNumber(
                          item.por_des
                            ? (item.por_des + "").substring(0, 5)
                            : item.por_des
                        )
                      }}%
                    </td>
                    <td *ngIf="canShowTotals" style="text-align: right">
                      {{ formatearNumber(item.total) }}
                    </td>
                  </tr>
                  <tr>
                    <td
                      *ngIf="canShowTotals; else columns"
                      colspan="5"
                      style="padding-bottom: 6px"
                    >
                      {{ item.nombre }}
                      <ng-container *ngIf="item.cod_barra">
                        <p style="margin-top: 0px; margin-bottom: 10px;">
                          <span style="font-weight: bold">Cód: </span>
                          {{ item?.cod_barra }}
                        </p>
                      </ng-container>
                       
                     <ng-container *ngIf="item.adicion_insumo && item.adicion_insumo !== 'null'">
                      <ng-container *ngIf="toJson(item.adicion_insumo)?.length > 0">
                          <div>
                              <label style="font-size: 12px;"><b>ADICIONES</b></label>
                          </div>
                          <p
                              style="margin-top: 0px; margin-bottom: 2px; padding-left: 8px; font-size: 14px;"
                              *ngFor="let subitem of toJson(item.adicion_insumo)"
                          >
                              * {{ chooseFormateo(subitem.cantidad_adicionar) }} - {{ subitem.nombre }}
                          </p>
                      </ng-container>
                  </ng-container>
                        <ng-container *ngIf="item.caracterizacion_imei && toJson(item.caracterizacion_imei).length > 0">
                        <label style="font-size: 12px;"><b>IMEI</b></label>
                         <p
                        style="margin-top: 0px; margin-bottom: 2px; padding-left: 8px; font-size: 14px;"
                        *ngFor="let subitem of toJson(item.caracterizacion_imei)"
                      >
                        * {{ subitem.detalle_imei }}
                      </p>
                        </ng-container>
                        
                        <ng-container *ngIf="item.caracterizacion && toJson(item.caracterizacion).length > 0">
                        <label><b style="font-size: 12px;">CARACTERIZACIÓN</b></label>

                         <p
                        style="margin-top: 0px; margin-bottom: 2px; padding-left: 8px; font-size: 14px;"
                        *ngFor="let subitem of toJson(item.caracterizacion)"
                      >
                        * {{ subitem.detalle }}
                      </p>
                        </ng-container>
                       
                    </td>
                    <ng-template #columns>
                      <td colspan="5" style="padding-bottom: 6px">
                        {{ item.nombre }}
                        <ng-container *ngIf="item.cod_barra">
                          <p style="margin-top: 0px; margin-bottom: 0">
                            <span style="font-weight: bold">Cód: </span>
                            {{ item?.cod_barra }}
                          </p>
                        </ng-container>
                       
                      <ng-container *ngIf="item.adicion_insumo && item.adicion_insumo !== 'null'">
                      <ng-container *ngIf="toJson(item.adicion_insumo)?.length > 0">
                          <div>
                              <label><b>Adiciones</b></label>
                          </div>
                          <p
                              style="margin-top: 0px; margin-bottom: 2px; padding-left: 8px; font-size: 8px;"
                              *ngFor="let subitem of toJson(item.adicion_insumo)"
                          >
                              * {{ chooseFormateo(subitem.cantidad_adicionar) }} - {{ subitem.nombre }}
                          </p>
                      </ng-container>
                       <ng-container *ngIf="item.caracterizacion && toJson(item.caracterizacion).length > 0">
                        <label><b>Carcterización</b></label>

                         <p
                        style="margin-top: 0px; margin-bottom: 2px; padding-left: 8px; font-size: 10px;"
                        *ngFor="let subitem of toJson(item.caracterizacion)"
                      >
                        * {{ subitem.detalle }}
                      </p>
                        </ng-container>
                  </ng-container>
                      </td>
                    </ng-template>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
            <tfoot *ngIf="canShowTotals">
              <tr>
                <td colspan="4" style="text-align: right">SUBTOTAL</td>
                <td style="text-align: right">
                  {{ moneda }}{{
                    formatearNumber(
                      ticket?.subtotal_s_imp - ticket?.facturaVenta?.total_bolsa
                    )
                  }}
                </td>
              </tr>
              <tr *ngIf="ticket?.iva5 > 0">
                <td colspan="4" style="text-align: right">IVA 5%</td>
                <td style="text-align: right">
                  {{ moneda }}{{ formatearNumber(ticket?.iva5) }}
                </td>
              </tr>
              <tr *ngIf="ticket?.iva16 > 0">
                <td colspan="4" style="text-align: right">IVA 16%</td>
                <td style="text-align: right">
                  {{ moneda }}{{ formatearNumber(ticket?.iva16) }}
                </td>
              </tr>
              <tr *ngIf="ticket?.iva19 > 0">
                <td colspan="4" style="text-align: right">IVA 19%</td>
                <td style="text-align: right">
                  {{ moneda }}{{ formatearNumber(ticket?.iva19) }}
                </td>
              </tr>
              <tr *ngIf="ticket?.impuestoConsumo > 0">
                <td colspan="4" style="text-align: right">ICO</td>
                <td style="text-align: right">
                  {{ moneda }}{{ formatearNumber(ticket?.impuestoConsumo) }}
                </td>
              </tr>
              <tr *ngIf="ticket?.impuestoICUI > 0">
                <td colspan="4" style="text-align: right">ICUI</td>
                <td style="text-align: right">
                  {{ moneda }}{{ formatearNumber(ticket?.impuestoICUI) }}
                </td>
              </tr>
              <tr *ngIf="ticket?.facturaVenta?.total_bolsa > 0">
                <td colspan="4" style="text-align: right">IMP. BOLSAS</td>
                <td style="text-align: right">
                  {{ moneda }}{{ formatearNumber(ticket?.facturaVenta?.total_bolsa) }}
                </td>
              </tr>
              <tr *ngIf="ticket?.facturaVenta?.descuento > 0">
                <td colspan="4" style="text-align: right">DESCUENTO</td>
                <td style="text-align: right">
                  - {{ moneda }}{{ formatearNumber(ticket?.facturaVenta?.descuento_s_imp) }}
                </td>
              </tr>
              <tr  *ngIf="+(ticket?.facturaVenta?.total_retencion)  > 0">
                <td colspan="4" style="text-align: right">TOTAL FACTURA</td>
                <td style="text-align: right">
                  {{ moneda }}{{ formatearNumber((ticket?.facturaVenta?.subtotal)-(ticket?.facturaVenta?.descuento)) }}
                </td>
              </tr>
              <tr *ngIf="ticket?.facturaVenta?.propina > 0">
                <td colspan="4" style="text-align: right">SERV. VOLUNTARIO</td>
                <td style="text-align: right">
                  {{ moneda }}{{ formatearNumber(ticket?.facturaVenta?.propina) }}
                </td>
              </tr>
              <tr *ngIf="ticket?.domicilio">
                <td colspan="4" style="text-align: right">DOMICILIO</td>
                <td style="text-align: right">
                  {{ moneda }}{{ formatearNumber(ticket?.domicilio?.valor) }}
                </td>
              </tr>
              <tr *ngIf="+(ticket?.facturaVenta?.total_retencion)  > 0">
                <td colspan="4" style="text-align: right">RETENCIÓN</td>
                <td style="text-align: right">
                  - {{ moneda }}{{ formatearNumber(ticket?.facturaVenta?.total_retencion) }}
                </td>
              </tr>
              <tr>
                <th colspan="4" style="text-align: right">TOTAL</th>
                <th style="text-align: right">{{ moneda }}{{ formatearNumber(total - (ticket?.facturaVenta?.total_retencion ?? 0)) }}</th>
              </tr>
              <tr *ngIf="ticket?.facturaVenta?.efectivo > 0">
                <td colspan="4" style="text-align: right">EFECTIVO</td>
                <td style="text-align: right">
                  {{ moneda }}{{ formatearNumber(ticket?.facturaVenta?.efectivo) }}
                </td>
              </tr>
              <tr *ngIf="ticket?.facturaVenta?.cambio > 0">
                <td colspan="4" style="text-align: right">CAMBIO</td>
                <td style="text-align: right">
                  {{ moneda }}{{ formatearNumber(ticket?.facturaVenta?.cambio) }}
                </td>
              </tr>
              <tr
                *ngIf="
                  metodoPagoSelected &&
                  metodoPagoSelected.id != 1 &&
                  metodoPagoSelected.id != 10
                "
              >
                <td colspan="4" style="text-align: right">
                  {{ metodoPagoSelected.nombre }}
                </td>
                <td style="text-align: right">{{ moneda }}{{ formatearNumber(total) }}</td>
              </tr>
              <tr *ngFor="let item of ticket?.combinados">
                <td colspan="4" style="text-align: right">
                  {{ item?.nombre }}
                </td>
                <td style="text-align: right">
                  {{ moneda }}{{ formatearNumber(item?.valor) }}
                </td>
              </tr>
              <tr style="font-size: 11px;">
                <td colspan="3" style="padding-top: 10px" valign="top">
                  Total Items: {{ ticket?.facturaVentaDetalle.length }}
                </td>
                <td colspan="2" style="padding-top: 10px"  valign="top">
                  Total Productos: {{ totalProductos }}
                </td>
              </tr>
            </tfoot>
          </table>

          <!-- Mostrar solo en ticket de comanda -->
          <div
            *ngIf="
              ticket?.mesa?.nota_mesa != null &&
              ticket?.facturaVenta?.estado_id == 2
            "
            class="mt-3 mb-3"
            style="
              font-weight: bolder;
              text-align: start;
              border: 1px solid black;
            "
          >
            <p
              [ngStyle]="{
                'font-size': sizeLetraTicket + 'px'
              }"
              class="m-0"
            >
              NOTA: {{ ticket?.mesa?.nota_mesa }}
            </p>
          </div>

          <!-- Mostrar solo en ticket de pago -->
          <div
            *ngIf="
              ticket?.facturaVenta?.nota != null &&
              ticket?.facturaVenta?.estado_id != 2
            "
            class="mt-3 mb-3"
            style="
              font-weight: bolder;
              text-align: start;
              border: 1px solid black;
              font-family: Arial;
            "
          >
            <p
              class="m-0"
              [ngStyle]="{
                'font-size': sizeLetraTicket + 'px'
              }"
            >
              NOTA: {{ ticket?.facturaVenta?.nota }}
            </p>
          </div>

          <div
            *ngIf="ticket?.facturaVenta?.legalStatus == 'REJECTED'"
            style="
              -ms-transform: rotate(-35deg);
              -o-transform: rotate(-35deg);
              transform: rotate(-35deg);
              text-align: center;
              background-color: rgb(255, 255, 255);
              font-size: 28px;
              padding-top: 10px;
              padding-bottom: 10px;
              margin: auto;
              margin-top: 70px;
              margin-bottom: 70px;
              border: 1px solid rgb(255, 0, 0);
              width: 230px;
            "
          >
            <span
              style="
                border-top: 2px solid 1px solid rgb(255, 0, 0);
                border-bottom: 1px solid 1px solid rgb(255, 0, 0);
                font-weight: bolder;
                color: rgb(255, 0, 0);
              "
            >
              RECHAZADO POR LA DIAN
            </span>
          </div>

          <div
            *ngIf="ticket?.facturaVenta?.estado_id == 1 && showPaid"
            style="
              -ms-transform: rotate(-35deg);
              -o-transform: rotate(-35deg);
              transform: rotate(-35deg);
              text-align: center;
              background-color: rgb(255, 255, 255);
              font-size: 28px;
              padding-top: 10px;
              padding-bottom: 10px;
              margin: auto;
              margin-top: 70px;
              margin-bottom: 70px;
              border: 1px solid black;
              width: 130px;
            "
          >
            <span
              style="
                border-top: 2px solid black;
                border-bottom: 1px solid black;
                font-weight: bolder;
              "
            >
              PAGADO
            </span>
          </div>

          <div *ngIf="ticket?.facturaVenta?.cufe">
            <qrcode
              style="width: 45px; text-align: center"
              [qrdata]="
                'https://catalogo-vpfe.dian.gov.co/document/searchqr?documentkey=' +
                ticket?.facturaVenta?.cufe
              "
              [allowEmptyString]="true"
              [ariaLabel]="'QR Code image with the following content...'"
              [cssClass]="'center'"
              [colorDark]="'#000000ff'"
              [colorLight]="'#ffffffff'"
              [elementType]="'svg'"
              [errorCorrectionLevel]="'M'"
              [imageHeight]="60"
              [imageWidth]="60"
              [margin]="4"
              [scale]="1"
              [title]="'A custom title attribute'"
              [width]="230"
            ></qrcode>
          </div>

          <div
            style="
              text-align: center;
              margin-top: 8px;
              font-family: Arial;
              word-wrap: break-word;
              overflow-wrap: break-word;
            "
            *ngIf="ticket?.facturaVenta?.cufe"
          >
            <p
              [ngStyle]="{
                'font-size': sizeLetraTicket + 'px'
              }"
              style="padding: 0 !important; margin: 0 !important"
            >
              <label *ngIf="ticket?.facturaVenta?.f_electronica == 2"
                >Cude:
              </label>
              <label *ngIf="ticket?.facturaVenta?.f_electronica == 3"
                >Cufe:
              </label>
            </p>
            <p
              [ngStyle]="{
                'font-size': sizeLetraTicket + 'px'
              }"
              style="padding: 0 !important; margin: 0 !important"
            >
              {{ ticket?.facturaVenta?.cufe }}
            </p>
          </div>

          <div
            *ngIf="type != 3"
            [ngStyle]="{
              'font-size': sizeLetraTicket + 'px',
              'white-space': 'pre-wrap'
            }"
            style="text-align: center; font-family: Arial"
          >
            <p>{{ sucursal?.texto_venta }}</p>
          </div>

          <div style="text-align: center; margin-top: 8px; font-family: Arial">
            <p
              style="
                font-size: 9px;
                padding: 0 !important;
                margin: 0 !important;
              "
            >
              Generado por {{ nameSite }}
            </p>
            <p
              style="
                font-size: 9px;
                padding: 0 !important;
                margin: 0 !important;
              "
            >
              Visítanos {{ ticket?.infoRevendedor?.web }} | Cel:
              {{ ticket?.infoRevendedor?.telefono }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
