@page{
    margin: 0;
}

#mi-label-especifico {
  /* 1. Fuerza que todo el texto aparezca en minúsculas */
  text-transform: lowercase; 
}

#mi-label-especifico::first-letter {
  /* 2. Sobrescribe la regla anterior solo para la primera letra, 
        convirtiéndola a mayúscula */
  text-transform: uppercase; 
}