<!-- MODAL PARA LA GESTION DEL PAGO -->
<div class="modal fade" bsModal #staticModalPagar="bs-modal" [config]="{ backdrop: 'static' }" tabindex="-1"
  role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog" style="min-width: 50% !important">
    <div class="modal-content">
      <div class="modal-header" style="background: #2c539e; padding: 15px">
        <h4 id="dialog-static-name" class="modal-title pull-left" style="color: aliceblue">
          Información de pago
        </h4>
        <div class="d-flex">
          <h4 *ngIf="formPago.get('metodo_pago').value == 10" id="dialog-static-name" class="modal-title p-2"
            style="color: white; border: 1px solid white; border-radius: 13px">
            Por cobrar: {{ moneda }}
            {{ formatearNumber(formPago.get("valor_adeudado")?.value) }}
          </h4>
          <button type="button" class="close" aria-label="Close" (click)="closeModalPagar()">
            <span aria-hidden="true" style="color: aliceblue">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <form [formGroup]="formPago" autocomplete="off">
              <!--   <pre>{{formPago.value | json}}</pre>  -->
          <ng-container *ngIf="this.disableClient || showClientCredit">
            <div class="row" style="margin-bottom: 10px">
              <div class="form-group col-md-12 mb-1" *ngIf="
                  sucursal.proveedor_electronico_id != null &&
                  sucursal.proveedor_electronico_id != '' && sucursal.is_fact_elect
                ">
                <label for="" style="font-weight: bold; margin-bottom: 5px">Tipo de factura</label>
                <div class="row" style="margin-bottom: 10px">
                  <ng-container *ngFor="let item of tipoFactura">
                    <ng-container
                      *ngIf="(item.id !== 2 || (item.id === 2 && sucursal.resolucion_pos)) && (item.id !== 3 || (item.id === 3 && sucursal.resolucion_num_dian))">
                      <div class="form-group col-md-4 mb-1 custom-radio"
                        [ngClass]="{'alert alert-primary': formPago.get('tipo_factura').value == item.id}">
                        <input class="custom-radio-input" type="radio" [value]="item.id" formControlName="tipo_factura"
                          id="radio-{{ item.id }}" />
                        <label for="radio-{{ item.id }}" style="color:#000000; font-weight: bold;">
                          {{ item.nombre }}
                        </label>
                      </div>
                    </ng-container>
                  </ng-container>

                </div>
              </div>
              <div class="form-group col-md-6 mb-1" style="text-align: center">
                <label for="" style="font-weight: bold; margin-bottom: 0px">Cliente</label>
                <ng-select placeholder="Buscar cliente" formControlName="cliente_id"
                  (search)="getBuscarCliente($event.term)" (change)="onItemSelected($event)"
                  (keydown)="onKeyDown($event)">
                  <ng-option *ngFor="let car of _dataCliente" [value]="car.id">{{ car.documento + " - " + car.nombre
                    }}</ng-option>
                </ng-select>
              </div>
              <div class="col-md-6 mb-1 d-flex flex-column justify-content-end" style="text-align: center">
                <button class="btn btn-primary" (click)="openCreateClient()">
                  Crear Cliente
                </button>
              </div>
            </div>
          </ng-container>

          <div class="row">
            <div class="form-group col-md-6 mb-0" style="text-align: center">
              <div  *ngIf="comisionVenta == 1" style="
                  text-align: center;
                  margin-left: 0px;
                  margin-right: 0px;
                  margin-bottom: 10px;
                ">
              <div>
              <label style="font-weight: bold; margin-bottom: 0px">Otorgar Comisión a</label>
                <select class="form-control mb-1 rounded"
                  style="height: 30px;padding-bottom: 0px; " formControlName="empleado">
                  <option disabled selected value="">SELECCIONAR EMPLEADO...</option>
                  <ng-container *ngFor="let item of dataEmpleado">
                    <option *ngIf="item.porcentaje_comision>0"  [value]="item.id">
                      {{ item.nombre_completo }}
                    </option>
                  </ng-container>
                </select>
              </div>
              </div>

              <div class="row mb-1 rounded" style="
                  text-align: center;
                  background-color: #dde7f7;
                  margin-left: 0px;
                  margin-right: 0px;
                ">
                <div class="form-group col-md-12 pt-2" style="text-align: left; padding-left: 50px">
                  <input class="form-check-input rounded" type="checkbox" id="inputCortesia" formControlName="cortesia"
                    (change)="changeStateCourtesy($event)" />
                  <label for="inputCortesia" style="
                      font-weight: bold;
                      margin-bottom: 0px;
                      padding-top: 3px;
                    ">Cortesía:
                    <br />
                    <span style="font-size: xx-small">Está opción se usa para obsequiar el pedido</span></label>
                </div>
              </div>

              <!-- Ingresar propina -->
              <div *ngIf="!formPago.get('cortesia').value" class="row mb-1 rounded" style="
                  text-align: center;
                  background-color: #dde7f7;
                  margin-left: 0px;
                  margin-right: 0px;
                ">
                <div class="form-group col-md-12 pt-2" style="
                    text-align: left;
                    margin-bottom: 10px;
                    padding-left: 50px;
                  ">
                  <input class="form-check-input rounded" type="checkbox" id="isPropina" formControlName="isPropina"
                    (change)="changeStatePropina($event)" />
                  <label for="isPropina" style="
                      font-weight: bold;
                      margin-bottom: 0px;
                      padding-top: 3px;
                    ">Serv. Voluntario:</label>
                </div>

                <ng-container *ngIf="formPago.get('isPropina').value">
                  <div class="form-group col-md-12" style="text-align: center">
                    <hr style="width: 100%; margin-top: 0px; margin-bottom: 5px" />
                    <h6 class="text-center">
                      Valor Serv. Voluntario:
                      <span style="font-weight: bold">{{ moneda }}
                        {{
                        formatearNumber(formPago.value.valor_propina)
                        }}</span>
                    </h6>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="" style="
                        font-weight: bold;
                        margin-bottom: 0px;
                        font-size: 9px;
                      ">Tipo de Serv. Voluntario</label>
                    <select required class="form-control mb-1 rounded" style="
                        height: 27px;
                        padding-bottom: 0px;
                        padding-top: 0px;
                        text-align: center;
                      " formControlName="porcentaje_propina" (change)="changePercentage($event)">
                      <!-- (change)="llamarInsumo()" -->
                      <option [ngValue]="false">Valor</option>
                      <option [ngValue]="true">Porcentaje</option>
                    </select>
                  </div>
                  <div *ngIf="
                      this.formPago.value.porcentaje_propina == true;
                      else mostrarValor
                    " class="form-group col-md-6" style="text-align: center">
                    <label for="" style="
                        font-weight: bold;
                        margin-bottom: 0px;
                        font-size: 9px;
                      ">% Serv. Voluntario</label>
                    <!-- onkeyup='if (this.value < 0 || this.value>100 || this.value.length > 12 ) this.value =""' -->
                    <input class="form-control rounded"
                      onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;" min="0"
                      maxlength="12" type="number" style="
                        text-align: center;
                        font-size: 13px !important;
                        font-weight: bold;
                      " formControlName="porcentaje" (keyup)="propinaFormatForm()" (click)="propinaFormatForm()" />
                  </div>

                  <ng-template #mostrarValor>
                    <div class="form-group col-md-6" style="text-align: center">
                      <label for="" style="
                          font-weight: bold;
                          margin-bottom: 0px;
                          font-size: 9px;
                        ">{{ moneda }} valor</label>
                      <input style="text-align: center" class="form-control rounded"
                        onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;" min="0"
                        maxlength="12" sty type="number" formControlName="valor_propina" (keyup)="propinaFormatForm()"
                        (click)="propinaFormatForm()" />
                    </div>
                  </ng-template>
                </ng-container>
              </div>

              <div class="row mb-1 rounded" style="
                  text-align: center;
                  background-color: #dde7f7;
                  margin-left: 0px;
                  margin-right: 0px;
                ">
                <div class="form-group col-md-12 pt-2" style="
                    text-align: left;
                    margin-bottom: 10px;
                    padding-left: 50px;
                  ">
                  <input id="inputDomicilio" class="form-check-input rounded" type="checkbox" formControlName="domicile"
                    (change)="changeStateDomicile($event)" />
                  <label for="inputDomicilio" style="
                      font-weight: bold;
                      margin-bottom: 0px;
                      padding-top: 3px;
                    ">Envío a Domicilio:</label>
                </div>
              </div>
              <div class="row">
                <ng-container *ngIf="formPago.get('domicile').value">
                  <div class="form-group col-md-12" style="text-align: center">
                    <label for="" style="font-weight: bold; margin-bottom: 0px">Domiciliario</label>
                    <select class="form-control mb-1 rounded" style="
                        height: 30px;
                        padding-bottom: 0px;
                        padding-top: 0px;
                      " formControlName="domiciliario">
                      <option [value]="null" selected disabled>
                        Escoja un domiciliario
                      </option>
                      <option [value]="item.id" *ngFor="let item of domiciliarios">
                        {{ item.nombre }}
                      </option>
                    </select>
                  </div>

                  <div class="form-group col-md-6" style="text-align: center">
                    <label for="" style="font-weight: bold; margin-bottom: 0px">Valor Domicilio</label>
                    <input style="text-align: end" class="form-control rounded"
                      onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;" min="0"
                      maxlength="12" placeholder="0" type="number" formControlName="valor_domicilio"
                      (keyup)="updateTotal()" />
                  </div>

                  <div class="form-group col-md-6" style="text-align: center">
                    <label for="" style="font-weight: bold; margin-bottom: 0px">Teléfono Cliente:</label>
                    <input class="form-control rounded"
                      onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;"
                      maxlength="10" maxlength="15" placeholder="Dígite teléfono" type="number"
                      formControlName="telefono_cliente" />
                  </div>

                  <div class="form-group col-md-6" style="text-align: center">
                    <label for="" style="font-weight: bold; margin-bottom: 0px">Dirección Cliente:</label>
                    <input class="form-control rounded" placeholder="Dígite dirección"
                      formControlName="direccion_cliente" />
                  </div>
                  
                  <div class="form-group col-md-6" style="text-align: center">
                    <label for="" style="font-weight: bold; margin-bottom: 0px">Fecha Entrega:</label>
                    <input type="date" class="form-control rounded"
                      formControlName="fecha_entrega" />
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="col-md-6" *ngIf="!formPago.get('cortesia').value" style="text-align: center">
              <div class="form-group">
                <label for="" style="font-weight: bold; margin-bottom: 0px">Método de pago</label>
                <select required class="form-control mb-1 rounded"
                  style="height: 30px; padding-bottom: 0px; padding-top: 0px" formControlName="metodo_pago"
                  (change)="changeMetodoPago($event)">
                  <!-- (change)="llamarInsumo()" -->
                  <option *ngFor="let item of dataMetodoPagos" [value]="item.id">
                    {{ item.nombre }}
                  </option>
                </select>
              </div>

              <div class="row row-cols-3" *ngIf="formPago.get('metodo_pago').value == 1">
                <div class="col pb-1">
                  <button class="btn border btn-block btn-price btn-sm" style="border-radius: 8px !important;
    font-size: small !important;" (click)="sumPrice(500)">500</button>
                </div>
                <div class="col pb-1">
                  <button class="btn border btn-block btn-price btn-sm" style="border-radius: 8px !important;
    font-size: small !important;" (click)="sumPrice(1000)">1,000</button>
                </div>
                <div class="col pb-1">
                  <button class="btn border btn-block btn-price btn-sm" style="border-radius: 8px !important;
    font-size: small !important;" (click)="sumPrice(2000)">2,000</button>
                </div>
                <div class="col pb-1">
                  <button class="btn border btn-block btn-price btn-sm" style="border-radius: 8px !important;
    font-size: small !important;" (click)="sumPrice(5000)">5,000</button>
                </div>
                <div class="col pb-1">
                  <button class="btn border btn-block btn-price btn-sm" style="border-radius: 8px !important;
    font-size: small !important;" (click)="sumPrice(10000)">10,000</button>
                </div>
                <div class="col pb-1">
                  <button class="btn border btn-block btn-price btn-sm" style="border-radius: 8px !important;
    font-size: small !important;" (click)="sumPrice(20000)">20,000</button>
                </div>
                <div class="col pb-1">
                  <button class="btn border btn-block btn-price btn-sm" style="border-radius: 8px !important;
    font-size: small !important;" (click)="sumPrice(50000)">50,000</button>
                </div>
                <div class="col pb-1">
                  <button class="btn border btn-block btn-price btn-sm" style="border-radius: 8px !important;
    font-size: small !important;" (click)="sumPrice(100000)">100,000</button>
                </div>
                <div class="col pb-1" *ngIf="formPago.get('valor_total').value != ( +(formPago.get('valor_efectivo').value+'').replaceAll(',', '') )">
                  <button class="btn border btn-block btn-price btn-sm" style="border-radius: 8px !important;
    font-size: small !important;" (click)="setPriceTotal()">V. Exacto</button>
                </div>
              </div>

              <div class="row">
                <ng-container *ngIf="formPago.get('metodo_pago').value == 10">
                  <ng-container formArrayName="combinado">
                    <ng-container *ngFor="let pay of combinado.controls; let k = index" [formGroupName]="k">
                      <div class="form-group col-6" style="text-align: center; font-size: 9px !important">
                        <label for="" style="font-weight: bold; margin-bottom: 0px">{{ pay.get("nombre").value
                          }}</label>
                        <input type="text"
                          onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;"
                          inputmode="numeric" (keyup)="valor_pagar_input(k, $event.target.value)"
                          (input)="changeDeuda(k)" formControlName="price" placeholder="0"
                          class="form-control mb-1 rounded" style="
                            height: 30px;
                            padding-bottom: 0px;
                            padding-top: 0px;
                            text-align: end;
                          " />
                      </div>
                    </ng-container>
                  </ng-container>
                </ng-container>

                <ng-container *ngIf="
                    (formPago.get('metodo_pago').value == 10 &&
                    hasValueItemSeparatePlan()) ||
                    formPago.get('metodo_pago').value == 13
                  ">
                  <div class="form-group col-6" style="text-align: center">
                    <label for="" style="
                        font-weight: bold;
                        margin-bottom: 0px;
                        font-size: 9px;
                      ">FECHA VENCIMIENTO PLAN SEPARE</label>
                    <input type="date" class="form-control mb-1 rounded" formControlName="date_plan_separe" style="
                        height: 30px;
                        padding-bottom: 0px;
                        padding-top: 0px;
                      " />
                  </div>
                </ng-container>

                <ng-container *ngIf="
                    (formPago.get('metodo_pago').value == 10 &&
                      hasValueItemCredit()) ||
                    formPago.get('metodo_pago').value == 2
                  ">
                  <div class="form-group col-6" style="text-align: center">
                    <label for="" style="
                        font-weight: bold;
                        margin-bottom: 0px;
                        font-size: 9px;
                      ">FECHA VENCIMIENTO CRÉDITO</label>
                    <input type="date" class="form-control mb-1 rounded" formControlName="date_credito" style="
                        height: 30px;
                        padding-bottom: 0px;
                        padding-top: 0px;
                      " />
                  </div>
                </ng-container>
              </div>
            </div>
          </div>

          <ng-container *ngIf="!formPago.get('cortesia').value">
            <div class="row" style="margin-top: 10px" *ngIf="formPago.get('metodo_pago').value == 1">
              <div class="form-group col-md-6" style="text-align: right">
                <label for="" style="
                    font-weight: bold;
                    padding-top: 3px;
                    margin-bottom: 0px;
                    font-size: 15px;
                  ">EFECTIVO:</label>
              </div>
              <div class="form-group col-md-6" style="text-align: center">
                <input class="form-control mb-1 rounded" (keyup)="valor_pagar($event.target.value)"
                  onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;"
                  formControlName="valor_efectivo" placeholder="Digite valor pagado" [min]="totalPagar" type="text"
                  inputmode="numeric" [value]="formPago.get('valor_efectivo').value" style="
                    font-size: 18px !important;
                    font-weight: bold;
                    color: #267000;
                    text-align: center;
                  " />
                <!-- (keyup)="formatearEfectivo()" -->
                <!-- <label>{{ valorPagar }}</label> -->
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6" style="text-align: right">
                <label for="" style="
                    text-align: right;
                    padding-top: 10px;
                    font-size: 15px;
                    color: #0a4a8d;
                    font-weight: bold !important;
                  ">TOTAL A PAGAR:</label>
              </div>
              <div class="form-group col-md-6" style="text-align: center">
                <label for="" style="
                    font-size: 29px;
                    font-weight: bold;
                    color: #000000d1;
                    text-align: center;
                  " class="mb-1 rounded">
                  {{ moneda }} {{ formatearNumber(formPago.get("valor_total").value) }}
                </label>
                <div *ngIf="formPago.value.isPropina">
                  Incluye Serv. Voluntario
                </div>
              </div>
            </div>
          </ng-container>

          <div class="d-flex justify-content-end align-items-center">
            <button *ngIf="!isDisabled; else buttonPagando" type="button" class="btn btn-primary btn-shadow"
              (click)="onSubmit()" [disabled]="isDisabled">
              Procesar
            </button>
            <ng-template #buttonPagando>
              <button class="btn btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Procesando...
              </button>
            </ng-template>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  .custom-radio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .custom-radio-input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .custom-radio label {
    margin: 0;
    cursor: pointer;
    /* Hace que el cursor cambie a una mano cuando se pasa sobre el texto */
  }
</style>